<div class="container">
    <div class="row">
        <div class="update2-about-container">
            <div class="pos-relative update2-about-content-container">
            <div class="update2-about-img">
                <img src="app/images/update-about-2.jpg" alt="img" class="img-responsive">
            </div>

            <div class="update2-about-context">
                <h3 class="heading pb40">about us</h3>
                <p class="text-center pb80">AQUA started as an ambitious idea to promoting the economy and foot traffic in <br class="hidden-xs">
                    up-and-coming neighborhoods. As the business flourish our efforts has been successfully supported by the same
                    <br class="hidden-xs">
                    community we love, and it has been a wonderful journey as we strive to provide the highest level <br class="hidden-xs">
                    of service to our supporters. <br>
                    * * *<br>
                    Blooming in the in the harsh conditions of rocky hills, Lilac flowers are beautiful and fragrant; a perfect symbol for
                    <br class="hidden-xs">
                    New York dwellers who faces and overcomes challenges everyday.</p>
            </div>
        </div>
        </div>
    </div>
</div>