.onepage-advertise-container {
  background-color: $main-color2;
  .onepage-advertise-text {
    padding-top: 150px;
    padding-left: 60px;

    @media screen and (max-width: 891px) {
        padding-top: 80px;
    }

    @media screen and (max-width: $screen-sm) {
      padding-top: 40px;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
      button {
        margin-bottom: 40px;
      }
    }

    p {
      color: #fff;
      letter-spacing: 2px;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 1px;


    }
    button {
       font-size: 10px;
      padding: 10px 35px;
      margin-top: 30px;
      font-size: 14px;
     }
  }
}