a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-size: $font-size-3;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: $main-color5;

}


hr {
  height: 1px;
  border: none;
  background-color: $main-color6;
}