.button-primary {
  color: $main-color5;
  border: 1px solid;
  line-height: $line-height;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  padding: 5px 25px 5px 25px;
  transition: all 0.5s;
  outline: none;
  &:hover {
    background-color: $main-color1;
    color: #fff;
    a {
      color: white;
    }
    border-color: $main-color1;
  }

  a {
    display:  block;
    width: 100%;
    height: 100%;
    color: $main-color5;
  }
}

.btn-transparent {
  background-color: transparent;
  padding: 10px 35px 10px 35px;
  border: 1px solid;
  outline: none;
  font-size: 12px;
  text-transform: uppercase;
}

.btn-green {
  background-color: $main-color1;
  color: white;
  border: none;
  &:hover {
    background-color: #333333;
    border-color: #333333;
  }
}

.btn-white {
  background-color: #fff;
  color: #0f0f0f;
  border: none;
  &:hover {
    background-color: $main-color1;
    color: white;
    border-color: $main-color1;
  }
}

.btn-dark {
  background-color: $main-color5;
  color: #fff;
}