.heading {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  letter-spacing: 1.6px;
  color: $main-color5;
  font-weight: 400;
  &:after {
    border-top: 1px solid;
    margin-left: auto;
    margin-right: auto;
    content: " ";
    width: 30px;
    display: block;
    height: 0px;
    margin-top: 15px;
  }
}

.heading-no-line {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1.6px;
  color: $main-color5;
  font-size: $font-size-3;
}