

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.right-0 {
  right: 0;
}

.roboto-slab {
  font-family: 'Roboto Slab', serif;
}

.josefin {
  font-family: "Josefin Sans", sans-serif;
}

.float-none {
  float: none !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.text-right-i {
  text-align: right !important;
}

.text-left-i {
  text-align: left !important;
}

.text-center-i {
  text-align: center !important;
}

.dis-block {
  display: block !important;
}