.transition-05{
    transition: all 0.5s;
}

.upper-case {
    text-transform: uppercase;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.dis-table {
    display: table;
}

.dis-table-cell {
    display: table-cell;
}

.ver-align-middle {
    vertical-align: middle;
}

.border-solid {
    border: 1px solid;
}

//// WIDTH 100% ///
.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

