.staff {
  color: $main-color5;
  h5 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    letter-spacing: 1.6px;
    font-size: $font-size-3;
  }

  i {
    color: $main-color1;
    font-size: $font-size-3;
    font-weight: 300;
  }

  ul{
    li{
      display: inline;
      i {
        transition: all 0.5s;
        color: $main-color5;
        margin-left: 3px;
        margin-right: 3px;
      }

      a {
        &:hover {
          i {
            color: $main-color1;
            }
          }
        }
      }
    }
  }

.staff-container{
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  //margin-bottom: 50px;
  //padding-bottom: 30px;
}