//////////////////////////////////   TYPOGRAPHY   ////////////////////////////////

$font-size-1: 36px;
$font-size-2: 24px;
$font-size-3: 16px;
$font-size-4: 14px;
$line-height: 1.8;

////////////////////////////////////////SCREEN////////////////////////////////////

$screen-xlg: 1800px;
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 480px;

////////////////////////////////////////COLOUR/////////////////////////////////////

$main-color1: #84C348;
$main-color2: #DEB6B6;
$main-color3: #ABDCE1;
$main-color4: #D9D8C1;
$main-color5: #444444;
$main-color6: #AAAAAA;
$overlay-background-color: rgba(255, 255, 255, 0.9);
