.footer-section {
  padding-bottom: 50px;
  h4 {
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 20px;
    letter-spacing: 1.6px;
  }

  p {
    line-height: 1.8;
    height: 100px;
  }

  input {
    transition: all 0.4s;
    width: 100%;
    height: 40px;
    border: 1px solid;
    &:focus {
      outline: none;
      border: 1px solid $main-color1;
    }
    padding-left: 20px;

  }


  @media screen and (max-width: $screen-lg) {
    text-align: center;
    h4 {
      text-align: center;
    }
  }
}


#mail-icon {
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0;
  right: 0;
  background-color: $main-color5;
  color: #FFFFFF;
  font-size: 16px;
  padding-top: 10px;
  text-align: center;
  transition: all 0.4s;
  &:hover {
    background-color: $main-color1;
    border: none;
  }
}


#open-time {
  p {
    line-height: 2.5;
    margin-top: -5px;
  }



}

.separator {
  border-left: 1px solid $main-color6;
  display: block;
  height: 200px;
  width: 1px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $screen-lg) {
    visibility: hidden;
  }
}

.footer-container {
  border-top: 1px solid $main-color6;
  border-bottom: 1px solid $main-color6;
}


.footer-icon-social {
  padding-top: 40px;
  text-align: right;
  margin-left: 0;
  padding-left: 0;
  @media screen and (max-width: $screen-lg) {
    text-align: center;
  }
  li {
    margin-left: 5px;
    display: inline-block;
    font-family: "aqua";
  }

  a {
    color: $main-color5;
    transition: all 0.4s;
    &:hover {
      color: $main-color1;
    }
  }
}

.back-top {
  width: 40px;
  height: 40px;
  border: 1px solid $main-color5;
  background-color: #fff;
  color: $main-color5;
  position: fixed;
  right: 30px;
  bottom: 50px;
  line-height: 48px;
  font-size: 24px;
  z-index: 900;
  text-align: center;
  transition: all 0.4s;
  &:hover {
    background-color: $main-color1;
    border: 1px solid $main-color1;
    color: #fff;
  }
}
