.home-basic-intro {
  text-align: center;
  padding: 0px 20% 5% 20%;
  @media screen and (max-width: $screen-lg) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (max-width: $screen-md) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (max-width: $screen-xs) {
    padding-left: 5px;
    padding-right: 5px;
  }
}