.update1-team-member {
  .update1-team-member-img {
    transition: all 0.4s;
    img {
      transition: all 0.4s;
      opacity: 0.9;
      transform: scale(0.97);
    }

    &:hover {
      img {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}