.banner-frame {
  padding: 10px;
  margin-top: 120px;
  margin-bottom: 70px;
  border: 1px solid #aaaaaa;
  display: block;
}

.banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 30px 0px 20px;
  color: $main-color5;
  h1 {
    margin: 0;
    font-size: 46px;
    font-family: 'Roboto Slab', serif;
  }

  .banner-blur {
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
  }
}
