img {
  margin-left: auto;
  margin-right: auto;
}

.overlay{
  width: 100%;
  height: 100%;
  display: table;
  transition: all 0.4s;
  opacity: 0;
  h5 {
    margin-bottom: 0;
    letter-spacing: 3px;
    font-size: 16px !important;
  }
}


.images-div {
  .single-image{
    margin-bottom: 30px;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;


    .inner-block {
      padding: 20px;
    }
  }

    &:nth-child(2n+1) {
      .single-image {
        @media screen and (min-width: $screen-sm + 1) and (max-width: $screen-md - 1) {
        float: right;}
        &:hover {
          .overlay {
            background-color: rgba(217, 216, 193, 0.7);
            opacity: 1;
          }
        }
      }
    }
    &:nth-child(2n) {
      .single-image {
        @media screen and (min-width: $screen-sm + 1) and (max-width: $screen-md - 1) {
        float: left;}
        &:hover {
          .overlay {
            background-color: rgba(198, 217, 198, 0.7);
            opacity: 1;
          }
        }
      }
    }
}
.inner-block {

  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
