.page-404-container {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.error-text-content {
  padding-top: 100px;
  padding-bottom: 100px;
  @media screen and (max-width: 402px){
    padding-top: 50px;
    padding-bottom: 50px;
  }
  p {
    font-size: 72px;
    margin-bottom: 0;
  }

  h6 {
    font-size: 18px;
    font-style: italic;
    padding-bottom: 40px;
  }

  button {
    font-size: 12px;
    padding: 10px 40px 10px 40px;
  }
}

.seperator-404 {
  hr {
    width: 90%;
    margin-top: 5px;
  }
}