<div class="seperator-404">
    <aqua-template data-template="navigation/main-navigation"></aqua-template>
    <hr>
</div>
<div class="page-404-container" style="background-image: url(app/images/404.jpg)">
    <div class="col-md-8 text-center error-text-content">
        <p>404 OOPS!</p>
        <h6>The page you’re looking for not found</h6>
        <button class="button-primary btn-green">back</button>
    </div>
</div>
<div>
    <aqua-template data-template="footer"></aqua-template>
</div>