<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <a href="">
                <div class="banner-frame">
                    <div class="banner text-center zi-1 pos-relative" style="background-image: url(app/images/banner.jpg)">
                        <div class="pos-absolute banner-blur"></div>
                        <div class="banner-text pos-relative zi-1">
                            <h1>SALE 30%</h1>
                            <i>for messagefoot</i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>