<div class="footer-container-dark">
    <div class="container ">
        <div class="row">
            <div class="footer-container pt60 pb30 clearfix">
                <div class="col-lg-3 col-md-4 col-sm-6 footer-section">
                    <h4 class="heading-no-line">new business</h4>
                    <p>info@domain.com /<br>hello.domain.com<br>123.645.87 / 028.299.024</p>
                    <button class="button-primary btn-transparent">want to subscribe us ?</button>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 footer-section">
                    <h4 class="heading-no-line">our address</h4>
                    <p>1234 Frankford ave<br> Philadelphia, PA 12457</p>
                    <button class="button-primary btn-transparent">careers</button>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 footer-section" id="open-time">
                    <h4 class="heading-no-line">open time</h4>
                    <p>8:00am - 11:30am<br>

                        2:00am - 5:30pm<br>

                        7:00pm - 10:00pm</p>
                </div>
                <div class="col-lg-1 hidden-sm hidden-md hidden-xs">
                    <div class="separator"></div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-8 footer-section">
                    <h4 class="heading-no-line">newsletter signup</h4>
                    <div class="pos-relative">
                        <input type="text">
                        <a href="" id="mail-icon">
                            <i class="icon-basic-mail-open-text"></i>
                        </a>
                    </div>
                    <ul class="footer-icon-social">
                        <li><a href="#"><i class="icon-facebook ro-social-item"></i></a></li>
                        <li><a href="#"><i class="icon-twitter ro-social-item"></i></a></li>
                        <li><a href="#"><i class="icon-gplus ro-social-item"></i></a></li>
                        <li><a href="#"><i class="icon-stumbleupon ro-social-item"></i></a></li>
                        <li><a href="#"><i class="icon-tumblr ro-social-item"></i></a></li>
                        <li><a href="#"><i class="icon-vimeo ro-social-item"></i></a></li>
                        <li><a href="#"><i class="icon-pinterest ro-social-item"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble ro-social-item"></i></a></li>
                        <li><a href="#"><i class="icon-instagrem ro-social-item"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="signature text-center">
        <h5>© 2015 AQUA SPA AND BEAUTY. DESIGNED BY THEMEROYAL</h5>
    </div>
</div>
