<div class="container">
    <h3 class="heading mt60 mb55">aqua space</h3>
    <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 images-div" ng-repeat="dataitem in datablock">
                <div class="single-image pos-relative">
                    <a href="">
                    <img src="{{dataitem.link}}" alt="img" class="img-responsive">
                    <div class="pos-absolute inner-block">
                        <div class="overlay">
                            <div class="dis-table-cell ver-align-middle">
                                <h5 class="heading">dressing room</h5>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
</div>
