<h3 class="heading mb55">our team</h3>
<div class="container">
<div class="row">
    <div class="col-md-4 staff text-center" ng-repeat="dataitem in datablock">
        <div class="staff-container text-center mb40">
            <img src="{{dataitem.image}}" alt="img" class="img-responsive">
            <h5 class="mb15 mt25 mt25 mb15">{{dataitem.name}}</h5>
            <p>
                <i>{{dataitem.position}}</i>
            </p>
                <p ng-bind-html="dataitem.description">
            </p>
            <ul class="pl0">
            <li>
                <a href="">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-stumbleupon"></i>
                </a>
            </li>
        </ul>
        </div>
    </div>
</div>
</div>