.reservation-container {
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 40px;

  h4 {
    font-weight: 600;
  }

  @media screen and (max-width: $screen-xs) {
    margin-left: 20px;
    margin-right: 20px;
  }
  input {
    width: 100%;
    height: 40px;
    border: 1px solid #000000;
    padding-left: 20px;
    transition: all 0.4s;
    outline: none;
    &:focus {
      border: 1px solid $main-color1;
    }


    &:-moz-placeholder {
      color: #0f0f0f;
    }
    &:-ms-input-placeholder {
      color: #0f0f0f;
    }
    &::-webkit-input-placeholder {
      color: #0f0f0f;
    }
  }
  select {
    width: 100%;
    height: 40px;
    border: 1px solid #000000;
    background-color: #fff;
    transition: all 0.4s;
    outline: none;
    padding-left: 20px;
    &:focus {
      border: 1px solid $main-color1;
    }
  }

  button {
    width: 100%;
    height: 40px;
    background-color: $main-color5;
    color: #fff;
    font-size: 16px;
    border-radius: 0;
    border: none !important;
  }
}

.reservation-welcome {
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

.reservation-bgc{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  margin-top: 60px;
  margin-bottom: 60px;
  border: 1px solid $main-color6;
  &:after {
    position: absolute;
    content: " ";
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}