<div class="testimonial-bgc">
    <div class="container">
        <div class="row">
            <div class="testimonial-container clearfix">
                <div class="col-md-8 fader">
                    <div class=" comment-container">
                        <div class="comment text-center" ng-repeat="dataitem in datablock">
                            <h4 class="heading-no-line">{{dataitem.name}}</h4>
                            <p>{{dataitem.comment}}</p>
                            <div class="testimonial-separator"></div>
                        </div>
                    </div>
                </div>

            <div class="col-md-4 testimonial-img-container hidden-xs">
                <img src="app/images/testimonial.jpg" alt="img" class="img-responsive">
            </div>
            </div>
        </div>
    </div>
</div>