<div class="container">
    <div class="row">
        <div class="update-testimonial-container">
            <div class="slicker">
                <div ng-repeat="dataitem in datablock" aqua-slider='{
                "dots": true,
                "arrows": false,
                "infinite": true,
                "autoplay": true,
                "autoplaySpeed": 2000
            }'>
                    <div class="text-center update-testimonial-comment-container">
                        <div class="update-testimonial-img">
                            <img src="app/images/testimonial-2.jpg" alt="img" class="img-responsive">
                        </div>
                        <p id="comment-author"><span>{{dataitem.name}}</span></p>
                        <p id="comment-content">{{dataitem.comment}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>