<div class="container">
    <div class="row">
        <div class="onepage-comment-container text-center" ng-controller="onepageTestimonialController" ng-init="contentChanged = false">
            <hr>
            <div class="content">

            <h4 class="heading-no-line" id="comment-author" ng-class="{'changed' : contentChanged}">
                {{author}}
            </h4>
            <p id="comment" ng-class="{'changed' : contentChanged}">{{comment}}</p>
            </div>
            <a href="" ng-click="previousComment()" class="previous-comment"></a>
            <a href="" ng-click="nextComment()" class="next-comment"></a>
            <hr>
        </div>
    </div>
</div>