<div class="update2-slider-container slider">
    <ul>
    <li class="slider-img-container" ng-repeat="dataitem in datablock" aqua-slider-timeout>
            <div class="slider-img">
                <a href="#">
                    <img src="{{dataitem}}" alt="img" class="img-responsive">
                </a>
            </div>
    </li>
    </ul>
</div>