<div class="basic-slider" slider-no-repeat='{
                "dots": false,
                "arrows": false,
                "infinite": true,
                "autoplay": true,
                "autoplaySpeed": 2000
            }'>
    <div class="basic-slider-container pos-relative"">
        <div class="basic-slider-bgc-img">
            <img src="app/images/fw-slider1.png" alt="img" class="img-responsive">
        </div>
        <div class="basic-slide-text">
            <p>a good reminder</p>
            <div class="basic-slide-img">
                <img src="app/images/fw-slider-brand.png" alt="img" class="img-responsive">
            </div>
            <p class="dis-block">we live in a culture that values stress,like it makes us better or something.</p>
            <button class="button-primary btn-transparent">see more</button>
        </div>
        <!--<div class="basic-slide-text">-->
        <!--<h3>aqua <span>span</span></h3>-->
        <!--<p>Youth is happy because it has the capacity to see beauty. <br>Anyone who keeps the ability to see beauty never grows old.</p>-->
        <!--</div>-->
    </div>


    <div class="basic-slider-container basic-slider-container2 pos-relative">
        <div class="basic-slider-bgc-img">
            <img src="app/images/fw-slider2.png" alt="img" class="img-responsive">
        </div>

        <div class="basic-slide-text">
            <p>a good reminder</p>
            <div class="basic-slide-img">
                <img src="app/images/fw-slider-brand.png" alt="img" class="img-responsive">
            </div>
            <p class="dis-block">we live in a culture that values stress,like it makes us better or something.</p>
            <button class="button-primary btn-transparent">see more</button>
        </div>
        <!--<div class="basic-slide-text">-->
        <!--<h3>aqua <span>span</span></h3>-->
        <!--<p>Youth is happy because it has the capacity to see beauty. <br>Anyone who keeps the ability to see beauty never grows old.</p>-->
        <!--</div>-->
    </div>

</div>


<div class="fullheight-small">
    <aqua-template data-template="navigation/navbar-template"></aqua-template>
    <div class="small-logo"><img src="app/images/aqua-brand2.svg" alt="img"></div>
    <div class="pt60">
        <img src="app/images/aqua-brand2.svg" alt="img">
    </div>
    <h3>SPA AND BEAUTY HTML THEME</h3>
</div>
