<div class="fullheight-big">
    <nav class="fullheight-navbar-container">
        <div class="container">
            <div class="row">
                <div class="fullheight-navbar clearfix">
                    <div class="col-md-3">
                        <div>
                            <img src="app/images/aqua-brand2.svg" alt="img" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div>
                        <aqua-template data-template="navigation/navbar-template"></aqua-template>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>


    <div class="fullheight-slider">
        <div slider-no-repeat='{
                "dots": false,
                "arrows": false,
                "infinite": true,
                "autoplay": false,
                "autoplaySpeed": 2000
            }'>
            <div class="clearfix">
                <div class="fullheight-header-container">
                    <div class="fullheight-header-bgc">
                        <div class="fullheight-header-height fullheight-header-height1">
                            <img src="app/images/slider-21.jpg" alt="img" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix">
                <div class="fullheight-header-container">
                    <div class=" fullheight-header-bgc fullheight-header-bgc2">
                        <div class=" fullheight-header-height fullheight-header-height2">
                            <div class="fullheight-header-img2">
                                <img src="app/images/slider22.png" alt="img" class="img-responsive">
                            </div>
                            <div class="fullheight-header-text2">
                                <h2>dont worry!</h2>
                                <h2>let us solving your problem</h2>
                                <ul>
                                    <li>
                                        Created from natural herbs – Ginseng roots extract
                                    </li>
                                    <li>
                                        100% safe for your skin
                                    </li>
                                    <li>
                                        Quality product from SpaLabs
                                    </li>
                                    <li>
                                        Special gifts & offers for you
                                    </li>
                                    <li>
                                        Created by Medical Professionals of AQUA Spa
                                    </li>
                                </ul>
                                <div class="text-right">
                                    <button class="button-primary btn-transparent">see more</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fullheight-small">
    <aqua-template data-template="navigation/navbar-template"></aqua-template>
    <div class="small-logo"><img src="app/images/aqua-brand2.svg" alt="img"></div>
    <div class="pt100">
        <img src="app/images/aqua-brand2.svg" alt="img">
    </div>
    <h3>SPA AND BEAUTY HTML THEME</h3>
</div>