<div class="home-fullwidth-header">
    <div class="fullwidth-big">
        <aqua-template data-template="navigation/main-navigation"></aqua-template>
        <aqua-template data-template="slides/basic-slide"></aqua-template>
    </div>

    <div class="fullheight-small">
        <aqua-template data-template="navigation/navbar-template"></aqua-template>
        <div class="small-logo"><img src="app/images/aqua-brand2.svg" alt="img"></div>
        <div class="pt100">
            <img src="app/images/aqua-brand2.svg" alt="img">
        </div>
        <h3>SPA AND BEAUTY HTML THEME</h3>
    </div>
</div>