<div>
    <div class="home-header display-none-768">
        <img src="app/images/aqua-brand2.svg" alt="img">
        <h3>SPA AND BEAUTY HTML THEME</h3>
    </div>
    <div class="home-basic-slide-container">
        <div class="home-basic-slide-bg"></div>
        <img src="app/images/slider1.png" alt="img" class="img-responsive">
        <div class="home-basic-slide-text">
            <p>a good reminder. <span class="aqua-span">aqua</span><span class="spa-span">spa</span></p>
            <p class="dis-block">we live in a culture that values stress,like it makes us better or something.</p>
            <button class="button-primary btn-transparent">see more</button>
        </div>
    </div>

</div>