<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="pos-relative">
                <div>

                    <div class="home-shopping-img">
                        <a href="#!shop-product"><img src="app/images/shop-header1.jpg" alt="img" class="img-responsive"></a>
                    </div>
                    <div class="home-shopping-img-text">
                        <h1>sales<span>50%</span></h1>
                        <div class="tool-yoga"><h2>tools of yoga</h2></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4 ">
            <div class="pos-relative">
                <div class="home-shopping-img2 clearfix">
                    <a href="#!shop-product"><img src="app/images/shop-header2.jpg" alt="img" class="img-responsive"></a>
                </div>
                <div class="text-center hot-soap">
                    <h3 class="heading">hot soap</h3>
                    <h4>in summer</h4>
                </div>
            </div>
        </div>
    </div>
</div>