<div class="fullheight-big">
    <nav class="fullheight-navbar-container"  aqua-scroll>
        <div class="container">
            <div class="row">
                <div class="fullheight-navbar clearfix">
                    <div class="col-md-3">
                        <div class="onepage-brand-img">
                            <img src="app/images/aqua-brand4.svg" alt="img" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="nav-container">
                            <ul class="horizontal-menu">
                                <li class="nav-title">
                                    <a href="#/" class="nav-title-dropbtn">Home</a>
                                    <div class="nav-title-dropdown">
                                        <a href="#!home-basic">Basic</a>
                                        <a href="#!home-fullwidth">Full width</a>
                                        <a href="#!home-fullheight">Full height</a>
                                        <a href="#!home-onepage">Onepage</a>
                                        <a href="#!home-shoping">Shopping</a>
                                        <a href="#!home-update1">Update1</a>
                                        <a href="#!home-update2" class="menu-last-item">Update2</a>
                                    </div>
                                </li>
                                <li class="nav-title nav-title1">
                                    <a href="#welcome-div" class="nav-title-dropbtn">About</a>
                                </li>
                                <li class="nav-title nav-title1">
                                    <a href="#space-div" class="nav-title-dropbtn">Space</a>
                                </li>
                                <li class="nav-title nav-title1">
                                    <a href="#testimonial-div" class="nav-title-dropbtn">Testimonial</a>
                                </li>
                                <li class="nav-title nav-title1">
                                    <a href="#team-div" class="nav-title-dropbtn">Team</a>
                                </li>
                                <li class="nav-title nav-title1">
                                    <a href="#shop-div" class="nav-title-dropbtn">Shop</a>
                                </li>
                                <li class="nav-title nav-title1">
                                    <a href="#price-div" class="nav-title-dropbtn">Price</a>
                                </li>
                                <li class="nav-title nav-title1">
                                    <a href="#blog-div" class="nav-title-dropbtn">Blog</a>
                                </li>
                                <li class="nav-title nav-title1">
                                    <a href="#reservation-div" class="nav-title-dropbtn">Book</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>
    <aqua-template data-template="slides/basic-slide"></aqua-template>
</div>

<div class="fullheight-small">
    <div>
        <div class="nav-container">
            <ul class="horizontal-menu">
                <li class="nav-title">
                    <a href="#/" class="nav-title-dropbtn">Home</a>
                    <div class="nav-title-dropdown">
                        <a href="#">Basic</a>
                        <a href="#">Full width</a>
                        <a href="#">Full height</a>
                        <a href="#">Onepage</a>
                        <a href="#">Shopping</a>
                        <a href="#">Update1</a>
                        <a href="#" class="menu-last-item">Update2</a>
                    </div>
                </li>
                <li class="nav-title">
                    <a href="#welcome-div" class="nav-title-dropbtn">About</a>
                </li>
                <li class="nav-title">
                    <a href="#space-div" class="nav-title-dropbtn">Space</a>
                </li>
                <li class="nav-title">
                    <a href="#testimonial-div" class="nav-title-dropbtn">Testimonial</a>
                </li>
                <li class="nav-title">
                    <a href="#team-div" class="nav-title-dropbtn">Team</a>
                </li>
                <li class="nav-title">
                    <a href="#shop-div" class="nav-title-dropbtn">Shop</a>
                </li>
                <li class="nav-title">
                    <a href="#price-div" class="nav-title-dropbtn">Price</a>
                </li>
                <li class="nav-title">
                    <a href="#blog-div" class="nav-title-dropbtn">Blog</a>
                </li>
                <li class="nav-title">
                    <a href="#reservation-div" class="nav-title-dropbtn">Book</a>
                </li>
            </ul>
        </div>

        <div class="nav-mobile-container pos-relative" ng-init="menuShow = true">
            <div class="nav-compact" ng-class="{'nav-compact-fixed' : !menuShow}">
                <a href="" ng-click="menuShow = !menuShow"><span ng-class="{'compact-change-icon' : !menuShow}"></span></a>
            </div>
            <div class="nav-mobile-menu pb60" ng-class="{'show-menu': menuShow}">
                <div class="pb40 pt60">
                    <img src="app/images/aqua-brand3.svg" alt="brand" class="img-responsive">
                </div>
                <ul class="text-center">
                    <li class="nav-mobile-menu-hover">
                        <a href="#/" class="nav-mobile-title">Home</a>
                        <div class="nav-mobile-menu-item">
                            <a href="#!home-basic">Basic</a>
                            <a href="#!home-fullwidth">Full width</a>
                            <a href="#!home-fullheight">Full height</a>
                            <a href="#!home-onepage">Onepage</a>
                            <a href="#!home-shoping">Shopping</a>
                            <a href="#!home-update1">Update1</a>
                            <a href="#!home-update2" class="menu-last-item">Update2</a>
                        </div>
                    </li>
                    <li class="nav-mobile-menu-hover nav-mobile-menu-hover1 ">
                        <a href="#welcome-div" class="nav-mobile-title">About</a>
                    </li>
                    <li class="nav-mobile-menu-hover nav-mobile-menu-hover1">
                        <a href="#space-div" class="nav-mobile-title">Space</a>
                    </li>
                    <li class="nav-mobile-menu-hover nav-mobile-menu-hover1">
                        <a href="#testimonial-div" class="nav-mobile-title">Testimonial</a>
                    </li>
                    <li class="nav-mobile-menu-hover nav-mobile-menu-hover1">
                        <a href="#team-div" class="nav-mobile-title">Team</a>
                    </li>
                    <li class="nav-mobile-menu-hover nav-mobile-menu-hover1">
                        <a href="#shop-div" class="nav-mobile-title">Shop</a>
                    </li>
                    <li class="nav-mobile-menu-hover nav-mobile-menu-hover1">
                        <a href="#price-div" class="nav-mobile-title">Price</a>
                    </li>
                    <li class="nav-mobile-menu-hover nav-mobile-menu-hover1">
                        <a href="#blog-div" class="nav-mobile-title">Blog</a>
                    </li>
                    <li class="nav-mobile-menu-hover nav-mobile-menu-hover">
                        <a href="#reservation-div" class="nav-mobile-title">Book</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>




    <div class="small-logo"><img src="app/images/aqua-brand2.svg" alt="img"></div>
    <div class="pt100">
        <img src="app/images/aqua-brand2.svg" alt="img">
    </div>
    <h3>SPA AND BEAUTY HTML THEME</h3>
</div>
