<div class="update1-header">
<div class="fullheight-big">
    <nav class="fullheight-navbar-container">
        <div class="container">
            <div class="row">
                <div class="fullheight-navbar clearfix">
                    <div class="col-md-3">
                        <div class="update1-header-brand">
                            <img src="app/images/aqua-brand2.svg" alt="img" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div>
                            <aqua-template data-template="navigation/navbar-template"></aqua-template>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>


    <div class="fullheight-slider">
        <div slider-no-repeat='{
                "dots": false,
                "arrows": false,
                "infinite": true,
                "autoplay": true,
                "autoplaySpeed": 2000,
                "draggable": false
            }'>
            <div class="clearfix">
                <div class="fullheight-header-container">
                    <div class="fullheight-header-bgc">
                        <div class="fullheight-header-height">
                            <img src="app/images/slider-bg-1.jpg" alt="img">
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix">
                <div class="fullheight-header-container">
                    <div class="fullheight-header-bgc">
                        <div class="fullheight-header-height">
                            <img src="app/images/slider-bg-2.jpg" alt="img">
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix">
                <div class="fullheight-header-container">
                    <div class="fullheight-header-bgc">
                        <div class="fullheight-header-height">
                            <img src="app/images/slider-bg-3.jpg" alt="img">
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix">
                <div class="fullheight-header-container">
                    <div class="fullheight-header-bgc">
                        <div class="fullheight-header-height">
                            <img src="app/images/slider-bg-4.jpg" alt="img">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="fullheight-small">
    <aqua-template data-template="navigation/navbar-template"></aqua-template>
    <div class="small-logo"><img src="app/images/aqua-brand2.svg" alt="img"></div>
    <div class="pt100">
        <img src="app/images/aqua-brand2.svg" alt="img">
    </div>
    <h3>SPA AND BEAUTY HTML THEME</h3>
</div>
</div>