<div class="update2-slide">
    <div class="update2-slide-bgc">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 update2-slick-content">
                    <div ng-repeat="dataitem in datablock" aqua-slider='{
                "dots": false,
                "arrows": true,
                "infinite": false,
                "autoplay": false,
                "autoplaySpeed": 2000
            }'>


                        <div class="text-center update2-slider-comment">

                            <div class="col-md-3 col-sm-12 float-right update2-avatar-container">
                                <div class="update2-avatar">
                                    <img src="app/images/testimonial-2.jpg" alt="img" class="img-responsive">
                                </div>
                            </div>

                            <div class="col-md-9 col-sm-12">
                                <div class="update2-comment text-left">
                                    <p class="update2-comment">{{dataitem.comment}}</p>
                                </div>
                                <div class="update2-author mt20">
                                    <p>{{dataitem.name}}</p>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>