.blog-article-content {
  
  hr {
    height: 1px;
    border: none;
    background-color: $main-color6;
  }
}

.blog-article-tag {
  h6 {
    color: $main-color1;
    font-style: italic;
  }

  a {
    font-size: 14px;
    color: $main-color1;
    font-style: italic;

    &:hover {
      color: $main-color6;
    }
  }

  button {
    border-radius: 20px;
    outline: none;
    height: 25px;
    vertical-align: middle;
    font-size: 10px;
  }
}

#like-button {
  background-color: #EEEEEE;
  &:hover {
    color: #fff;
    background-color: $main-color1;
  }
}



.blog-article-comments {
  font-style: italic;
  position: relative;
  width: 100%;
  a {
    font-size: 30px;
    i{
      line-height: 15px;
    }
  }
}

#comment-icon {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  background-color: #EEEEEE;
  color: $main-color5;
  border: 1px solid $main-color6;
  display: table;
  transition: all 0.4s;
  i {
    vertical-align: middle;
    display: table-cell;

  }

  &:hover {
    color: #fff;
    background-color: $main-color1;
  }
}

.blog-article-single-comment {
  p {
    font-style: normal;
  }

  h6 {
    font-size: 14px;
    color: $main-color1;
    padding-bottom: 20px;
  }

  a {
    color: $main-color5;
    transition: all 0.4s;
    &:hover {
      color: $main-color1;
    }
  }
}


.article-avatar {
  width: 10%;
  min-width: 70px;
  position: absolute;
  left: 0;
}

.article-text {
  width: 90%;

  @media screen and (max-width: $screen-sm) {
    width: 87%;
  }

  @media screen and (max-width: $screen-xs) {
    width: 80%;
  }
  padding-left: 20px;
  margin-left: auto;
}

.blog-comment-form {
  padding-top: 5px;
    width: 100%;
    margin-top: 20px;
    width: 100%;
    resize: none;
    outline: none;
  border: 1px solid #000000;
  transition: all 0.4s;
  padding-left: 10px;
  &:focus {
    border: 1px solid $main-color1;
  }

  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $main-color5;
    font-size: 15px;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $main-color5;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $main-color5;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    $main-color5;
  }
}

.comment-send-button {
  @media screen and (max-width: $screen-sm) {
    text-align: center;
  }
  button {
    padding: 10px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 700;
  }
}
