.blog-sidebar-section {
  text-transform: uppercase;
  height: 40px;
  text-align: center;
  background-color: #EEEEEE;
  border: 1px solid #aaaaaa;
  padding-top: 10px;
  font-family: "Roboto Slab";
  color: $main-color5;
}

.blog-sidebar-services {
  padding-top: 40px;
  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    padding-bottom: 20px;
    font-size: 18px;

    &:before {
      content: "+";
      padding-right: 10px;
      font-size: 24px;
    }
  }
}

.blog-sidebar-lastestposts-img {
  width: 40%;
  position: absolute;
  transition: all 0.4s;
  &:hover {
    opacity: 0.7;
  }
}

.blog-sidebar-lastestposts-title {
  width: 60%;
  margin-left: auto;
  padding-left: 5px;

  @media screen and (max-width: $screen-lg){
    padding-left: 15px;
  }

  p {
    padding-top: 15px;
    color: #bdbdbd;
    font-style: italic;
  }

  a {
    color: $main-color5;
    transition: all 0.4s;
    &:hover {
      color: $main-color1;
    }
  }
}

.blog-sidebar-contact {
  font-size: 16px;

  td {
    padding-left: 10px;
    padding-top:20px;
  }
}