
  .blog-homepage-single-article {

    @media screen and (max-width: 479px) {
      h6 {
        text-align: left;
        line-height: 29px;
      }
    }

    padding-bottom: 40px;
    line-height: 29px;
    h1 {
      font-style: italic;
      font-weight: 700;
      text-align: left;
      padding-bottom: 40px;
    }

    .blog-homepage-img {
      position: relative;
      .blog-homepage-note{

        @media screen and (max-width: 479px) {
          display: none;
        }

        @media screen and (max-width: $screen-sm){
          span {
            font-size: 16px !important;
          }
          max-height: 145px;
        }

        overflow: hidden;
        width: 250px;
        position: absolute;
        top: 35px;
        left: 35px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 25px;
        border: 1px solid $main-color6;

        p {
          font-style: italic;
        }

        span {
          font-size: 18px;
        }
        a {
          color: $main-color5;
          position: absolute;
          right: 15px;
        }

        #x-icon {
          top: 15px;
        }
        #arrow {
          bottom: 10px;
        }
      }
    }


    h6 {
      font-size: 16px;
      padding-top: 20px;
      padding-bottom: 50px;
      @media screen and (max-width: $screen-xs){
        font-size: 14px;
      }

      span {
        color: $main-color1;
        padding-right: 35px;

      }
    }



    hr {
      background-color: $main-color6;
      height: 1px;
      border: none;
    }
  }

  .article-info {
      font-size: 16px;
      padding-top: 20px;
      padding-bottom: 50px;

      span {
        color: $main-color1;
        padding-right: 35px;

      }
  }

  .blog-title {
    color: $main-color5;
    &:hover {
      color: $main-color5;
    }
  }

  .load-more {
    font-weight: 700;
  }
