
.onepage-blog {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  height: 100%;
  width: 50%;
  min-height: 500px;

  h6 {
    font-style: italic;
    text-align: right;
    padding-top: 150px;
    padding-bottom: 50px;
  }
}

.onepage-blog-footer-separator {
  &:after {
    content: "/";
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;

  }
}

.onepage-blog1 {
  position: relative;
  background-color: $main-color3;
  margin-left: auto;

  &:before {
    content: " ";
    position: absolute;
    border-right: 26px solid #ABDCE1;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    left: 0;
    margin-left: -20px;
  }


  h2 {
    color: #fff;
    text-align: left;
    padding-bottom: 30px;

    &:after {
      margin-left: 0;
    }
  }
}

.onepage-blog2 {
  background-color: $main-color4;
  padding-left: 50px;
  margin-left: 0;

  &:after {
    content: " ";
    position: absolute;
    border-left: 26px solid $main-color4;
    border-right: 0px;
  }

  h2 {
    color: #fff;
    text-align: right;
    padding-bottom: 30px;

    &:after {
      margin-right: 0;
    }
  }
}

.onepage-blog1-img, .onepage-blog2-img {
  width: 50%;
}

.onepage-blog1-img {
  left: 0;
  top: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.onepage-blog2-img {
  position: absolute;
  right: 0;
  top:0;
  height: 100%;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.onepage-blog1-container {
  @media screen and (max-width: $screen-md){
    .onepage-blog1 {
      width: 100%;
    }

    .onepage-blog1-img {
      z-index: -5;
    }
  }
}

.onepage-blog2-container {
  @media screen and (max-width: $screen-md){
    .onepage-blog2 {
      width: 100%;
    }

    .onepage-blog2-img {
      z-index: -5;
    }
  }
}