.heading {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  letter-spacing: 1.6; }
  .heading:after {
    border-top: 1px solid;
    margin-left: auto;
    margin-right: auto;
    content: " ";
    width: 30px;
    display: block;
    height: 0px;
    margin-top: 15px; }
