.about-us {

  .nav-compact {
    right: 0px;
  }

  hr {
    width: 90%;
    margin-top: 5px;
  }

  .about-seperator {
    width: 50%;
  }

  .banner-frame {
    margin-top: 50px;
  }
}

.menu-hr {
  width: 90%;
  margin-top: 5px;
  @media screen and (max-width: $screen-sm){
    display: none;
  }
}