.home-fullwidth {
  .banner-frame {
    margin-top: 60px;
  }

  .nav-logo {
    text-align: center;
    img {
      display: inline-block;
    }
  }

  .footer-container-dark {
    background-color: #2b2b2b;
    .footer-container {

      h4 {
        color: #fff;
      }
      color: #aaa;

      button {
        color: #fff;
        border: 1px solid #aaa;
        &:hover {
          background-color: $main-color5;
          color: #FFFFFF;
        }
      }
    }
    .footer-icon-social {
      a {
        color: #666666;

        transition: all 0.4s;
        &:hover {
          color: $main-color1;
        }
      }
    }
    .signature {
      h5 {
        color: #aaa;
        letter-spacing: 2.2px;
        font-size: 16px;
      }
    }
  }
}
