.home-update1 {



  background-color: #EEEEEE;
  .home-update1-service4 {
    margin-top: -80px;
    @media screen and (max-width: $screen-md) {
      margin-top: 40px;
    }
  }


  .nav-compact {
    right: 0px;
  }

  .update1-about-container {
    position: relative !important;
    top: -150px !important;
    @media screen and (max-width: $screen-md) {
      top: 0 !important;
    }
    background-color: #fff;
  }
  
  .service45-contain {
    background-color: #fff;
  }
  
  .home-update1-service7 {
    background-color: #fff;
  }

  .home-onepage-service {
    background-color: #fff;
    h3 {
      margin-bottom: 30px;
    }
  }
  
  .onepage-advertise-container {
    background-color: #9DCF67;
  }
  
  .update1-testimonial {
    background-color: #fff;
  }

  .update1-relate-posts {
    padding-bottom: 100px;
    text-align: left;
    padding-top: 100px;
    h3 {
      text-align: left;
      &:after {
        margin-left: 0 !important;
      }
    }

    .update1-relate-single-post {
      max-width: 370px;
      margin-left: auto;
      margin-right: auto;
      background-color: #fff;
      padding-top: 40px;
      margin-bottom: 30px;
      padding-left: 30px;
      padding-right: 30px;
      .update1-relate-single-post-img {
        overflow: hidden;
        position: relative;
        img {
          transition: all 0.4s;
        }


        a:hover {
          img {
            transform: scale(1.1);
          }

          &:after {
            opacity: 1;
          }
        }

        a{


          &:after {
            content: ' ';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            background-color: rgba(255, 255, 255, 0.6);
            transition: all 0.4s;
          }
        }

      }





      .update1-relate-single-post-content {
        padding-bottom: 50px;

        h4 {
          padding-top: 40px;
          font-family: "Roboto Slab";
          letter-spacing: 2.2px;
        }

        h5 {
          font-style: italic;
          padding-bottom: 10px;
        }
        p {

        }
      }
    }
  }
  
  .update1-membership {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-container-dark {
    background-color: #2b2b2b;
    .footer-container {

      h4 {
        color: #fff;
      }
      color: #aaa;

      button {
        color: #fff;
        border: 1px solid #aaa;
        &:hover {
          background-color: $main-color5;
          color: #FFFFFF;
        }
      }
    }
    .footer-icon-social {
      a {
        color: #666666;

        transition: all 0.4s;
        &:hover {
          color: $main-color1;
        }
      }
    }
    .signature {
      h5 {
        color: #aaa;
        letter-spacing: 2.2px;
        font-size: 16px;
      }
    }
  }

}

.blog-link {
  color: $main-color5;
  &:hover {
    color: $main-color5;
  }
}