.home-update2 {

  .home-onepage-service {
    padding-top: 40px;
  }

  background-color: #eee;
  .nav-compact {
    right: 0px;
    span {
      color: #fff;
    }
  }

  .home-update2-brand {
    @media screen and (max-width: $screen-sm) {
      img {
        height: 70px;
        width: auto;
        float: left;
        padding: 10px 0;
      }
    }
  }

  .nav-mobile-menu {
    margin-right: -15px;
  }

  @media screen and (max-width: 767px) {
    .fullheight-big {
      display: block !important;
    }
  }

  .home-update2-navbar-large-container {
    @media screen and (max-width: $screen-md) {
      display: none !important;
    }
  }

  .home-update2-navbar-small-container {

    @media (max-width: 991px) and (min-width: 768px) {
      margin-top: 40px;
    }

    @media screen and (min-width: $screen-md + 1){
      display: none !important;
    }
  }

  .fullheight-header-height {
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;

    @media screen and (max-width: 767px) {
      height: auto !important;
    }
  }

  .fullheight-navbar-container {
    top: 0 !important;
  }

  .home-update2-header-content {
    display: table;
    width: 100%;
    height: 100%;
    .table-row-div {
      img {
        opacity: 0.8;
        transition: all 0.4s;
        @media (max-width: 991px)
        {
          width: 80px;
        }
        &:hover {
          opacity: 1;
        }
      }
      display: table-cell;
      width: 100%;
      vertical-align: middle;
    }
    @media screen and (max-width: $screen-md) {
      padding-top: 130px;
      padding-bottom: 50px;
    }
    @media screen and (max-width: $screen-sm) {
      padding-top: 60px;
      padding-bottom: 50px;
    }


    a{
      display: block;
    }

    p{
      @media screen and (max-width: $screen-md) {
        font-size: 30px;
      }

      @media screen and (max-width: $screen-sm) {
        font-size: 20px;
      }
      padding-bottom: 40px;
      padding-top: 50px;
      font-size: 60px;
      color: #fff;
      text-align: center;
    }
  }

  .horizontal-menu {
    background-color: transparent;
    @media (max-width: 991px) and (min-width: 768px) {
      background-color: rgba(255, 255, 255, 0.5) !important;
    }
  }

  .down-arrow {
    position: absolute;
    display: block;
    left: 0;
    bottom: 40px;
    width: 100%;
    a {
      width: 40px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      border: 1px solid #fff;
      height: 40px;
      display: block;
      line-height: 40px;

      &:before {
        font-family: "aqua" !important;
        content: "a";
        transition: all 0.4s;
        font-size: 25px;
        color: #fff;
        margin-left: 7px;
      }
    }
  }
  
  .update2-about-content-container {
    background-color: #fff;
  }
  
  .update2-service4 {
    background-color: #fff;
    h4 {
      transition: all 0.4s;
      &:hover {
        color: $main-color1;
      }
    }
  }

  .home-onepage-service {
    background-color: transparent;
    h3 {
      margin-bottom: 30px;
    }
  }

  .onepage-advertise-container {
    background-color: #fff;
    p {color: $main-color5 !important;}
    button {
      border: 1px solid #000000;
      &:hover {
        border: 1px solid $main-color1;
      }
    }

  }
  
  .white-bgc {
    background-color: #fff;
  }
}