.fullheight-welcome {
  padding-top: 60px;
  h3 {
    padding-bottom: 40px;
  }
}

.home-fullheight {



  .nav-compact {
    right: 15px;
    //span {
    //  background-color: #fff;
    //  &:before {
    //    border-top: 3px solid #fff;
    //  }
    //
    //  &:after {
    //    border-top: 3px solid #fff;
    //  }
    //}
  }
  hr {
    width: 50%;
    //margin-top: 80px;
  }

  .testimonial-bgc {
    margin-top: 40px;
  }


  .footer-container-dark {
    background-color: #2b2b2b;
    .footer-container {

      h4 {
        color: #fff;
      }
      color: #aaa;

      button {
        color: #fff;
        border: 1px solid #aaa;
        &:hover {
          background-color: $main-color5;
          color: #FFFFFF;
        }
      }
    }
    .footer-icon-social {
      a {
        color: #666666;

        transition: all 0.4s;
        &:hover {
          color: $main-color1;
        }
      }
    }
    .signature {
      h5 {
        color: #aaa;
        letter-spacing: 2.2px;
        font-size: 16px;
      }
    }
  }
}
