.home-onepage-service {
  padding-top: 20px;
  padding-bottom: 20px;
  background: $main-color3;

  .home-onepage-service-img {
    padding: 45px 20px 45px 20px;
  }

  .home-onepage-service-accordion {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;


    .ui-state-default {
      background-color: #c9e9ec !important;
      border: 1px solid #fff !important;
    }


    .ui-state-active {
        background-color: #fff !important;
    }

    h3 {
      margin-bottom: 30px;
      transition: all 0.4s;
    }
  }
}

.home-onepage {
  hr {
    height: 1px;
  }

  .accordion-content {
    background-color: #c9e9ec !important;
  }

  .onepage-welcome {
    padding-top: 250px !important;
    @media screen and (max-width: $screen-sm){
      padding-top: 50px !important;
    }
  }

  .basic-slider {
    top: 180px;
  }

  .fullheight-navbar-container {
    ////position: relative;
    top: 50px;
    //padding-top: 30px;
    //padding-bottom: 30px;
  }
  hr {
    width: 80%;
    margin-bottom: 60px;
  }

  .nav-logo {
    text-align: center;
    img {
      display: inline-block;
    }
  }


  .footer-container-dark {
    background-color: #2b2b2b;
    .footer-container {

      h4 {
        color: #fff;
      }
      color: #aaa;

      button {
        color: #fff;
        border: 1px solid #aaa;
        &:hover {
          background-color: $main-color5;
          color: #FFFFFF;
        }
      }

    }

    .footer-icon-social {
      a {
        color: #666666;

        transition: all 0.4s;
        &:hover {
          color: $main-color1;
        }
      }
    }
    .signature {
      h5 {
        color: #aaa;
        letter-spacing: 2.2px;
        font-size: 16px;
      }
    }
  }
}
