.home-shopping {

}

.home-shopping-brand {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid $main-color5;
  display: inline-block;
  padding: 10px;
  img {
    max-height: 60px;

  }
}