.contact {



  .map {
    width: 100%;
    height: 450px;
    padding: 10px;
    border: 1px solid $main-color6;
  }

  .contact-location {
    position: relative;
    line-height: 40px !important;
    &:before {
      content: "\e0df";
      font-family: "aqua";
      position: absolute;
      top: -2px;
      left: -25px;
    }
  }

  .contact-web {
    position: relative;
    &:before {
      content: "\e0dd";
      font-family: "aqua";
      position: absolute;
      top: -2px;
      left: -25px;
    }
  }

  .contact-phone {
    position: relative;
    &:before {
      content: "\e066";
      font-family: "aqua";
      position: absolute;
      top: -2px;
      left: -25px;
    }
  }

  .contact-fax {
    position: relative;
    &:before {
      content: "\e04f";
      font-family: "aqua";
      position: absolute;
      top: -2px;
      left: -25px;
    }
  }

  .contact-email {
    position: relative;
    &:before {
      content: "\e105";
      font-family: "aqua";
      position: absolute;
      top: -2px;
      left: -25px;
    }
  }

  .contact-info {
    line-height: 30px;
    margin-bottom: 20px;
    a {
      color: $main-color1;
    }
  }

  .contact-form {
    h4 {
      text-align: left;
      margin-top: 30px;
      margin-bottom: 30px;
      &:after {
        margin-left: 0;
      }
    }
    input {
      width: 100%;
      outline: none;
      color: $main-color5;
      margin-bottom: 20px;
      height: 40px;
      border: 1px solid $main-color5;
      padding-left: 10px;
      transition: all 0.4s;
      &:focus {
        border: 1px solid $main-color1;
      }
    }
    textarea {
      width: 100%;
      outline: none;
      color: $main-color5;
      border: 1px solid $main-color5;
      padding-left: 10px;
      width: 100%;
      margin-bottom: 15px;
    }

    button {
      background-color: $main-color1;
      border: 1px solid $main-color1;
      color: #fff;
      padding: 5px 35px;
      font-size: 14px;
      &:hover {
        background-color: $main-color5;
      }
    }

  }
}