.home-basic {
  .nav-compact {
    right: 0;
  }

  .home-basic-text {
    margin-top: -100px;
    @media screen and (max-width: $screen-sm) {
      margin-top: 40px;
    }
  }

  .onepage-comment-container {
    hr  {
      height: 0;
    }
  }
}

.home-basic-hr {
  width: 60%;
  height: 1px;
}