.home {
  .home-container {
    height: 380px;
  }
  .home-bgc {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #ABDCE1;
    .home-img-container {
      padding-top: 120px;
      img {
        width: 200px;
      }

      h3 {
        font-family: "Roboto Slab";
        color: #fff;
        letter-spacing: 2px;
        padding-top: 40px;
      }
    }

    .home-absolute-img {
      position: absolute;
      top: 30px;
      img {
        max-width: 100%;

      }
    }
  }

  .home-main {
    text-align: center;
    margin-top: 150px;
    h4 {
      font-family: "Roboto Slab";
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 16px;
    }

    a:hover {
      .home-overlay {
        opacity: 1;
      }
    }
    
    button {
      background-color: #fff;
      &:hover {
        background-color: $main-color1;
        color: #fff;
      }
    }
  }

  .home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    background-color: rgba(171, 220, 225, 0.7);
    opacity: 0;
    .button-mod {
      width: 120px;
      height: 50px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .home-portfolio {
    background-color: #EEEEEE;
    border: 1px solid $main-color6;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  .comming-soon {
    .home-overlay {
      background-color: transparent !important;
      opacity: 1 !important;
      color: $main-color5;
    }
  }

  .inlove {
    .inlove-bgc {
      background-position: 95% 50%;
      background-size: auto 100%;
      background-repeat: no-repeat;
      padding-top: 100px;
      padding-bottom: 100px;
      background-color: #ABDCE1;

      h3 {
        font-family: "Roboto Slab";
        text-transform: uppercase;
        letter-spacing: 1.8px;
      }

      button {
        background-color: #fff;
        transition: all 0.4s;
        padding: 7px 25px;
        font-size: 14px;
        margin-top: 20px;
        &:hover {
          background-color: $main-color1;
        }
      }
    }
  }
}

.signature {
  padding-top: 30px;
  padding-bottom: 30px;
  h5 {
    margin-bottom: 0 !important;
    font-family: "Roboto Slab";
    letter-spacing: 1.8px;
  }
}