.service {

  .nav-compact {
    right: 0px;
  }


  hr {
    width: 90%;
    margin-top: 5px;
  }
}

.service-quote {
  margin-bottom: 30px;
  h4 {
    color: $main-color1;
    text-align: right;
    padding-top: 30px;
  }
  p {
    padding-top: 30px;
    font-style: italic;
    line-height: 25px;
    &:before {
      content: open-quote;
      font-style: italic;
      font-size: 30px;
      line-height: 16px;
    }
    &:after {
      content: close-quote;
      font-style: italic;
      font-size: 30px;

    }
  }
}