.checkout-like {

  .item-container {
    overflow: hidden;
    @media screen and (max-width: $screen-sm) {
      &:nth-child(2n) {
        .like-item {
          img {
            float: right;
          }
        }
      }
      &:nth-child(2n+1) {
        .like-item {
          img {
            float: left;

          }
        }
      }
    }
  }



  h4 {
    padding-left: 15px;
    text-transform: uppercase;
    font-family: "Roboto Slab";
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .like-item {
    overflow: hidden;
    position: relative;
    transition: all 0.4s;
    img {
      transition: all 0.4s;
      transform: scale(1);
    }

    &:after {
      content: " ";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(255, 255, 255, 0.6);
      transition: all 0.4s;
      opacity: 0;

    }

  }

  a:hover {
    .like-item {
      img {
        transform: scale(1.1);
      }
      &:after {
        opacity: 1;
      }
    }
  }
}

