.undercontruction {
  span {
    text-align: center;
  }

  .construction-container {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  h1 {
    font-family: "Roboto Slab";
  }
  h3 {
    font-style: italic;
  }

  .clock-icon {
    font-size: 52px;
    margin-bottom: 15px;
    text-align: center;
    &:before {
      content: "\e1cc";
      font-family: "aqua";
      margin-left: auto;
      margin-right: auto;
    }
  }

  .countdown {
    width: 100px !important;
  }

  .countdown-clock {
    padding-top: 40px;
    text-align: center;
    //padding-left: 26%;
    padding-bottom: 150px;
  }



  .countdown-row {
    margin-left: auto;
    margin-right: auto;
  }

  .is-countdown {
    border: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
  }

  .countdown-period {
    padding-top: 10px;
    color: $main-color5;
    font-size: 18px;
  }

  .countdown-section {
    background-color: $main-color1;
    color: #fff;
    margin-top: 30px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 90px !important;
    height: 80px !important;
  }
}