<nav>
    <div class="container">
        <div class="nav-container">
            <div class="nav-logo pb40 mt40">
                <img src="app/images/aqua-logo.svg" alt="logo">
                <img src="app/images/aqua-brand.svg" alt="brand">
            </div>
            <ul class="horizontal-menu">
                <li class="nav-title">
                    <a href="#/" class="nav-title-dropbtn">Home</a>
                    <div class="nav-title-dropdown">
                        <a href="#!home-basic">Basic</a>
                        <a href="#!home-fullwidth">Full width</a>
                        <a href="#!home-fullheight">Full height</a>
                        <a href="#!home-onepage">Onepage</a>
                        <a href="#!home-shoping">Shopping</a>
                        <a href="#!home-update1">Update1</a>
                        <a href="#!home-update2" class="menu-last-item">Update2</a>
                    </div>
                </li>
                <li class="nav-title">
                    <a href="#!about-us" class="nav-title-dropbtn">pages</a>
                    <div class="nav-title-dropdown">
                        <a href="#!about-us">About Us</a>
                        <a href="#!error404">404 Error</a>
                        <a href="#!underconstruction" class="menu-last-item">Under Construction</a>
                    </div>
                </li>
                <li class="nav-title">
                    <a href="#!service" class="nav-title-dropbtn">Service</a>
                </li>
                <li class="nav-title">
                    <a href="#!shop" class="nav-title-dropbtn">Shop</a>
                    <div class="nav-title-dropdown">
                        <a href="#!shop-product">Product Page</a>
                        <a href="#!shop-cart">Cart</a>
                        <a href="#!shop-checkout" class="menu-last-item">Check out</a>
                    </div>
                </li>
                <li class="nav-title">
                    <a href="#!blog-homepage" class="nav-title-dropbtn">Blog</a>
                    <div class="nav-title-dropdown">
                        <a href="#!blog-homepage">Blog Homepage</a>
                        <a href="#!blog-article">Blog Article Basic</a>
                        <a href="#!blog-sidebar" class="menu-last-item">Blog Article Sidebar</a>
                    </div>
                </li>
                <li class="nav-title">
                    <a href="#!reservation" class="nav-title-dropbtn">Reservation</a>
                    <div class="nav-title-dropdown">
                    </div>
                </li>
                <li class="nav-title">
                    <a href="#!contact" class="nav-title-dropbtn">Contact</a>
                    <div class="nav-title-dropdown">
                    </div>
                </li>
            </ul>
        </div>

        <div class="nav-mobile-container pos-relative">
            <div class="nav-mobile-logo" ng-init="menuShow = true">
                <img src="app/images/aqua-logo.svg" alt="logo">
                <img src="app/images/aqua-brand.svg" alt="brand">
            </div>
            <div class="nav-compact" ng-class="{'nav-compact-fixed' : !menuShow}">
                <a href="" ng-click="menuShow = !menuShow"><span ng-class="{'compact-change-icon' : !menuShow}"></span></a>
            </div>
            <div class="nav-mobile-menu pb60" ng-class="{'show-menu': menuShow}">
                <div class="pb40 pt60">
                    <img src="app/images/aqua-brand3.svg" alt="brand" class="img-responsive">
                </div>
                <ul class="text-center">
                    <li class="nav-mobile-menu-hover">
                        <a href="#/" class="nav-mobile-title">Home</a>
                        <div class="nav-mobile-menu-item">
                            <a href="#!home-basic">Basic</a>
                            <a href="#!home-fullwidth">Full width</a>
                            <a href="#!home-fullheight">Full height</a>
                            <a href="#!home-onepage">Onepage</a>
                            <a href="#!home-shoping">Shopping</a>
                            <a href="#!home-update1">Update1</a>
                            <a href="#!home-update2" class="menu-last-item">Update2</a>
                        </div>
                    </li>
                    <li class="nav-mobile-menu-hover">
                        <a href="#about-us" class="nav-mobile-title">Pages</a>
                        <div class="nav-mobile-menu-item">
                            <a href="#!about-us">About Us</a>
                            <a href="#!error404">404 Error</a>
                            <a href="#" class="menu-last-item">Under Construction</a>
                        </div>
                    </li>
                    <li class="nav-mobile-menu-hover">
                        <a href="#!service" class="nav-mobile-title">Service</a>
                    </li>
                    <li class="nav-mobile-menu-hover">
                        <a href="#!shop" class="nav-mobile-title">Shop</a>
                        <div class="nav-mobile-menu-item">
                            <a href="#!shop-product">Product Page</a>
                            <a href="#!shop-cart">Cart</a>
                            <a href="#!shop-checkout" class="menu-last-item">Check out</a>
                        </div>
                    </li>
                    <li class="nav-mobile-menu-hover">
                        <a href="#!blog-homepage" class="nav-mobile-title">Blog</a>
                        <div class="nav-mobile-menu-item">
                            <a href="#!blog-homepage">Blog Homepage</a>
                            <a href="#!blog-article">Blog Article Basic</a>
                            <a href="#!blog-sidebar" class="menu-last-item">Blog Article Sidebar</a>
                        </div>
                    </li>
                    <li class="nav-mobile-menu-hover">
                        <a href="#!reservation" class="nav-mobile-title">Reservation</a>
                    </li>
                    <li class="nav-mobile-menu-hover">
                        <a href="#!contact" class="nav-mobile-title">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
