.testimonial-bgc {
  background-color: #E7E6E1;
}

.comment-container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  height: 460px;
  overflow: scroll;
  overflow-x:hidden;
  .comment {
    padding: 50px 40px 20px 40px;
    h4 {
      color: $main-color5;
      padding-bottom: 10px;
    }

    p {
      letter-spacing: 1.8;
      line-height: 1.6;
    }

    .testimonial-separator {
      height: 0px;
      border-top: 1px solid $main-color6;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;

    }
  }
}

.testimonial-img-container {
  height: 460px;
  padding-top: 60px;
  overflow: hidden;
}

.fader {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;

  &:before {
    z-index: 10;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background: linear-gradient(to bottom, #f3f3f0 0%, rgba(243, 243, 240, 0.99) 1%, rgba(243, 243, 240, 0.5) 50%, rgba(243, 243, 240, 0) 100%);;
  }

  &:after {
    z-index: 10;
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background: linear-gradient(to top, #f3f3f0 0%, rgba(243, 243, 240, 0.99) 1%, rgba(243, 243, 240, 0.5) 50%, rgba(243, 243, 240, 0) 100%);;
  }
}
