.update-testimonial-img {
  img {
    border-radius: 50%;
  }
  padding-bottom: 40px;

}

.update-testimonial-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.update-testimonial-comment-container {
  #comment-author {
    span {
      background-color: #FFFFFF;
      z-index: 1;
      padding-left: 20px;
      padding-right: 10px;
    }
    color: $main-color1;
    text-align: center;
    position: relative;
    font-style: italic;
    margin-bottom: 40px;
    &:before {
      content: " ";
      display: block;
      width: 300px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      border-top: 1px solid;
      top: 50%;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }

  #comment-content {
    padding-left: 80px;
    padding-right: 80px;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
  }

}

.slick-slide {
  &:focus, a {
    outline: none;
  }
}
