.onepage-comment-container {

  .next-comment {
    &:before {
      content: "d";
      font-family: "aqua" !important;
      font-size: 16px;
    }
  }

  .previous-comment {
    &:before {
      content: "b";
      font-family: "aqua" !important;
      font-size: 16px;
    }
  }

  //padding-top: 60px;
  margin-bottom: 60px;
  hr {
    width: 80%;
    margin-bottom: 60px;
  }
  h4 {
    padding-bottom: 10px;
    transition: all 1s;

  }
  .changed {
    transition: all 0.7s;
    opacity: 0;
  }
  //
  //.changed.ng-hide {
  //  opacity: 0;
  //}
  //
  //.changed-add, .changed-remove {
  //  transition: all 0.6s;
  //}
  //
  //.changed-add, .changed-add.changed-add-active {
  //  //transition: all 0.6s;
  //  opacity: 1;
  //  font-size: 18px;
  //}
  //
  //
  //.changed-remove.changed-remove-active {
  //  //transition: all 0.6s;
  //  //opacity: 0.5;
  //  //font-size: 18px;
  //}

  p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    transition: all 1s;
  }

  a{
    font-weight: 600;
    color: $main-color5;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.content {
  height: 120px;

}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}