.slick-slide {
  margin: 0px 5px;
}

.slider-img-container {
  width: 200px !important;
  height: 200px !important;
  float: left;
}

.slider-img {
  padding-right: 2px;
  padding-left: 4px;
  width: 100%;
  height: 100%;
}


.update2-slider-container {
  height: 200px;
  ul {
    margin: 0;
    padding: 0;
  }

  .slick-next {
    top: 45%;
    @media screen and (max-width: 1390px) and (min-width: 403px) {
      top: 20%;
    }
    height: 40px !important;
    background-color: rgba(255, 255, 255, 0.6) !important;
    border-radius: 5px;
    right: 15px !important;
    &:before {
      font-family: "aqua" !important;
      content: "f" !important;
      font-size: 20px !important;
      color: #444444 !important;
    }
  }

  .slick-prev {
    top: 45%;
    @media screen and (max-width: 1390px) and (min-width: 403px) {
      top: 20%;
    }
    height: 40px !important;
    background-color: rgba(255, 255, 255, 0.6) !important;
    border-radius: 5px;
    left: 15px !important;
    z-index: 10;
    &:before {
      font-family: "aqua" !important;
      content: "e" !important;
      font-size: 20px !important;
      color: #444444 !important;
    }
  }


}