.specialize-bgc {
  background-color: #E7E6E1;
}

.fullwidth-specialize-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.fullwidth-specialize-services {
  background-color: #fff;

  ul {
    padding-left: 20px;
    list-style: disc;
    li {
      padding-bottom: 35px;
    }
  }

  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 20px;
}