.service3-img1 {
  float: left;
  @media screen and (max-width: 479px){
    display: none;
  }
  @media screen and (max-width: 545px){
    width: 70%;
  }
}

.service3-container-1 {
  position: relative;

.service3-spa-text {
  width: 50%;
  position: absolute;
  top: 10%;
  right: 0;
  @media screen and (max-width: 767px){
    width: 70%;
  }
  @media screen and (max-width: 479px){
    position: relative;
    width: 100%;
  }
  z-index: 5;
}
}

.service3-text-overlay {
  background-color: rgba(198, 217, 198, 0.7);
  text-align: center;
  line-height: 1.8;
  padding: 30px 30px;
}

.service3-img2 {
  float: right;
  @media screen and (max-width: 479px){
    display: none;
  }
}

.service3-container-2 {
  position: relative;
}

.service3-spa-text2 {
  width: 50%;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 5;
  @media screen and (max-width: 767px){
    width: 70%;
  }
  @media screen and (max-width: 479px){
    position: relative;
    width: 100%;
  }

}

.service3-img3 {
  float: left;
  @media screen and (max-width: 479px){
    display: none;
  }
  padding-top: 150px;
  @media screen and (max-width: 1200px){
    padding-top: 100px;
  }
}

.service3-text-overlay3 {
  text-align: center;
  line-height: 1.8;
  padding: 30px 30px;
  background-color: rgba(231, 230, 225, 0.7);
  width: 70%;


  position: absolute;
  z-index: 5;
  right: 0;
  bottom: -20%;
  @media screen and (max-width: 1200px){
    position: relative;
  }
}

.service3-spa-text3 {
  h3 {
    width: 30%;
  }
  @media screen and (max-width: 1200px){
    width: 50%;
    position: absolute;
    right: 0;
    top: 110px;
    .service3-text-overlay3 {
      width: 100%;
    }
    h3 {
      width: 100%;
    }
  }
  @media screen and (max-width: 767px){
    width: 70%;
  }
  @media screen and (max-width: 479px){
    position: relative;
    width: 100%;
  }
}

.service3-container-3 {
  position: relative;
}

