.service7-heading {
    text-align: left;
    font-size: 24px;
    font-weight: 300;
  @media screen and (max-width: $screen-lg + 100) and (min-width: $screen-md) {
    padding-bottom: 0 !important;
  }
    &:after {
      content: ' ';
      border-top: 1px solid $main-color5;
      display: block;
      width: 30px;
      margin-top: 15px;
    }
}



.service7-img-container {
  float: left;
  max-width: 50%;
  @media screen and (max-width: $screen-md) and (min-width: $screen-sm){
    max-width: 100%;
    .div-background {
      background-color: rgba(255, 255, 255, 0.6);
    }
  }

  @media screen and (max-width: $screen-sm - 1){
    max-width : 100%;
  }
}

.service7-container {
  float: left;
  width: 50%;
  padding-left: 85px;
  padding-top: 40px;
  padding-right: 85px;
  //position: absolute;
  //right: 0;
  @media screen and (min-width: 1600px) {
    padding-top: 85px;
  }
  @media screen and (max-width: $screen-md) and (min-width: $screen-sm){
    //right: auto;
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    .absolute-container {
      display: table-cell;
      vertical-align: middle;
      padding-left: 80px;
      padding-right: 80px;
    }
  }
  @media screen and (max-width: $screen-lg){
    padding-right: 40px;
  }

  @media screen and (max-width: $screen-sm - 1){
    width: 100%;
  }

}

.service7-scroll {
  height: 200px;
  @media screen and (min-width: 1600px) {
    height: 250px;
  }

  @media screen and (max-width: $screen-lg) and (min-width: $screen-md) {
    height: 150px;
  }

  //overflow: scroll;
  overflow:auto;

  ul {
    padding-left: 20px;
    list-style: disc;
    li {
      padding-bottom: 25px;
    }
  }
}

.service7-seemore-button {
   background-color: $main-color5;
    color: #fff;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  vertical-align: middle;
  padding: 6px 40px 6px 40px;
  @media screen and (max-width: $screen-sm) {
    margin-bottom: 40px;
  }
}