.service2-body-services {
  background-repeat: no-repeat;
  background-position: left;
}

.service2-body-services-table-price-container {
  padding-top: 50px;
  float: right;
}

.service2-body-services-table-price {
  background-color: rgba(231, 230, 225, 0.7);
  padding: 40px;
  font-style: italic;
}

.list-underline{
  list-style:none;
  padding:0;
  margin: 0;

  >li{
    margin: 0;
    padding-bottom: 20px;
    display: table;

    >*{
      display: table-cell;
      vertical-align:bottom;
    }

    .title{
      width:100%;
      position: relative;
      overflow: hidden;

      &:after{
        margin-left: 30px;
        margin-right: 100px;
        content:"";
        display: inline-block;
        position: absolute;
        border-bottom:1px solid #FFFFFF;
        bottom:0.4em;
        width:100%;

        @media screen and (max-width: $screen-xs) {
          visibility: hidden;
        }
      }
    }
  }
}

.service2-background-right {
  background-position: right;
  .service2-body-services-table-price-container {
    float: left;
  }
  .service2-body-services-table-price {
    background-color: rgba(198, 217, 198, 0.7);
  }
}