.heading-hover-underline {
  text-align: center;
  &:after {
    content: " ";
    display: block;
    border-top: 1px solid $main-color5;
    width: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    transition: all 0.4s;
  }

}

.service45-contain {
  max-width: 360px;
  a {
    color: $main-color5;
  }
  &:hover {
    .heading-hover-underline:after {
      width: 30px;
    }
  }
}