.fullwidth-service5-contain {
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.4s;
  margin-left: auto;
  margin-right: auto;

    h3 {
      font-size: 24px;
      padding-top: 40px;
      padding-bottom: 20px;
      color: white;
      transition: all 0.4s;
      &:after {
        border-color: white;
      }
    }


  .text-container {
    transition: all 0.4s;
    background-color: rgba(255, 255, 255, 0.6);
    p {
      padding: 15px;
    }
  }


  &:hover {
    margin-bottom: 0;
    margin-top: 0;
    img {

    }
    h3 {
      padding-bottom: 40px;

    }

    .text-container {
      margin-bottom: 20px;
    }
  }
}