
<div class="pt40 accordion-container">
    <div class="accordion" aqua-accordion>
        <h3>spa price list</h3>
        <div class="accordion-content">
            <style type="text/css">

                ::-webkit-scrollbar {
                    width: 5px;
                    height: 5px;
                }
                ::-webkit-scrollbar-button {
                    width: 0px;
                    height: 0px;
                }
                ::-webkit-scrollbar-thumb {
                    background: #6c6c6d;
                    border: 0px none #ffffff;
                    border-radius: 37px;
                }
                ::-webkit-scrollbar-thumb:hover {
                    background: #ffffff;
                }
                ::-webkit-scrollbar-thumb:active {
                    background: #000000;
                }
                ::-webkit-scrollbar-track {
                    background: transparent;
                    border: 0px none #ffffff;
                    border-radius: 50px;
                }
                ::-webkit-scrollbar-track:hover {
                    background: transparent;
                }
                ::-webkit-scrollbar-track:active {
                    background: #333333;
                }
                ::-webkit-scrollbar-corner {
                    background: transparent;
                }
            </style>
            <ul class="list-underline">
                <li ng-repeat="dataitem in datablock">
                    <div class="title">{{dataitem.service}}</div>
                    <div class="value pl20">{{dataitem.price}}</div>
                </li>
            </ul>
        </div>
        <h3>beauty price list</h3>
        <div class="accordion-content">
            <ul class="list-underline">
                <li ng-repeat="dataitem in datablock">
                    <div class="title">{{dataitem.service}}</div>
                    <div class="value pl20">{{dataitem.price}}</div>
                </li>
            </ul>
        </div>
        <h3>yoga price list</h3>
        <div class="accordion-content">
            <ul class="list-underline">
                <li ng-repeat="dataitem in datablock">
                    <div class="title">{{dataitem.service}}</div>
                    <div class="value pl20">{{dataitem.price}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>