.nav-container {
  //height: 1000px;
  @media screen and (max-width: $screen-sm){
    display: none;
  }
}
.nav-logo {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.nav-container {
  transition: all 0.4s;
}

.horizontal-menu {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: table;
  //table-layout: fixed;
  li {
    position: relative;
    display: table-cell;
    text-align: center;
    color: $main-color5;

    a {
      font-weight: 400;
      font-size: 90%;
    }

  }
}

.nav-title-dropdown {
  position: absolute;
  width: 230px;
  z-index: 100;
  display: none;
  background-color: #111111;
  //top: 40px;
  left: -50px;
  a {
    transition: all 0.4s;
    display: block;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    //padding-bottom: 15px;
    font-size: 16px;
    font-family: "Roboto Slab";
    font-size: 12.6px;
    &:hover {
      color: $main-color1;
    }
    &:after {
      content: " ";
      display: block;
      border-bottom: 1px solid #444444;
      width: 150px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
  }

  }
}

.nav-title-dropbtn {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  color: $main-color5;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  &:after {
    content: " ";
    display: block;
    width: 0px;
    transition: all 0.4s;
    border-top: 1px solid $main-color5;
    margin-left: auto;
    margin-right: auto;
  }

  &:hover {
    color: $main-color5;
    &:after {
      width: 100%;
    }
  }
}

.nav-title:hover {
  .nav-title-dropdown {
    display: block;
  }
}

.menu-last-item {
  padding-bottom: 0 !important;
  &:after {
    border: none !important;
  }
}

.nav-mobile-container {
  @media screen and (min-width: 767px){
    display: none;
  }
  transition: all 0.4s;
  //height: 1000px;
  .nav-mobile-logo {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    img {
      height: 100%;
    }
  }
}

.nav-compact {
  right: 15px;
  //margin-right: 25px;
  position: relative;
  width: 22px;
  height: 14px;
  display: block;
  float: right;
  margin-top: 25px;
  z-index: 100;
  top: 0;
  a {
    display: block;
    height: 20px;
    width: 20px;
  }
  span  {
    position: absolute;
    width: 100%;
    top: 50%;
    height: 3px;
    background-color: $main-color5;
    transition: all 0.4s;
    &:before {
      content: " ";
      border-top: 3px solid $main-color5;
      width: 22px;
      display: block;
      position: absolute;
      top: 7px;
      transition: all 0.4s;
      font-weight: 600;
    }
    &:after {
      content: " ";
      border-top: 3px solid $main-color5;
      width: 22px;
      display: block;
      position: absolute;
      top: -7px;
      transition: all 0.4s;
    }
  }
}

.nav-compact-fixed {
  right: 15px !important;
  position: fixed;
}

.nav-mobile-menu {
  transition: all 0.4s;
  width: 380px;
  height: 100vh;
  overflow: auto;
  background-color: #EEEEEE;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  ul {
    padding: 0;
    margin: 0;
    li {
      font-family: "Roboto Slab";
      text-transform: uppercase;
      display: block;
      a {
        color: $main-color5;
        font-size: 20px;
        &:after {
          content: " ";
          display: block;
          border-bottom: 1px solid $main-color6;
          width: 200px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 20px;
          margin-bottom: 30px;
        }
        &:hover {
          &:after {
            border-bottom: 1px solid #444444;
          }
        }
      }
    }
  }
}

.show-menu {
  transform: translateX(150%);
}
//
//.hide-menu {
//  transform: translateX(-100px);
//}

.compact-change-icon {

  width: 0 !important;
  &:before {
    transform-origin: 11% -9%;
    transform: rotate(-46deg);
  }
  &:after {
    transform-origin: 12% 145%;
    transform: rotate(44deg);
  }
}


.nav-mobile-menu-hover:hover {
  .nav-mobile-menu-item {
    a{ height: 70px;}
  }
}

.nav-mobile-menu-item {
  transition: all 0.4s;
  a{
    transition: all 0.4s;
    display: block;
    height: 0;
    overflow: hidden;
    text-transform: none;
  }
}

.white-compact {
  span {
    background-color: #fff;
    &:before {
      border-top: 1px solid #fff;
    }
    
    &:after {
      border-top: 1px solid #fff;
    }
  }
}
