
<div class="about-us">
    <aqua-template data-template="navigation/main-navigation"></aqua-template>
    <hr>
    <div class="pb60"><aqua-template data-template="about/about-us-history"></aqua-template></div>
    <hr class="about-seperator">
    <div class="pt50"><aqua-template data-template="team-members" data-json="team-members"></aqua-template></div>
    <hr class="about-seperator mt-i-50">
    <div>
        <aqua-template data-template="portfolio" data-json="portfolio_images"></aqua-template>
    </div>
    <div>
        <aqua-template data-template="banner"></aqua-template>
    </div>
    <div>
        <aqua-template data-template="footer"></aqua-template>
    </div>
</div>