<div class="blog-homepage">
    <aqua-template data-template="navigation/main-navigation"></aqua-template>
    <hr class="menu-hr">
    <div class="container">
        <div class="service-quote clearfix">
            <div class="col-lg-8 col-lg-offset-2">
                <p class="text-center mt30">
                    When you have once seen the glow of happiness on the face of a beloved person, you know that a man
                    can have
                    no vocation but to awaken that light on the faces surrounding him. In the depth of winter,
                    I finally learned that within me there lay an invincible summer.
                </p>
                <h4>_ Albert Camus _</h4>
            </div>
        </div>
    </div>
    <aqua-template data-template="blog/blog-homepage" data-json="blog/blog-articles"></aqua-template>
    <aqua-template data-template="footer"></aqua-template>
</div>