<div class="blog-article">
    <aqua-template data-template="navigation/main-navigation"></aqua-template>
    <hr class="menu-hr">
    <div class="pt40"><aqua-template data-template="blog/blog-article" data-json="blog/blog-articles"></aqua-template></div>
    <aqua-template data-template="footer"></aqua-template>
</div>