<div class="contact">
    <aqua-template data-template="navigation/main-navigation"></aqua-template>
    <hr class="menu-hr">

    <div class="container">
        <div class="row">
            <div class="contact-container pb50 clearfix">
                <div class="col-md-7">
                    <div>
                        <iframe class="map"
                                src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=40.7187171,-73.9890498&amp;spn=56.506174,79.013672&amp;t=m&amp;z=16&amp;output=embed"></iframe>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="col-md-6">
                        <div class="contact-info contact-location">

                            16 East Wood Avenue,
                            New York, NY 778569, USA

                        </div>
                        <div class="contact-info contact-web">
                            <p>Web: <a href="">www.domain.com</a></p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="contact-info contact-phone">
                            Phone: +444 123456789
                        </div>
                        <div class="contact-info contact-fax">
                            Fax: +444 123456789
                        </div>
                        <div class="contact-info contact-email">
                            <p>Email: <a href="">hello@domain.com</a></p>
                        </div>
                    </div>


                    <div class="contact-form">
                        <h4 class="heading">
                            contact form
                        </h4>
                        <div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" placeholder="Email">
                                </div>
                            </div>
                        </div>

                        <div>
                            <input type="text" placeholder="Subject">
                        </div>
                        <div>
                                <textarea name="" rows="5"
                                          placeholder="Write your comment..."></textarea>
                        </div>
                        <div class="text-right"><button class="button-primary">send</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <aqua-template data-template="footer"></aqua-template>
</div>
</div>