<div class="home-onepage">
    <aqua-template data-template="slides/onepage-header"></aqua-template>
    <div class="container">
        <div class="row">
            <div class="text-center col-md-8 col-md-offset-2 fullheight-welcome onepage-welcome">
                <h3 class="heading" id="welcome-div">welcome</h3>
                <p class="pb40">
                    AQUA started as an ambitious idea to promoting the economy and foot traffic in up-and-coming neighborhoods.
                    As the business flourish our efforts has been successfully supported by the same community we love, and it
                    has been a wonderful journey as we strive to provide the highest level of service to our supporters.</p>
            </div>
        </div>
    </div>

    <aqua-template data-template="services/service4" data-json="services/onepage_service4"></aqua-template>
    <div class="home-onepage-service">
        <div class="container">
            <div class="row ">
                <div class="col-md-6">
                    <div class="home-onepage-service-accordion">
                        <aqua-template data-template="accordion/accordion"
                                       data-json="services/service2"></aqua-template>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="home-onepage-service-img">
                        <img src="app/images/specialize3.png" alt="img" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="space-div"><aqua-template data-template="portfolio" data-json="portfolio_images"></aqua-template></div>
    <div id="testimonial-div"><aqua-template data-template="testimonial/testimonial-onepage" data-json="testimonial/testimonial"></aqua-template></div>
    <div class="mb20" id="team-div">
        <aqua-template data-template="team-members" data-json="team-members"></aqua-template>
    </div>

    <div class="mb80">
        <aqua-template data-template="advertising/onepage-advertise"></aqua-template>
    </div>
    <div class="pb40" id="shop-div">
        <h3 class="heading pb20">shop</h3>
        <aqua-template data-template="shopping/shop_onepage" data-json="shop_items_onepage"
                       data-callback="Aqua.log()"></aqua-template>
    </div>
    <div class="pb40" id="price-div">
        <aqua-template data-template="shopping/membership_onepage"
                       data-json="membership_shop_items_onepage"></aqua-template>
    </div>
    <div id="blog-div"><aqua-template data-template="blog/onepage_blog"></aqua-template></div>
    <div id="reservation-div"><aqua-template data-template="forms/reservation-form"></aqua-template></div>
    <aqua-template data-template="footer"></aqua-template>
</div>
