<div class="home-basic">
<aqua-template data-template="navigation/main-navigation"></aqua-template>
<aqua-template data-template="slides/home-basic-slide"></aqua-template>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center pb60">
                <p class="home-basic-text">AQUA started as an ambitious idea to promoting the economy and foot traffic in <br>
                    up-and-coming neighborhoods. As the business flourish our efforts has been successfully supported by the same community we love, and it has been a wonderful journey as we strive to provide the highest level
                    <br>
                    of service to our supporters.</p>
            </div>
        </div>
    </div>

<aqua-template data-template="services/service3"></aqua-template>
<aqua-template data-template="banner"></aqua-template>
<aqua-template data-template="team-members" data-json="team-members"></aqua-template>
    <hr class="home-basic-hr">
<aqua-template data-template="testimonial/testimonial-onepage" data-json="testimonial/testimonial"></aqua-template>
<aqua-template data-template="footer"></aqua-template>
</div>