<div class="home-update2">
    <div class="fullheight-big">
        <nav class="fullheight-navbar-container home-update2-navbar-large-container">
            <div class="container">
                <div class="row">
                    <div class="fullheight-navbar clearfix">
                        <div>
                            <div>
                                <div>
                                    <div class="nav-container">
                                        <ul class="horizontal-menu">
                                            <li class="nav-title">
                                                <a href="#!home" class="nav-title-dropbtn">Home</a>
                                                <div class="nav-title-dropdown">
                                                    <a href="#!home-basic">Basic</a>
                                                    <a href="#!home-fullwidth">Full width</a>
                                                    <a href="#!home-fullheight">Full height</a>
                                                    <a href="#!home-onepage">Onepage</a>
                                                    <a href="#!home-shoping">Shopping</a>
                                                    <a href="#!home-update1">Update1</a>
                                                    <a href="#!home-update2" class="menu-last-item">Update2</a>
                                                </div>
                                            </li>
                                            <li class="nav-title">
                                                <a href="#!about-us" class="nav-title-dropbtn">pages</a>
                                                <div class="nav-title-dropdown">
                                                    <a href="#!about-us">About Us</a>
                                                    <a href="#!error404">404 Error</a>
                                                    <a href="#!underconstruction" class="menu-last-item">Under Construction</a>
                                                </div>
                                            </li>
                                            <li class="nav-title">
                                                <a href="#!service" class="nav-title-dropbtn">Service</a>
                                            </li>
                                            <li class="nav-title">
                                                <a href="#!shop" class="nav-title-dropbtn">Shop</a>
                                                <div class="nav-title-dropdown">
                                                    <a href="#!shop-product">Product Page</a>
                                                    <a href="#!shop-cart">Cart</a>
                                                    <a href="#!shop-checkout" class="menu-last-item">Check out</a>
                                                </div>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <img src="app/images/aqua-brand2.svg" alt="img">
                                                </a>
                                            </li>

                                            <li class="nav-title">
                                                <a href="#" class="nav-title-dropbtn">Blog</a>
                                                <div class="nav-title-dropdown">
                                                    <a href="#!blog-homepage">Blog Homepage</a>
                                                    <a href="#!blog-article">Blog Article Basic</a>
                                                    <a href="#!blog-sidebar" class="menu-last-item">Blog Article
                                                        Sidebar</a>
                                                </div>
                                            </li>
                                            <li class="nav-title">
                                                <a href="#!reservation" class="nav-title-dropbtn">Reservation</a>
                                                <div class="nav-title-dropdown">
                                                </div>
                                            </li>
                                            <li class="nav-title">
                                                <a href="#!contact" class="nav-title-dropbtn">Contact</a>
                                                <div class="nav-title-dropdown">
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="nav-mobile-container pos-relative" ng-init="menuShow = false">
                                        <div class="nav-compact">
                                            <a href="" ng-click="menuShow = !menuShow"><span
                                                    ng-class="{'compact-change-icon' : !menuShow}"></span></a>
                                        </div>
                                        <div class="nav-mobile-menu pb60" ng-class="{'show-menu': menuShow}">
                                            <div class="pb40 pt60">
                                                <img src="app/images/aqua-brand3.svg" alt="brand"
                                                     class="img-responsive">
                                            </div>
                                            <ul class="text-center">
                                                <li class="nav-mobile-menu-hover">
                                                    <a href="#!home" class="nav-mobile-title">Home</a>
                                                    <div class="nav-mobile-menu-item">
                                                        <a href="#!home-basic">Basic</a>
                                                        <a href="#!home-fullwidth">Full width</a>
                                                        <a href="#!home-fullheight">Full height</a>
                                                        <a href="#!home-onepage">Onepage</a>
                                                        <a href="#!home-shoping">Shopping</a>
                                                        <a href="#!home-update1">Update1</a>
                                                        <a href="#!home-update2" class="menu-last-item">Update2</a>
                                                    </div>
                                                </li>
                                                <li class="nav-mobile-menu-hover">
                                                    <a href="#!about-us" class="nav-mobile-title">Pages</a>
                                                    <div class="nav-mobile-menu-item">
                                                        <a href="#!about-us">About Us</a>
                                                        <a href="#!error404">404 Error</a>
                                                        <a href="#!underconstruction" class="menu-last-item">Under Construction</a>
                                                    </div>
                                                </li>
                                                <li class="nav-mobile-menu-hover">
                                                    <a href="#!service" class="nav-mobile-title">Service</a>
                                                </li>
                                                <li class="nav-mobile-menu-hover">
                                                    <a href="#!shop" class="nav-mobile-title">Shop</a>
                                                    <div class="nav-mobile-menu-item">
                                                        <a href="#!shop-product">Product Page</a>
                                                        <a href="#!shop-cart">Cart</a>
                                                        <a href="#!shop-checkout" class="menu-last-item">Check out</a>
                                                    </div>
                                                </li>
                                                <li class="nav-mobile-menu-hover">
                                                    <a href="#!blog-homepage" class="nav-mobile-title">Blog</a>
                                                    <div class="nav-mobile-menu-item">
                                                        <a href="#!blog-homepage">Blog Homepage</a>
                                                        <a href="#!blog-article">Blog Article Basic</a>
                                                        <a href="#!blog-sidebar" class="menu-last-item">Blog Article
                                                            Sidebar</a>
                                                    </div>
                                                </li>
                                                <li class="nav-mobile-menu-hover">
                                                    <a href="#!reservation" class="nav-mobile-title">Reservation</a>
                                                </li>
                                                <li class="nav-mobile-menu-hover">
                                                    <a href="#!contact" class="nav-mobile-title">Contact</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
        <nav class="fullheight-navbar-container home-update2-navbar-small-container">
            <div class="container">
                <div class="row">
                    <div class="fullheight-navbar clearfix">
                        <div class="col-md-3 col-xs-5 col-sm-12">
                            <div class="home-update2-brand">
                                <img src="app/images/aqua-brand2.svg" alt="img" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-9 col-xs-7 col-sm-12">
                            <div>
                                <aqua-template data-template="navigation/navbar-template"></aqua-template>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </nav>


        <div class="clearfix">
            <div class="fullheight-header-container">
                <div class="fullheight-header-bgc">
                    <div class="fullheight-header-height" style="background-image: url(app/images/slider-bg-3.jpg)">
                        <div class="home-update2-header-content">
                            <div class="table-row-div">
                                <div>
                                    <a href="http://www.youtube.com/watch?v=qqXi8WmQ_WM" rel="prettyPhoto" pretty>
                                        <img src="app/images/play-button.png" alt="img">
                                    </a>
                                    <p>Yoga For OlderFantastic Treatments</p>
                                </div>
                            </div>
                        </div>
                        <span class="down-arrow">
                            <a href="" update-scroll-top></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="update2-about" id="update2-ab">
        <aqua-template data-template="about/update2-about"></aqua-template>
    </div>

    <div class="home-update1-team">
        <aqua-template data-template="update1-team-member" data-json="update1-team-member"></aqua-template>
    </div>

    <div class="update2-service4 pt60">
        <aqua-template data-template="services/update2-service4" data-json="services/update2_service4"></aqua-template>
    </div>

    <div class="pb60">
        <div class="home-onepage-service">
            <div class="container">
                <div class="row ">
                    <div class="col-md-6">
                        <div class="home-onepage-service-img">
                            <img src="app/images/specialize3.png" alt="img" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="home-update1-accordion">
                            <aqua-template data-template="accordion/accordion"
                                           data-json="services/service2"></aqua-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home-update1">

        <div class="home-update1-service7">
            <div class="pos-relative clearfix">
                <div class="service7-img-container pos-relative">
                    <img src="app/images/service-spec2.jpg" alt="img" class="img-responsive">
                    <div class="pos-absolute div-background w100 h100 top-0 left-0"></div>
                </div>
                <div class="service7-container">
                    <div class="dis-table w100 h100">
                        <div class="absolute-container">
                            <h1 class="heading-no-line service7-heading pb40">we specialize in</h1>
                            <div class="service7-scroll">
                                <ul>
                                    <li>Created from natural herbs – Ginseng roots extract</li>
                                    <li>100% safe for your skin</li>
                                    <li>Quality product from SpaLab</li>
                                    <li>Special gifts & offers for you</li>
                                    <li>Created by Medical Professionals of AQUA Spa</li>
                                </ul>
                            </div>
                            <div class="text-center pt40">
                                <button class="button-primary service7-seemore-button">see more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="update1-relate-posts">
                <h3 class="heading">related posts</h3>
                <p class="pb40">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                    tincidunt ut laoreet dolore
                    <br>
                    magna aliquam erat volutpat ...</p>

                <div class="row">
                    <div class="col-md-4">
                        <div class="update1-relate-single-post">
                            <div class="update1-relate-single-post-img">
                                <a href=""><img src="app/images/related-post1.jpg" alt="img" class="img-responsive"></a>
                            </div>
                            <div class="update1-relate-single-post-content">
                                <h4>Wonderful Herbal Skin</h4>
                                <h5>By Jeska / Thursday, April 2, 2015</h5>
                                <p>Lorem ipsum dolor sit amet, atim consectetuer adipiscing elit, sed diam nonummy nibh
                                    isn't euismod tincidunt ut laoreet dolore magna aliquam erat volutpat ...</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="update1-relate-single-post">
                            <div class="update1-relate-single-post-img">
                                <a href=""><img src="app/images/related-post2.jpg" alt="img" class="img-responsive"></a>
                            </div>
                            <div class="update1-relate-single-post-content">
                                <h4>Wonderful Herbal Skin</h4>
                                <h5>By Jeska / Thursday, April 2, 2015</h5>
                                <p>Lorem ipsum dolor sit amet, atim consectetuer adipiscing elit, sed diam nonummy nibh
                                    isn't euismod tincidunt ut laoreet dolore magna aliquam erat volutpat ...</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="update1-relate-single-post">
                            <div class="update1-relate-single-post-img">
                                <a href=""><img src="app/images/related-post3.jpg" alt="img" class="img-responsive"></a>
                            </div>
                            <div class="update1-relate-single-post-content">
                                <h4>Wonderful Herbal Skin</h4>
                                <h5>By Jeska / Thursday, April 2, 2015</h5>
                                <p>Lorem ipsum dolor sit amet, atim consectetuer adipiscing elit, sed diam nonummy nibh
                                    isn't euismod tincidunt ut laoreet dolore magna aliquam erat volutpat ...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <aqua-template data-template="advertising/onepage-advertise"></aqua-template>
        </div>

        <div class="update1-testimonial">
            <aqua-template data-template="slides/update2-slide" data-json="testimonial/testimonial"></aqua-template>
        </div>


        <div class="white-bgc">
            <aqua-template data-template="forms/reservation-form"></aqua-template>
        </div>

        <div>
            <aqua-template data-template="testimonial/update2-slider" data-json="testimonial/space-img"></aqua-template>
        </div>

        <div>
            <aqua-template data-template="footer"></aqua-template>
        </div>
    </div>
</div>
