<div class="home">
    <div class="home-container">
        <div class="home-bgc">
            <div class="container">
                <div class="row">
                    <div class="pos-relative">
                        <div class="home-img-container">
                            <img src="app/images/aqua-brand2.svg" alt="img" class="img-responsive">
                            <h3>SPA AND BEAUTY HTML THEME</h3>
                        </div>

                        <div class="home-absolute-img col-md-6 hidden-sm hidden-xs">
                            <img src="app/images/slider1.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div>
                    <div class="home-main">
                        <h4 class="pb60">CHOOSE YOUR FAVORITE DEMO BELOW</h4>
                        <div class="col-md-4 col-sm-6">
                            <a href="#!home-onepage" target="_blank">
                                <div class="pd10 home-portfolio mb10">
                                    <div class="pos-relative">
                                        <div>
                                            <img src="app/images/demo1.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <div class="home-overlay">
                                            <div class="dis-table w100 h100">
                                                <div class="dis-table-cell ver-align-middle">
                                                    <button class="button-primary btn-transparent">view demo</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <h4 class="pb40">one page</h4>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <a href="#!home-fullwidth" target="_blank">
                                <div class="pd10 home-portfolio mb10">
                                    <div class="pos-relative">
                                        <div>
                                            <img src="app/images/demo2.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <div class="home-overlay">
                                            <div class="dis-table w100 h100">
                                                <div class="dis-table-cell ver-align-middle">
                                                    <button class="button-primary btn-transparent">view demo</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <h4 class="pb40">full width</h4>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <a href="#!home-fullheight" target="_blank">
                                <div class="pd10 home-portfolio mb10">
                                    <div class="pos-relative">
                                        <div>
                                            <img src="app/images/demo3.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <div class="home-overlay">
                                            <div class="dis-table w100 h100">
                                                <div class="dis-table-cell ver-align-middle">
                                                    <button class="button-primary btn-transparent">view demo</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <h4 class="pb40">full height</h4>
                        </div>

                        <div class="col-md-4 col-sm-6" target="_blank">
                            <a href="#!home-shoping">
                                <div class="pd10 home-portfolio mb10">
                                    <div class="pos-relative">
                                        <div>
                                            <img src="app/images/demo4.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <div class="home-overlay">
                                            <div class="dis-table w100 h100">
                                                <div class="dis-table-cell ver-align-middle">
                                                    <button class="button-primary btn-transparent">view demo</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <h4 class="pb40">shop page</h4>
                        </div>

                        <div class="col-md-4 col-sm-6" target="_blank">
                            <a href="#!home-basic">
                                <div class="pd10 home-portfolio mb10">
                                    <div class="pos-relative">
                                        <div>
                                            <img src="app/images/demo5.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <div class="home-overlay">
                                            <div class="dis-table w100 h100">
                                                <div class="dis-table-cell ver-align-middle">
                                                    <button class="button-primary btn-transparent">view demo</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <h4 class="pb40">basic page</h4>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <a href="#!home-update1" target="_blank">
                                <div class="pd10 home-portfolio mb10">
                                    <div class="pos-relative">
                                        <div>
                                            <img src="app/images/demo6.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <div class="home-overlay">
                                            <div class="dis-table w100 h100">
                                                <div class="dis-table-cell ver-align-middle">
                                                    <button class="button-primary btn-transparent">view demo</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <h4 class="pb40">homepage update 01</h4>
                        </div>

                        <div class="col-md-4 col-sm-6" target="_blank">
                            <a href="#!home-update2">
                                <div class="pd10 home-portfolio">
                                    <div class="pos-relative">
                                        <div>
                                            <img src="app/images/demo7.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <div class="home-overlay">
                                            <div class="dis-table w100 h100">
                                                <div class="dis-table-cell ver-align-middle">
                                                    <button class="button-primary btn-transparent">view demo</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <h4 class="pb40 pt10">homepage update 02</h4>
                        </div>

                        <div class="col-md-4 col-sm-6" target="_blank">
                            <a href="">
                                <div class="pd10 mb40 home-portfolio comming-soon">
                                    <div class="pos-relative">
                                        <div>
                                            <img src="app/images/demo.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <div class="home-overlay">
                                            <div class="dis-table w100 h100">
                                                <div class="dis-table-cell ver-align-middle">
                                                    <h4>comming soon...</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6" target="_blank">
                            <a href="">
                                <div class="pd10 mb40 home-portfolio comming-soon">
                                    <div class="pos-relative">
                                        <div>
                                            <img src="app/images/demo.jpg" alt="img" class="img-responsive">
                                        </div>
                                        <div class="home-overlay">
                                            <div class="dis-table w100 h100">
                                                <div class="dis-table-cell ver-align-middle">
                                                    <h4>comming soon...</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="inlove">
            <div class="inlove-bgc clearfix" style="background-image: url(app/images/demoselect-footer.png)">
                <div class="col-md-8">
                    <div class="text-center">
                        <h3>in love with our theme?</h3>
                        <div class="text-center">
                            <button class="button-primary">purchase now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="signature text-center">
                <h5>© 2015 AQUA SPA AND BEAUTY. DESIGNED BY THEMEROYAL</h5>
        </div>
    </div>
</div>