<div class="home-shopping" aqua-part>
    <div class="text-center">
        <div class="home-shopping-brand">
            <img src="app/images/aqua-brand4.svg" alt="img">
        </div>
    </div>

<div class="pb60"><aqua-template data-template="shopping/shop_menu"></aqua-template></div>
<div class="pb40"><aqua-template data-template="slides/home-shopping"></aqua-template></div>
<div class="pb40">
    <div class="container">
            <ul class="categories-contain pos-relative">
                <li class="heading-no-line"><a href="" ng-click="printOut()">SPA</a></li>
                <li class="heading-no-line li-clicked"><a href="" ng-click="shoppingTemplate = 'app/components/shopping/shop-beauty-template.html'">BEAUTY</a></li>
                <li class="heading-no-line"><a href="" ng-click="shoppingTemplate = 'app/components/shopping/shop-yoga-template.html'">YOGA</a></li>
            </ul>
    </div>
</div>

    <div ng-include="shoppingTemplate" class="template-fade"></div>

    <!--<aqua-template data-template="shopping/shop_homepage" data-json="homepage_shop_items"></aqua-template>-->

<aqua-template data-template="footer"></aqua-template>
</div>