<div class="home-fullwidth">
    <aqua-template data-template="slides/fullwidth-header"></aqua-template>
    <div class="fullwidth-welcome text-center pt60 pb40">
        <h3 class="heading pb40">welcome</h3>
        <p>AQUA started as an ambitious idea to promoting the economy and foot traffic in up-and-coming
            neighborhoods.</p>
    </div>
    <aqua-template data-template="services/service5" data-json="services/onepage_service4"></aqua-template>
    <aqua-template data-template="services/fullwidth-specialize"></aqua-template>
    <aqua-template data-template="portfolio" data-json="portfolio_images"></aqua-template>
    <aqua-template data-template="banner"></aqua-template>
    <aqua-template data-template="footer"></aqua-template>
</div>