<div class="home-update1">
    <aqua-template data-template="slides/update1-header"></aqua-template>
    <div>
        <aqua-template data-template="about/_update1-about"></aqua-template>
    </div>
    <div class="home-update1-service4 pb40">
        <aqua-template data-template="services/service4-update1" data-json="services/update2_service4"></aqua-template>
    </div>

    <div class="home-update1-service7">
        <div class="pos-relative clearfix">
            <div class="service7-img-container pos-relative">
                <img src="app/images/service-spec1.jpg" alt="img" class="img-responsive">
                <div class="pos-absolute div-background w100 h100 top-0 left-0"></div>
            </div>
            <div class="service7-container">
                <div class="dis-table w100 h100">
                    <div class="absolute-container">
                        <h1 class="heading-no-line service7-heading pb40">we specialize in</h1>
                        <div class="service7-scroll">
                            <ul>
                                <li>Created from natural herbs – Ginseng roots extract</li>
                                <li>100% safe for your skin</li>
                                <li>Quality product from SpaLab</li>
                                <li>Special gifts & offers for you</li>
                                <li>Created by Medical Professionals of AQUA Spa</li>
                            </ul>
                        </div>
                        <div class="text-center pt40">
                            <button class="button-primary service7-seemore-button">see more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home-update1-team">
        <aqua-template data-template="update1-team-member" data-json="update1-team-member"></aqua-template>
    </div>

    <div>
        <div class="home-onepage-service">
            <div class="container">
                <div class="row ">
                    <div class="col-md-6">
                        <div class="home-update1-accordion">
                            <aqua-template data-template="accordion/accordion"
                                           data-json="services/service2"></aqua-template>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <div class="home-onepage-service-img">
                            <img src="app/images/specialize3.png" alt="img" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <aqua-template data-template="advertising/onepage-advertise"></aqua-template>
    </div>

    <div class="update1-testimonial">
        <aqua-template data-template="testimonial/testimonial-update"
                       data-json="testimonial/testimonial"></aqua-template>
    </div>

    <div class="container">
        <div class="update1-relate-posts">
            <h3 class="heading">related posts</h3>
            <p class="pb40">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                tincidunt ut laoreet dolore
                <br>
                magna aliquam erat volutpat ...</p>

            <div class="row">
                <div class="col-md-4">
                    <div class="update1-relate-single-post">
                        <div class="update1-relate-single-post-img">
                            <a href="#!blog-article"><img src="app/images/related-post1.jpg" alt="img" class="img-responsive"></a>
                        </div>
                        <a href="#!blog-article" class="blog-link"><div class="update1-relate-single-post-content">
                            <h4>Wonderful Herbal Skin</h4>
                            <h5>By Jeska / Thursday, April 2, 2015</h5>
                            <p>Lorem ipsum dolor sit amet, atim consectetuer adipiscing elit, sed diam nonummy nibh
                                isn't euismod tincidunt ut laoreet dolore magna aliquam erat volutpat ...</p>
                        </div></a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="update1-relate-single-post">
                        <div class="update1-relate-single-post-img">
                            <a href="#!blog-article"><img src="app/images/related-post2.jpg" alt="img" class="img-responsive"></a>
                        </div>
                        <a href="#!blog-article" class="blog-link"><div class="update1-relate-single-post-content">
                            <h4>Wonderful Herbal Skin</h4>
                            <h5>By Jeska / Thursday, April 2, 2015</h5>
                            <p>Lorem ipsum dolor sit amet, atim consectetuer adipiscing elit, sed diam nonummy nibh
                                isn't euismod tincidunt ut laoreet dolore magna aliquam erat volutpat ...</p>
                        </div></a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="update1-relate-single-post">
                        <div class="update1-relate-single-post-img">
                            <a href="#!blog-article"><img src="app/images/related-post3.jpg" alt="img" class="img-responsive"></a>
                        </div>
                        <a href="#!blog-article" class="blog-link"><div class="update1-relate-single-post-content">
                            <h4>Wonderful Herbal Skin</h4>
                            <h5>By Jeska / Thursday, April 2, 2015</h5>
                            <p>Lorem ipsum dolor sit amet, atim consectetuer adipiscing elit, sed diam nonummy nibh
                                isn't euismod tincidunt ut laoreet dolore magna aliquam erat volutpat ...</p>
                        </div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="update1-membership">
        <aqua-template data-template="shopping/membership_onepage" data-json="membership_shop_items_onepage"></aqua-template>
    </div>

    <div>
        <aqua-template data-template="forms/reservation-form"></aqua-template>
    </div>

    <div>
        <aqua-template data-template="footer"></aqua-template>
    </div>
</div>
