<div class="home-fullheight">
    <aqua-template data-template="slides/fullheight-header"></aqua-template>
    <div class="container">
        <div class="row">
            <div class="text-center col-md-8 col-md-offset-2 fullheight-welcome">
                <h3 class="heading">welcome</h3>
                <p class="pb40">
                    AQUA started as an ambitious idea to promoting the economy and foot traffic in up-and-coming
                    neighborhoods. As the business flourish our efforts has been successfully supported by the same
                    community we love, and it has been a wonderful journey as we strive to provide the highest level of
                    service to our supporters.</p>
            </div>
        </div>
    </div>
    <aqua-template data-template="services/service4" data-json="services/onepage_service4"></aqua-template>
    <hr>
    <aqua-template data-template="portfolio" data-json="portfolio_images"></aqua-template>
    <aqua-template data-template="testimonial/testimonial-fullheight"
                   data-json="testimonial/testimonial"></aqua-template>
    <aqua-template data-template="forms/reservation-form"></aqua-template>
    <aqua-template data-template="footer"></aqua-template>
</div>