<div class="reservation">
    <aqua-template data-template="navigation/main-navigation"></aqua-template>
    <hr class="menu-hr">
    <div>

        <div class="container">
            <div class="row">
                <div class="reservation-bgc" style="background-image: url(app/images/reservation.jpg)">
                    <div class="z-100">
                    <h5 class="pt60 reservation-welcome">Please book in advance to get the best service from us. We
                        wishing you a great day.
                        <br>Thanks!</h5>
                    <div class="reservation-container pb70">
                        <div class="clearfix">
                            <div class="col-md-6 col-sm-12 pb30">
                                <input type="text" placeholder="Name">
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-5 col-sm-12 pb30">
                                        <select name="time">
                                            <option value="Morning">Morning</option>
                                            <option value="Afternoon">Afternoon</option>
                                            <option value="Evening">Evening</option>
                                        </select>
                                    </div>

                                    <div class="col-md-7 col-sm-12 pb30">
                                        <input type="text" placeholder="Date">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pb40 clearfix">
                            <div class="col-md-6 col-sm-12 pb30">
                                <input type="text" placeholder="Email">
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-7 col-sm-12 pb30">
                                        <select name="services">
                                            <option value="spa">Spa</option>
                                            <option value="Massage">Massage</option>
                                            <option value="yoga">Yoga</option>
                                        </select>
                                    </div>

                                    <div class="col-md-5 col-sm-12 pb30">
                                        <button class="button-primary btn">Book</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <h4 class="text-center">Opentime: 8:00am -11:30am / 2:00pm-5:30pm / 7:00pm-10:00pm</h4>
                    </div>
                </div>
                </div>
            </div>
        </div>

    </div>
    <aqua-template data-template="footer"></aqua-template>
</div>