<div class="service">
    <div>
        <aqua-template data-template="navigation/main-navigation"></aqua-template>
        <hr>
    </div>
    <div class="container">
        <div class="service-quote">
            <div class="col-lg-8 col-lg-offset-2">
                <p class="text-center">
                    When you have once seen the glow of happiness on the face of a beloved person, you know that a man
                    can have
                    no vocation but to awaken that light on the faces surrounding him. In the depth of winter, <br>
                    I finally learned that within me there lay an invincible summer.
                </p>
                <h4>_ Albert Camus _</h4>
            </div>
        </div>
    </div>
    <div class="service-service2">
        <aqua-template data-template="services/service2" data-json="services/service2"></aqua-template>
    </div>
    <aqua-template data-template="footer"></aqua-template>
</div>