<div class="shop-product">
    <div class="text-center">
        <div class="home-shopping-brand">
            <img src="app/images/aqua-brand4.svg" alt="img">
        </div>
    </div>
    <div class="pb60">
        <aqua-template data-template="shopping/shop_menu"></aqua-template>
    </div>
    <div class="container">
        <div class="pb40 clearfix">
            <div class="col-lg-8 col-lg-offset-2">
                <p class="text-center">* * * <br>
                    When you have once seen the glow of happiness on the face of a beloved person, you know that a man
                    can have no vocation but to awaken that light on the faces surrounding him. In the depth of winter,
                    I finally learned that within me there lay an invincible summer.</p>
            </div>
        </div>
    </div>

    <aqua-template data-template="shopping/shop_onepage" data-json="shop_product" data-callback="Aqua.log()"></aqua-template>
    <aqua-template data-template="footer"></aqua-template>
</div>
