<div class="shop-product2">
    <div class="text-center">
        <div class="home-shopping-brand">
            <img src="app/images/aqua-brand4.svg" alt="img">
        </div>
    </div>
    <div class="pb60">
        <aqua-template data-template="shopping/shop_menu"></aqua-template>
    </div>
    <div>
        <aqua-template data-template="shopping/shop-product"></aqua-template>
    </div>
    <div class="checkout-like pb60">

        <div class="container">
            <hr>
            <div class="row">

                <h4>also you may like</h4>

                <div class="col-md-2 col-sm-4 col-xs-6 pb20 item-container">
                    <a href="#!shop-cart">
                        <div class="like-item">
                            <img src="app/images/product1.jpg" alt="img" class="img-responsive">
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 pb20 item-container">
                    <a href="#!shop-cart">
                        <div class="like-item">
                            <img src="app/images/product2.jpg" alt="img" class="img-responsive">
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 pb20 item-container">
                    <a href="#!shop-cart">
                        <div class="like-item">
                            <img src="app/images/product3.jpg" alt="img" class="img-responsive">
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 pb20 item-container">
                    <a href="#!shop-cart">
                        <div class="like-item">
                            <img src="app/images/product4.jpg" alt="img" class="img-responsive">
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 pb20 item-container">
                    <a href="#!shop-cart">
                        <div class="like-item">
                            <img src="app/images/product5.jpg" alt="img" class="img-responsive">
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 pb20 item-container">
                    <a href="#!shop-cart">
                        <div class="like-item">
                            <img src="app/images/product6.jpg" alt="img" class="img-responsive">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <aqua-template data-template="footer"></aqua-template>
    </div>
</div>
