<div class="shop-checkout">
    <div class="text-center">
        <div class="home-shopping-brand">
            <img src="app/images/aqua-brand4.svg" alt="img">
        </div>
    </div>
    <div class="pb60">
        <aqua-template data-template="shopping/shop_menu"></aqua-template>
    </div>
    <div>
        <aqua-template data-template="shopping/shop-checkout"></aqua-template>
    </div>
    <aqua-template data-template="footer"></aqua-template>
</div>