<div class="undercontruction">
    <aqua-template data-template="navigation/main-navigation"></aqua-template>
    <hr class="menu-hr">
    <div>

        <div class="container">
            <div class="row">
                <div class="reservation-bgc" style="background-image: url(app/images/reservation.jpg)">
                    <div class="construction-container">
                        <div class="clock-icon">
                        </div>
                        <div>
                            <h1>THIS SITE UNDER CONSTRUCTION</h1>
                            <h3>We’re working on some improvements and will come back in</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="countdown-clock" aqua-underconstruction></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <aqua-template data-template="footer"></aqua-template>
    </div>
</div>