<div class="container">
    <div class="row">
        <div class="cart-table-products pb60">
            <div class="col-md-12 cart-container">
                <table class="roboto-slab">
                    <thead class="josefin">
                        <tr>
                            <th class="table-product-header">Products</th>
                            <th></th>
                            <th>Size</th>
                            <th>Color</th>
                            <th>Price</th>
                            <th>Qty</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="pr15">
                                <a href=""><img src="app/images/cart-item1.jpg" alt="img" class="img-responsive"></a>
                            </td>
                            <td class="table-product-name"><a href="">HANDCRAFTED SOAP STONE</a></td>
                            <td>S</td>
                            <td class="">
                                    <div class="product-specify-info text-center ml-auto mr-auto float-none"  ng-init="chosen = 1">
                                        <div class="radio-color">
                                            <label class="radio-blue">
                                                <input type="radio" name="color">
                                                <a href="" ng-click="chosen = 1"><span ng-class="{'radio-chosen' : chosen == 1}"></span></a>
                                            </label>
                                            <label class="radio-pink">
                                                <input type="radio" name="color">
                                                <a href="" ng-click="chosen = 2"><span ng-class="{'radio-chosen' : chosen == 2}"></span></a>
                                            </label>
                                            <label class="radio-black">
                                                <input type="radio" name="color">
                                                <a href="" ng-click="chosen = 3"><span ng-class="{'radio-chosen' : chosen == 3}"></span></a>
                                            </label>
                                        </div>
                                    </div>
                            </td>
                            <td>$ 25.00</td>
                            <td><input type="number" class="product-quantity" min="1" value="1" align="middle"></td>
                            <td>$ 50.00</td>
                        </tr>
                        <tr class="table-second-product">
                            <td class="pr15">
                                <a href=""><img src="app/images/cart-item2.jpg" alt="img" class="img-responsive"></a>
                            </td>
                            <td class="table-product-name"><a href="">HANDCRAFTED SPA SALT - PINK SOAK</a></td>
                            <td>S</td>
                            <td class="">
                                <div class="product-specify-info text-center ml-auto mr-auto float-none"  ng-init="chosen = 1">
                                    <div class="radio-color">
                                        <label class="radio-blue">
                                            <input type="radio" name="color">
                                            <a href="" ng-click="chosen = 1"><span ng-class="{'radio-chosen' : chosen == 1}"></span></a>
                                        </label>
                                        <label class="radio-pink">
                                            <input type="radio" name="color">
                                            <a href="" ng-click="chosen = 2"><span ng-class="{'radio-chosen' : chosen == 2}"></span></a>
                                        </label>
                                        <label class="radio-black">
                                            <input type="radio" name="color">
                                            <a href="" ng-click="chosen = 3"><span ng-class="{'radio-chosen' : chosen == 3}"></span></a>
                                        </label>
                                    </div>
                                </div>
                            </td>
                            <td>$ 64.00</td>
                            <td><input type="number" class="product-quantity" min="1" value="1" align="middle"></td>
                            <td>$ 64.00</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>SUBTOTAL</th>
                            <th colspan="5"></th>
                            <th class="fz-18">$ 114.00</th>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <div class="text-right pt60">
                <button class="button-primary btn-dark pl40 pr40 pt10 pb10 fz-14 mr15 mt60"><a href="#!shop-checkout">Check out</a></button>
            </div>
        </div>
    </div>
</div>