<div class="container">
    <div class="row">
        <h3 class="heading pb30">membership</h3>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center" ng-repeat="dataitem in datablock">
            <div class="onepage-membership-div-contain pb50 mb30">
            <h5 class="heading-no-line pt10 pb10 pos-relative">{{dataitem.option}}</h5>
            <div class="pos-relative">
                <img src="{{dataitem.image}}" alt="img" class="img-responsive">
                <div class="pos-absolute w100 h100 top-0 left-0 pd10">
                    <div class="overlay w100 h100 overlay-membership">
                        <div class="dis-table-cell ver-align-middle">
                            <h1 class="roboto-slab"><span>$</span>{{dataitem.price}}</h1>
                            <h5 class="roboto-slab">monthly</h5>
                        </div>
                    </div>
                </div>
            </div>
                <ul class="text-center pd30">
                    <li ng-repeat="li in dataitem.services">{{li}}</li>
                </ul>

                <button class="button-primary btn-transparent"><a href="#!shop-checkout">BUY NOW</a></button>
            </div>
        </div>
    </div>
</div>