<div class="container">
    <div class="row">
        <div class="shop-checkout-container"
             ng-init="templateHtml = 'app/components/shopping/shop-checkout-address.html'; step = 1">
            <div class="col-md-7">
                <div class="shop-checkout-process">
                    <div class="process-line">
                        <a href="" ng-click="templateHtml = 'app/components/shopping/shop-checkout-address.html'; step = 1">
                            <div class="process-address" ng-class="{'step-done': step > 1, 'on-step' : step == 1}"></div>
                        </a>
                        <span class="text-address">Adress</span>

                        <a href="" ng-click="templateHtml = 'app/components/shopping/shop-checkout-payment.html'; step = 2">
                            <div class="process-address process-payment" ng-class="{'step-done': step > 2, 'on-step' : step == 2}"></div>
                        </a>
                        <span class="text-address text-payment">Payment</span>

                        <a href="" ng-click="step = 3">
                            <div class="process-address process-complete" ng-class="{'on-step' : step == 3}"></div>
                        </a>
                        <span class="text-address text-complete">Complete</span>
                    </div>
                </div>
                <div class="checkout-template-container pb40">
                    <div ng-include="templateHtml" class="template-fade"></div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="button-checkout text-center pt40 pb40">
                        <a href="" ng-click="templateHtml = 'app/components/shopping/shop-checkout-payment.html'; step = 2">Continue</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-xs-12">
                <div class="checkout-cart-container">
                <div class="checkout-summary-header">
                    <h4 class="heading-no-line">order summary</h4>
                </div>

                <div class="checkout-item-1 clearfix pl40 pt40">
                    <img src="app/images/cart-item1.jpg" alt="img" class="img-responsive">
                    <div class="checkout-item1-info ml-auto">
                        <div class="checkout-item-name roboto-slab clearfix pl20 pt20" ng-init="checkOutColor = 'blue'">
                            <h5>LIGHT SLEEPING INDIAN HUTS</h5>
                            <div class="pos-relative">
                            <a href="" ng-click="checkOutColor='blue'"><span class="checkout-cart-radio" ng-class="{'checkout-cart-radio-selected' : checkOutColor == 'blue'}"></span></a>
                            <a href="" ng-click="checkOutColor='red'"><span class="checkout-cart-radio" ng-class="{'checkout-cart-radio-selected' : checkOutColor == 'red'}"></span></a>
                            <a href="" ng-click="checkOutColor='black'"><span class="checkout-cart-radio" ng-class="{'checkout-cart-radio-selected' : checkOutColor == 'black'}"></span></a>
                            <p class="pos-absolute top-0 right-0">$ 25.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="checkout-quantity roboto-slab">
                        <h5>x <span>02</span></h5>
                    </div>
                </div>

                    <div class="pl40 pr40">
                        <hr class="mt40">
                    </div>

                    <div class="checkout-item-1 clearfix pl40 pt40">
                        <img src="app/images/cart-item2.jpg" alt="img" class="img-responsive">
                        <div class="checkout-item1-info ml-auto">
                            <div class="checkout-item-name roboto-slab clearfix pl20 pt20" ng-init="checkOutColor = 'blue'">
                                <h5>LIGHT SLEEPING INDIAN HUTS</h5>
                                <div class="pos-relative">
                                    <a href="" ng-click="checkOutColor='blue'"><span class="checkout-cart-radio" ng-class="{'checkout-cart-radio-selected' : checkOutColor == 'blue'}"></span></a>
                                    <a href="" ng-click="checkOutColor='red'"><span class="checkout-cart-radio" ng-class="{'checkout-cart-radio-selected' : checkOutColor == 'red'}"></span></a>
                                    <a href="" ng-click="checkOutColor='black'"><span class="checkout-cart-radio" ng-class="{'checkout-cart-radio-selected' : checkOutColor == 'black'}"></span></a>
                                    <p class="pos-absolute top-0 right-0">$ 25.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="checkout-quantity roboto-slab">
                            <h5>x <span>02</span></h5>
                        </div>
                    </div>

                    <div class="checkout-price mt40 pt40 clearfix pl40 pr40 roboto-slab fz-14">
                        <p>Subtotal <span class="float-right">$ 114.00</span></p>
                        <div>
                            <hr class="mt20 mb20">
                        </div>
                        <p>Shipping <span class="float-right">$ 9.00</span></p>
                        <div>
                            <hr class="mt20 mb20">
                        </div>
                        <p>Total <span class="float-right">$ 114.00</span></p>
                    </div>
                    <div class="pl40 pb40 pr40 pt40 roboto-slab checkout-total-price">
                        <p>Payment Due<span class="float-right fz-18">$ 123.00</span></p>
                    </div>

            </div>
        </div>
        </div>
    </div>
</div>
