<div class="payment-information pt100">
    <div class="pos-relative pb40">
        <h4 class="roboto-slab">information</h4>
        <h5 class="pos-absolute right-0 top-0">edit</h5>
    </div>
    <div>
        <h4>JEAN HOMESOND</h4>
        <p>Ostheme2014@gmail.com <br>
            123 frank, philadelphia <br>
            united stage <br>
            012 345 6789</p>
    </div>

    <hr >
    <div class="shipping-fee">
        <h4 class="mt50 mb50 roboto-slab">SHIPPING</h4>
        <div class="shipping-fee-detail pos-relative">
            <p>International Shipping Light Weight Rate</p>
            <h5 class="pos-absolute right-0">$ 12</h5>
        </div>
    </div>
    <hr class="mt50">
    <div class="billing-payment roboto-slab">
        <h4>billing & payment</h4>
        <div class="pos-relative pb40">
            <a href="">
                <div class="process-address"></div>
            </a>
            <span class="text-address">Credit Card</span>
            <img src="app/images/billing1.jpg" alt="img" class="img-responsive pos-absolute top-0 right-0">
        </div>
        <div class="credit-info josefin clearfix">
            <div class="col-md-6 col-sm-6 col-xs-6">
                Card number
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                0123789789
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                Name on card
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                JEAN HOMESOND
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                Expiry
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                01 / 2015
            </div>
        </div>

        <div class="text-left pos-relative pb40">
            <img src="app/images/paypal.jpg" alt="img" class="img-responsive pos-absolute top-0 left-0">
            <img src="app/images/billing2.jpg" alt="img" class="img-responsive pos-absolute top-0 right-0">
        </div>
    </div>
</div>
