<div class="container">
    <div class="row">
        <div class="shop-menu-container clearfix">
        <div class="col-md-4 hidden-sm hidden-xs">
            <p>Hotline: <span>0123 456 789</span></p>
        </div>
        <div class="col-md-4 col-sm-12">
            <ul>
                <li><a href="">spa</a></li>
                <li><a href="">beauty</a></li>
                <li><a href="">yoga</a></li>
                <li><a href="">selloff</a></li>
            </ul>
        </div>
        <div class="col-md-4 hidden-sm text-right hidden-xs pl0 pr0">
            <select name="Settings" class="shop-menu-selector">
                <option selected disabled>Settings</option>
                <option value="setting1">Setting 1</option>
                <option value="setting2">Setting 2</option>
                <option value="setting3">Setting 3</option>
            </select>
            <select name="Settings" class="shop-menu-selector">
                <option selected disabled>English</option>
                <option value="setting1">French</option>
                <option value="setting2">Spanish</option>
                <option value="setting3">Dutch</option>
            </select>
            <select name="Settings" class="shop-menu-selector">
                <option selected disabled>USD</option>
                <option value="setting1">EUR</option>
            </select>
        </div>
    </div>
    </div>
</div>
