<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 mb30" ng-repeat="dataitem in datablock">
            <div class="pos-relative onepage-shop-contain-div">
                    <img src="{{dataitem.image}}" alt="img" class="img-responsive">
                    <div class="pos-absolute pd20 w100 h100 top-0 left-0">
                        <div class="animate-div1 dis-table">
                            <div class="dis-table-cell text-center ver-align-middle">
                                <h4 class="heading">{{dataitem.name}}</h4>
                                <h1>{{dataitem.price}}</h1>
                                <button class="button-primary btn-transparent">
                                    <a href="#!shop-cart">ADD TO CARD</a>
                                </button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
