<div class="container">
    <div class="row">
        <h4 class="product-heading">product :</h4>
        <div class="shop-product-container" ng-init="ind = 1">
            <div class="col-md-5 col-sm-8">
                <div class="shop-product-img-wrapper pb40">
                    <img src="app/images/product-img-large{{ind}}.jpg" alt="img" class="img-responsive">
                    <div class="pos-relative w100">
                        <div class="text-center shop-product-share-button">
                            <button class="button-primary btn-transparent">Share</button>
                        </div>
                        <div class="text-center shop-product-add-button">
                            <button class="button-primary"><a href="#!shop-cart">ADD TO CART</a></button>
                        </div>
                    </div>
                    </divshop-product-container>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-sm-4 product-color-img-container">
            <div class="product-color-img-wrapper">
                <a href="" ng-click="ind = 1"><img src="app/images/product-img-small1.jpg" alt="img"
                                                    class="img-responsive"></a>
                <a href="" ng-click="ind = 2"><img src="app/images/product-img-small2.jpg" alt="img"
                                                    class="img-responsive"></a>
                <a href="" ng-click="ind = 3"><img src="app/images/product-img-small3.jpg" alt="img"
                                                    class="img-responsive"></a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="product-info-container">
                <h4 class="pb20">HANDCRAFTED SOAP STONE</h4>
                <h1 class="pb20">$ 25.00</h1>
                <div class="col-md-12 josefin clearfix pl0 pr0">
                    <div class="col-md-6 col-sm-6 col-xs-6 clearfix info-container" ng-init="chosen = 1">
                        <div class="product-info-header">Colour :</div>
                        <div class="product-specify-info text-center">
                            <div class="radio-color">
                                <label class="radio-blue">
                                    <input type="radio" name="color">
                                    <a href="" ng-click="chosen = 1"><span ng-class="{'radio-chosen' : chosen == 1}"></span></a>
                                </label>
                                <label class="radio-pink">
                                    <input type="radio" name="color">
                                    <a href="" ng-click="chosen = 2"><span ng-class="{'radio-chosen' : chosen == 2}"></span></a>
                                </label>
                                <label class="radio-black">
                                    <input type="radio" name="color">
                                    <a href="" ng-click="chosen = 3"><span ng-class="{'radio-chosen' : chosen == 3}"></span></a>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 info-container">
                        <div class="product-info-header">Rating: </div>
                        <div class="product-specify-info">
                            <span ng-repeat="i in [1, 2, 3]">★</span>
                            <span ng-repeat="i in [1, 2]" class="no-rate">★</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 josefin clearfix pl0 pr0 pb20">
                    <div class="col-md-6 col-sm-6 col-xs-6 info-container">
                        <div class="product-info-header">Size :</div>
                        <div class="product-specify-info">
                            <div class="product-size text-center" ng-init="sizeChosen = 'S'">
                                <a href="" ng-click="sizeChosen = 'S'"><span ng-class="{'product-size-selected' : sizeChosen == 'S'}">S</span></a>
                                <a href="" ng-click="sizeChosen = 'M'"><span ng-class="{'product-size-selected' : sizeChosen == 'M'}">M</span></a>
                                <a href="" ng-click="sizeChosen = 'L'"><span ng-class="{'product-size-selected' : sizeChosen == 'L'}">L</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 info-container">
                        <div class="product-info-header">Quantity :</div>
                        <div class="product-specify-info">
                            <input type="number" class="product-quantity" min="1" value="1" align="middle">
                        </div>
                    </div>
                </div>
                <div class="product-description josefin">
                    <p>
                        Online shopping is not currently offered in your market. Please visit your local H&M store for availability.
                        Please note that some products, colors and sizes shown Online may not be available in your country or store. Prices can differ between online and the stores
                    </p>
                    <hr>
                    <h5 class="roboto-slab pb15">DESCRIPTION</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quasi repellat reprehenderit similique sit temporibus unde voluptatum! Alias doloribus dolorum error labore minima omnis possimus quae tempora veritatis voluptatum! Ab.</p>
                </div>
            </div>
        </div>
    </div>
</div>