<div class="customer-info pt100">
    <h4 class="roboto-slab pb20">CUSTOMER INFORMATION</h4>
    <p class="pb20">Have an account?<span><a href="">Log in</a></span></p>
    <p class="pb20">Enter your name and email address</p>
    <div class="col-md-6 pb20">
        <input type="text" placeholder="Name">
    </div>
    <div class="col-md-6 pb20">
        <input type="text" placeholder="Email">
    </div>
    <p class="pb20">Do you have an account?</p>
    <div class="checkout-radio pb30" ng-init="checkoutChosen = 1">
        <label class="checkout-radio-option pb10">
            <input type="radio" name="option">
            <a href="" ng-click="checkoutChosen = 1"><span ng-class="{'checkout-chosen' : checkoutChosen == 1}">No  (You can choose to creat an account later)</span></a>
        </label>
        <label class="checkout-radio-option">
            <input type="radio" name="option">
            <a href="" ng-click="checkoutChosen = 2"><span ng-class="{'checkout-chosen' : checkoutChosen == 2}">Yes</span></a>
        </label>
    </div>
</div>
<hr>

<div class="shipping-form clearfix">

    <h4 class="roboto-slab">shipping address</h4>
    <div class="col-md-4 pt5">
        Adress :
    </div>
    <div class="col-md-8 mb20">
        <input type="text">
    </div>

    <div class="col-md-4 pt5">
        City :
    </div>
    <div class="col-md-8 mb20">
        <input type="text">
    </div>


    <div class="col-md-4 pt5">
        Country :
    </div>
    <div class="col-md-8 mb20">
        <input type="text">
    </div>


    <div class="col-md-4 pt5">
        Postal code :
    </div>
    <div class="col-md-8 mb20">
        <input type="text">
    </div>


    <div class="col-md-4 pt5">
        Phone :
    </div>
    <div class="col-md-8 text-center">
        <input type="text">
    </div>


</div>


