<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6" ng-repeat="dataitem in datablock">
            <div class="text-center homepage-shop-item-contain mb10 mt40">
            <div class="homepage-shop-div-contain pos-relative">
                <img src="{{dataitem.image}}" alt="img" class="img-responsive">
                <div class="w100 h100 pos-absolute top-0 left-0 pd20">
                    <div class="w100 h100 homepage-shop-overlay dis-table">
                        <div class="text-center dis-table-cell ver-align-middle">
                            <a href="#!shop-cart" id="cart">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                            <hr>
                            <a href="" id="heart">
                                <i class="fa fa-heart-o"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
                <h5 class="heading-no-line">{{dataitem.name}}</h5>
                <p><span ng-if="dataitem.discount">${{dataitem.price}}</span>${{dataitem.price - dataitem.price * dataitem.discount/100}}</p>
                <div class="text-center">
                    <span ng-repeat="i in [1, 2, 3, 4, 5] | limitTo: dataitem.rate">★</span>
                    <span ng-repeat="i in [1, 2, 3, 4, 5] | limitTo: 5 - dataitem.rate" class="no-rate">★</span>
                </div>
            </div>
        </div>
        <div class="text-center">
            <ul class="shop-homepage-pages mt40">
                <li class="shop-arrow">
                    <a href="">
                        <i class="icon-arrows-slim-left"></i>
                    </a>
                </li>
                <li ng-repeat="i in [1, 2, 3, 4, 5]">
                    <a href="">{{i}}</a>
                </li>
                <li class="shop-arrow">
                    <a href="" >
                        <i class="icon-arrows-slim-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
