
<div class="container">
    <div class="row">
        <ul class="categories-contain pos-relative">
            <li class="heading-no-line"><a href="" ng-click="printOut()">SPA</a></li>
            <li class="heading-no-line li-clicked"><a href="" ng-click="shoppingTemplate = 'app/components/shopping/shop-beauty-template.html'">BEAUTY</a></li>
            <li class="heading-no-line"><a href="" ng-click="shoppingTemplate = 'app/components/shopping/shop-yoga-template.html'">YOGA</a></li>
        </ul>
    </div>
</div>
