.ui-corner-top {
  border: none !important;
}

.ui-state-active {
  background: #ddd !important;
  outline: none !important;
  &:before {
    content: "\e170" !important;
  }
}

.ui-state-default {
  background: #ddd !important;
  outline: none !important;
}


.ui-accordion {
  border: none !important;
}

.ui-corner-top {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}


.accordion-container {
  h3 {
    color: $main-color5;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-transform: uppercase;
    font-family: "Roboto Slab";
    letter-spacing: 1.8px !important;


    &:before {
      position: relative;
      //left: -20px;
      font-family: "aqua" !important;
      font-size: 24px;
      content: "\e177";
      display: inline-block;
      vertical-align: -20%;
      margin-right: 20px !important;
    }
  }

  p {
    font-family: "Josefin Sans", sans-serif;
    font-style: italic;
  }
}

.ui-widget-content {
  //background-color: #ddd !important;
  border: none !important;
  background-color: #F5F5F5 !important;
}

.ui-icon {
  display: none !important;
}

.accordion-content {
  position: relative;
  top: -30px;
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
  height: 200px;
}

