.basic-slide-img {

  max-width: 450px;
  img {
    float: left;
    height: auto !important;
  }
}

.basic-slider {
  //height: 350px;

}

.basic-slider-container {

  //height: 100%;
  background-repeat: no-repeat;
  background-size: 450px 400px;
  background-position: left;
  background-color: #D9D8C1;
}

.basic-slide-text {
  position: absolute;
  left: 40%;
  top: 30%;
  font-weight: 500;

  p {
    display: inline-block;
  }
  .basic-slide-img {
    display: inline-block;
    max-width: 150px;
    margin-bottom: -10px;
    margin-left: 35px;
  }

  button {
    font-size: 10px;
    margin-top: 25px;
    padding: 6px 20px;
  }
}



.basic-slider-container2 {
  background-size: 580px 400px;
  background-color: $main-color2;
}

.basic-slider-bgc-img {
  height: 60vh;
  img {
    float: left;
  }
  @media screen and (max-width: $screen-lg) {
    height: 350px;
  }
  @media screen and (max-width: $screen-lg) {
    height: 300px;
  }
}
