.fullheight-big {
  @media screen and (max-width: $screen-sm - 1){
    display: none;
  }
}

.fullheight-header-container {
  width: 100%;
}

.fullheight-header-bgc {
  background-color: #dab2b0;
}

.fullheight-header-height {
  clear: both;
  height: 100vh;
  padding-top: 150px;
  img {
    display: block;
  }
}

.fullheight-header-height1 {
  img {
    display: block;
    @media screen and (max-width: $screen-lg) {
      max-height: 80%;
      position: relative;
      top: 160px;
    }

    @media screen and (max-width: $screen-md) {
      max-height: 70%;
      position: relative;
      top: 250px;
    }
  }
}

.fullheight-navbar-container {
  position: absolute;
  width: 100%;
  top: 50px;
  z-index: 900;
}

.fullheight-navbar {
  .horizontal-menu {
    margin-top: 25px;
    @media screen and (max-width: $screen-lg){
      margin-top: 10px;
    }
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.fullheight-header-height2 {
  img {
    @media screen and (max-width: $screen-md) {
      position: relative;
      top: -100px;
    }
  }
}

.slick-slide {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.fullheight-header-bgc2 {
  background-color: $main-color3;
}

.fullheight-header-img2 {
  //position: absolute;
  //bottom: 0;
  //top: 125px;
  //left: 200px
  width: 50%;
  margin-right: auto;
  padding-left: 40px;
  img {
    margin-top: 120px;
  }
  @media screen and (max-width: $screen-lg){
    img {
      height: 700px;
    }
  }
  @media screen and (max-width: $screen-md){
    img {
      padding-top: 150px;
      top: 0px;
    }
  }
}

.fullheight-header-text2 {
  position: absolute;
  left: 62%;
  top: 30%;
  z-index: 10;
  @media screen and (max-width: $screen-lg){
    font-size: 2vw;
    padding-top: 60px;

  }
  @media screen and (max-width: $screen-md){

      padding-top: 150px;
  }
  h2 {
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    font-size: 36px;
    @media screen and (max-width: $screen-lg){
      font-size: 3vw;
    }
  }
  ul {
    padding-top: 10px;
    margin: 0;
    list-style: disc;

    li {
      font-weight: 300;
      font-size: 20px;
      padding-bottom: 10px;
      @media screen and (max-width: $screen-lg){
        font-size: 2vw;
      }
    }
  }
  button {
    margin-top: 30px;
  }
}

.fullheight-small {
  @media screen and (min-width: $screen-sm){
    display: none;
  }

  .nav-compact {
    margin-top: 35px;
  }

  background-color: #C6D9C6;
  padding-bottom: 50px;
  letter-spacing: 2px;
  img {
    display: block;
  }

  h3 {
    color: #fff;
    padding-top: 30px;
    text-align: center;
    font-family: "Roboto Slab";
  }
  .small-logo {
    position: relative;
    img {
      position: absolute;
      top: 15px;
      left: 20px;
      height: 70px;
      width: 120px;
    }
  }
}