.home-basic-slide-container {
  @media screen and (max-width: 767px){
    display: none;
  }
  //background-position: left;
  //background-repeat: no-repeat;
  //background-size: 600px 500px;
  //padding-top: 200px;
  //padding-bottom: 300px;
  height: 100vh;
  position: relative;
  img {
    -webkit-backface-visibility: hidden;
    position: absolute;
    z-index: 7;
    left: 100px;
    top: 10%;
    max-width: 650px;
  }
}

.slick-list,
.slick-track,
.slick-slide img {
  height: 100%;
}

.home-basic-slide-bg {
  height: 80%;
  position: relative;
  &:after {
    content: " ";
    width: 99%;
    height: 98%;
    background-color: $main-color4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
  }

  &:before {
    content: " ";
    width: 99%;
    height: 98%;
    background-color: #C6D9C6;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
  }

}

.home-basic-slide-text {
  //backface-visibility: hidden !important;
  position: absolute;
  z-index: 7;
  top: 40%;
  left: 40%;
  p {
    font-weight:500;
    font-size: 20px;
    line-height: 25px;
  }
  button {
    margin-top: 30px;
    font-size: 10px;
    font-weight: 700;
  }
}

.aqua-span {
  padding-left: 60px;
  text-transform: uppercase;
  font-size: 40px;
}

.spa-span {
  color: $main-color1;
  font-size: 30px;
}

.home-basic-slider {
  position: relative;
  //-webkit-backface-visibility: hidden;
}

.display-none-768 {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.home-header {

  background-color: #D9D8C1;
  text-align: center;
  img {
    margin-top: 15%;
  }
  h3 {
    font-family: "Roboto Slab";
    color: #FFFFFF;
    letter-spacing: 2.0px;
    text-transform: uppercase;
    margin-top: 30px;
    padding-bottom: 60px;
  }
}