.home-shopping-img2 {
  width: 100%;
  @media screen and (max-width: $screen-md){
    width: 100%;}
  img {
    float: right;
    @media screen and (max-width: $screen-md){
      padding-top: 40px;
      margin-left: auto;
      margin-right: auto;
      float: none;
    }
  }
}

.home-shopping-img-text {
  hr {
    padding-top: 2px;
    background-color: $main-color5;
    width: 300px;
    margin-top: 10px;
    margin-left: 150px;
  }
  position: absolute;
  top: 10%;
  width: 70%;
  right: 80px;
  text-transform: uppercase;
  h1 {
    width: 100%;
    padding-left: 20%;
    font-size: 4vw;
    @media screen and (max-width: $screen-sm) {
      font-size: 6vw;
    }
    span {
      font-size: 7vw;
      @media screen and (max-width: $screen-sm) {
        font-size: 9vw;
      }
    }
  }
  h2 {
    font-style: italic;
    font-size: 2vw;
    @media screen and (max-width: $screen-md) {
      font-size: 3vw;
    }
    @media screen and (max-width: $screen-sm) {
      font-size: 4vw;
    }
    //text-align: right;
    //&:before {
    //  content: " ";
    //  display: block;
    //  width: 250px;
    //  border-top: 1px solid $main-color5;
    // //margin-left: 180px;
    //  margin-bottom: 10px;
    //}
  }
}

.tool-yoga {
  padding-left: 45%;
  text-align: right;
  &:before {
    content: " ";
    display: block;
    width: 100%;
    border-top: 1px solid $main-color5;
    //margin-left: 180px;
    margin-bottom: 10px;
  }
}

.hot-soap {
  position: absolute;
  bottom: 35px;
  width: 100%;
  h4 {
    font-style: italic;
    text-transform: uppercase;
  }
}
