.home-onepage {
  .horizontal-menu {
    margin-top: 15px;
    padding-left: 45px;
    padding-right: 45px;
    @media screen and  (max-width: $screen-md){
      margin-top: 0;
      padding-left: 0;
      padding-right: 0;
    }


    li {
      font-size: 14px;
    }
  }

  .nav-compact {
    right: 0 !important;
    margin-right: 25px !important;
  }
}

.onepage-brand-img {
  @media screen and (max-width: $screen-md){
    img {
      max-height: 60px !important;
    }
  }
}
