.update2-slide {
  .update2-slide-bgc {
    background-color: #9DCF67;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .update2-avatar-container {
    @media screen and (max-width: $screen-md) {
      float: none !important;
    }
  }

  .update2-comment {
    padding-top: 10px;
    color: #fff;
    font-style: italic;
    font-weight: 200;
    line-height: 28px;
    font-size: 18px;

    @media screen and (max-width: $screen-md) {
      text-align: center !important;
      padding-left: 30px;
      padding-right: 30px;
    }

    @media screen and (max-width: $screen-xs) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .update2-author {
    position: relative;
    width: 230px;
    text-align: center;
    float: right;
    color: #fff;
    font-style: italic;

    @media screen and (max-width: $screen-md) {
      float: none !important;
      margin-left: auto;
      margin-right: auto;

    }
    
    p {
      width: 60%;
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
      z-index: 15;
      position: relative;
      background-color: #9DCF67;
    }
    
    &:before {
      content: " ";
      display: block;
      position: absolute;
      border-top: 1px solid #fff;
      top: 40%;
      width: 100%;
      z-index: 10;
    }
  }

  .update2-avatar {
    img {
      border-radius: 50%;
    }
    padding-top: 20px;
  }

  .slick-next:before {
    transition: all 0.4s;
    display: inline-block !important;
    font-family: "aqua" !important;
    content: "f" !important;
    opacity: 1!important;
  }

  .slick-next, .slick-prev {
    transition: all 0.4s;
    opacity: 0!important;
  }

  .slick-prev:before {
    transition: all 0.4s;
    display: inline-block !important;
    font-family: "aqua" !important;
    content: "e" !important;
    opacity: 1!important;
  }

  .update2-slick-content {
      .slick-prev {
        transform: translateX(-50px) !important;
        @media screen and (max-width: $screen-md) {
          transform: translateX(50px) !important;
        }
        opacity: 1 !important;
        z-index: 10 !important;
      }


      .slick-next {
        transform: translateX(50px) !important;
        @media screen and (max-width: $screen-md) {
          transform: translateX(-50px) !important;
        }
        opacity: 1 !important;
        z-index: 10 !important;
      }
  }


}