.update1-header {
  .fullheight-header-bgc {
    background-color: transparent;
  }
  .fullheight-header-height {
    padding-top: 0;
    height: 100vh !important;
    @media screen and (max-width: $screen-md) {
      height: auto !important;
    }
    img {
      //margin-left: 0 !important;
      //margin-right: 0 !important;
      height: auto;
      width: 100%;
    }
  }

  .fullheight-big {
    @media screen and (max-width: $screen-sm - 1) {
      display: block !important;
    }
  }

  .fullheight-small {
    display: none !important;
  }

  .update1-header-brand {
    img {
      @media screen and (max-width: $screen-sm) {
        height: 70px;
        width: auto;
        padding: 10px 0;
        float: left;
      }
    }
  }

  .fullheight-navbar-container {
    @media screen and (max-width: $screen-sm) {
      top: 0 !important;
      right: 0 !important;
    }

  }


}