<div class="container">
        <div class="blog-homepage-articles" ng-repeat="dataitem in datablock" ng-init="x = 1">
            <div class="blog-homepage-single-article">
                <a href="#!blog-article" class="blog-title"><h1>{{dataitem.title}}</h1></a>
                <div class="blog-homepage-img pb40">
                    <img src="{{dataitem.image}}" alt="img" class="img-responsive">
                    <div class="blog-homepage-note"  ng-if="dataitem.note" ng-show="x">
                        <a href="" id="x-icon" ng-click="x = 0">
                            <i class="icon-wrong6"></i>
                        </a>
                        <p ng-bind-html="dataitem.note"></p>
                        <a href="#!blog-article" id="arrow">
                            <i class="icon-arrow413" ></i>
                        </a>
                    </div>
                </div>
                <div>{{dataitem.content}}</div>
                <h6 class="text-right">Posted: <span>March 16, 2015</span> By:<span> admin</span>Comment: <span>20</span></h6>
                <hr>
            </div>
        </div>
        <div class="pt20 pb60 text-center" >
            <h4 class="load-more">LOAD MORE...</h4>
        </div>
</div>
