<div class="pb40 blog-article-content">
    <div>
        <p>With the official start of summer just weeks away many of us are getting more serious about our fitness goals
            (goodbye layers… hello bathing suit season!). Get yourself in tip-top shape for everything summer has to
            offer
            with these great fitness tips from Sanctuary on Camelback Mountain’s fitness and wellness director, Kara
            Thomas,
            and Olympic gold-medal swimmer, Misty Hyman.</p>
        <p>Misty’s Tip: Moderation is Key - “Swimming is a fantastic sport for weight loss. It’s easy on the joints, it
            uses
            the whole body, and is great for the lungs and heart. It is a complete workout, but to get the best fitness
            results an extreme plunge into a rigorous workout routine is not the answer.”</p>
        <p>Misty’s Tip: Balance and Tone the Shoulders - “Any workout that involves the upper body requires shoulder
            stability. Prevent injury and get the defined shoulders you crave by externally and internally rotating the
            shoulders with moderate resistance. Use a stretch cord or small dumbbells with the arm bent at a 90 degree
            angle. Keep the resistance moderate and work up to 2-3 sets of 15 on each side.”</p>
        <p>Misty’s Tip: Lift to Lighten Up- “Weight training helps slim the body (despite the stigma that it bulks us
            up).
            To get the ‘swimmers back,’ alternate between 15 repetitions of seated lat pulls and 15 repetitions of
            seated
            rows, both with medium weight. Train your way up to three rounds per strength workout.”</p>
        <p>Kara’s Tip: Condition the Heart - “If you’re new to exercise, strengthen the heart by being consistent with
            your
            workout program. Try 20-30 minutes of a sound cardio program five to seven days a week for two weeks. Then,
            kick
            the cardio up a notch to 45 minutes for two weeks. After a month, increase to 60 minutes at least five days
            a
            week. Before you know it, 60 minutes of cardio seven days per week will be a breeze! Plus, you’ll feel
            great.”</p>
        <p>Kara’s Tip: Rest - “Muscles need recovery time post-workout. After your favorite boot camp or power strength
            and
            resistance class, rest for a day – stretch or do yoga, and then go after that high intensity workout again.”
            Looking for more fitness tips? Check out our Fitness section for workouts, expert advice, and more!</p>
        <h6 class="text-right">- Caron Minice -</h6>
    </div>

    <div class="blog-article-footer w100">
        <div class="blog-article-tag pb40">
            <div class="mb20">
                <a href="">heathy, </a>
                <a href="">spa, </a>
                <a href="">yoga, </a>
                <a href="">moution, </a>
                <a href="">motion</a>
            </div>
            <div>
                <button class="button-primary mr5" id="like-button">Like | 15</button>
                <button class="button-primary btn-green ml5">Subscribe</button>
            </div>
        </div>

        <div class="blog-article-comments">
            <h3>Comments :</h3>
            <a href="" id="comment-icon">
                <i class="icon-pencil78"></i>
            </a>
            <hr>

            <div class="blog-article-single-comment pt20 pos-relative">
                <div class="article-avatar">
                    <img src="app/images/comment.jpg" alt="img" class="img-responsive">
                </div>

                <div class="article-text">
                    <h4>Amanda Smooth</h4>
                    <p>Aqua Spa is a wonderfully relaxing, unpretentious haven in the heart of the city. The staff is friendly, attentive and knowledgeable, offering a complete list of services and expertise. Amrit's facials in particular are a special treat. I've been going to Aqua regularly for five years, and have never wanted to go anywhere else.</p>
                    <h6 class="text-right pt-i-5">October 4, 2012 at 12:00 pm  <a href="#" class="pos-relative"><i class="icon-pencil78"></i></a></h6>
                    <hr>
                </div>
            </div>

            <div class="blog-article-single-comment pt20 pos-relative">
                <div class="article-avatar">
                    <img src="app/images/comment2.jpg" alt="img" class="img-responsive">
                </div>

                <div class="article-text">
                    <h4>Spring Local</h4>
                    <p>I highly recommend Spa for its excellent service, as well as its courteous, knowledgeable and friendly staff.</p>
                    <h6 class="text-right pt-i-5">October 4, 2012 at 12:00 pm  <a href="#" class="pos-relative"><i class="icon-pencil78"></i></a></h6>
                    <hr>
                </div>
            </div>
        </div>

        <div>
            <div class="col-md-6">
                <input type="text" placeholder="Name" class="blog-comment-form">
            </div>
            <div class="col-md-6">
                <input type="text" placeholder="Email" class="blog-comment-form">
            </div>
            <div class="col-md-12">
                <textarea name="comment" id="text-form" rows="4" placeholder="Write your comment..." class="blog-comment-form"></textarea>
            </div>
            <div class="text-right pr15 comment-send-button"><button class="button-primary btn-green">send</button></div>
        </div>
    </div>
</div>

