<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div>
                <img src="app/images/blog3.jpg" alt="img" class="img-responsive">
            </div>
            <h2 class="pt40 pb30">Are you really happy and relaxed ?</h2>
            <h6 class="text-left article-info">Posted: <span>March 16, 2015</span> By:<span> admin</span>Comment: <span>20</span>
            </h6>
            <aqua-template data-template="blog/blog-article-content"></aqua-template>

            <div class="col-md-4 col-sm-4 hidden-xs pb30"><img src="app/images/blog-related1.jpg" alt="img" class="img-responsive"></div>
            <div class="col-md-4 col-sm-4 hidden-xs pb30"><img src="app/images/blog-related2.jpg" alt="img" class="img-responsive"></div>
            <div class="col-md-4 col-sm-4 hidden-xs"><img src="app/images/blog-related3.jpg" alt="img" class="img-responsive"></div>
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
            <div class="blog-sidebar-section">
                <h4>services</h4>
            </div>
            <div class="blog-sidebar-services">
                <ul>
                    <li>Full Body Massage (78$)</li>
                    <li>Body Polish (-20%)</li>
                    <li>Massages Foot (-30%)</li>
                    <li>Sea Mud Wrap (68$)</li>
                    <li>Hot Stone Massage (73$)</li>
                    <li>Delux Seated Massage (78$)</li>
                </ul>
            </div>

            <div class="blog-sidebar-section mb20">
                <h4>lastest posts</h4>
            </div>

            <div class="blog-sidebar-latestposts pt20" ng-repeat="i in [0, 1, 2, 3, 4]" ng-init="img = 14">
                <div class="blog-sidebar-lastestposts-img">
                    <a href="">
                        <img src="app/images/blog{{img-i}}.jpg" alt="img" class="img-responsive ml0">
                    </a>
                </div>
                <div class="blog-sidebar-lastestposts-title">
                    <a href="">How To Improve And Refine</a>
                    <p>July 9, 2014</p>
                </div>
            </div>

            <div class="blog-sidebar-section mt40 mb30">
                <h4>contact us</h4>
            </div>

            <div class="blog-sidebar-contact">
                <table>
                    <tr>
                    <th>Email:</th>
                    <td>Business@bluecadet.com
                        AQUAspa.@domain.com</td>
                    </tr>

                    <tr>
                        <th>Hotline:</th>
                        <td>123.645.87 / 028.299.024</td>
                    </tr>

                    <tr>
                        <th>Add:</th>
                        <td>1234 Frankford ave
                            Philadelphia, PA 12457</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>