<div class="blog-article">
<div class="container">
    <div>
        <div class="blog-homepage-single-article" ng-init="x=1">
            <h1>Lose Weight & Feel Great: 6 Expert Fitness Tips & Tricks ?</h1>
            <h6 class="text-right">Posted: <span>March 16, 2015</span> By:<span> admin</span>Comment: <span>20</span></h6>
            <div class="blog-homepage-img pb40">
                <img src="app/images/blog3.jpg" alt="img" class="img-responsive">
                <div class="blog-homepage-note" ng-show="x">
                    <a href="" id="x-icon" ng-click="x = 0">
                        <i class="icon-wrong6"></i>
                    </a>
                    <p ng-bind-html="datablock[0].note"></p>
                </div>
            </div>
            <div>
                <div class="col-md-3 hidden-xs hidden-sm">
                    <div class="blog-article-relate ml-auto">
                        <img src="app/images/blog15.jpg" alt="img" class="img-responsive">
                        <p class="pt20">When you have once seen the glow of happiness on the face of a beloved person, you know that a man can have no vocation but to awaken that light on the faces surrounding him.</p>
                    </div>
                </div>

                <div class="col-md-9 pl0">
                    <aqua-template data-template="blog/blog-article-content"></aqua-template>
                </div>


            </div>
        </div>
        <div class="col-md-12 hidden-xs">
            <div class="col-md-3 col-sm-6 pb30"><img src="app/images/blog-related1.jpg" alt="img" class="img-responsive"></div>
            <div class="col-md-3 col-sm-6 pb30"><img src="app/images/blog-related2.jpg" alt="img" class="img-responsive"></div>
            <div class="col-md-3 col-sm-6"><img src="app/images/blog-related3.jpg" alt="img" class="img-responsive"></div>
            <div class="col-md-3 col-sm-6"><img src="app/images/blog-related4.jpg" alt="img" class="img-responsive"></div>
        </div>
    </div>
</div>
</div>