
    <div class="onepage-blog-container onepage-blog1-container clearfix pos-relative"><a href="#!blog-article">
        <div class="onepage-blog1-img" style="background-image: url(app/images/blog16.jpg)">
            <!--<img src="app/images/blog16.jpg" alt="img" class="img-responsive">-->
        </div></a>
        <div class="onepage-blog onepage-blog1">
            <a href="#!blog-article"><h2 class="heading">HOW TO THINK ABOUT GMOS</h2></a>
            <p>
                Genetically Modified Organisms (GMOs) are weird and it’s not easy to know what to think about them. The people who make them, and stand to profit most from them, tell us that they’re just fine. You should eat them by the plateful and share them with 500 of your closest personal friends. These are the same groups who lobby our regulatory officials to try as hard as they can to prevent GMOs from being labeled as such in a grocery store. Weird right? They don’t want you to know. More to the point, they want you to not know. And why would that be? Everyone who is...
            </p>
            <h6><span class="onepage-blog-footer-separator">Posted: March 16, 2015</span> <span class="onepage-blog-footer-separator">By: admin</span>Comment: 20</h6>
        </div>
    </div>


    <div class="onepage-blog-container onepage-blog2-container clearfix pos-relative">
        <div class="onepage-blog onepage-blog2">
            <a href="#!blog-article"><h2 class="heading">INTERNATIONAL YOGA DAY
            </h2></a>
            <p>Through various yoga modalities ranging from bikram and power yoga to ashtanga and vinyasa, yoga has many healthy benefits for the mind, body, and soul. Originating in ancient India, the word yoga means to unite or to join, and in yoga, we unite our minds and our bodies through breath. Most Western yoga derives from hatha, one of the six major branches of yoga. Traditional hatha yoga consists of asanas (physical yoga postures) and pranayamas (breathing exercises). With over 100 yoga poses, it’s no wonder yogis never get bored. Like many calming spa...</p>
            <h6><span class="onepage-blog-footer-separator">Posted: March 16, 2015</span> <span class="onepage-blog-footer-separator">By: admin</span>Comment: 20</h6>
        </div>
        <a href="#!blog-article">
        <div class="onepage-blog2-img" style="background-image: url(app/images/blog17.jpg)">
            <!--<img src="app/images/blog17.jpg" alt="img" class="img-responsive">-->
        </div>
        </a>
    </div>