h1, h2, h3, h4, h5, h6 {
  margin-top: 0px; }

img {
  margin-left: auto;
  margin-right: auto; }

.overlay {
  width: 100%;
  height: 100%;
  display: table;
  transition: all 0.4s;
  opacity: 0; }
  .overlay h5 {
    margin-bottom: 0;
    letter-spacing: 3px;
    font-size: 16px !important; }

.images-div .single-image {
  margin-bottom: 30px;
  max-width: 270px;
  margin-left: auto;
  margin-right: auto; }
  .images-div .single-image .inner-block {
    padding: 20px; }

@media screen and (min-width: 769px) and (max-width: 991px) {
  .images-div:nth-child(2n+1) .single-image {
    float: right; } }

.images-div:nth-child(2n+1) .single-image:hover .overlay {
  background-color: rgba(217, 216, 193, 0.7);
  opacity: 1; }

@media screen and (min-width: 769px) and (max-width: 991px) {
  .images-div:nth-child(2n) .single-image {
    float: left; } }

.images-div:nth-child(2n) .single-image:hover .overlay {
  background-color: rgba(198, 217, 198, 0.7);
  opacity: 1; }

.inner-block {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px; }

.transition-05 {
  transition: all 0.5s; }

.upper-case {
  text-transform: uppercase; }

.pos-relative {
  position: relative; }

.pos-absolute {
  position: absolute; }

.dis-table {
  display: table; }

.dis-table-cell {
  display: table-cell; }

.ver-align-middle {
  vertical-align: middle; }

.border-solid {
  border: 1px solid; }

.w100 {
  width: 100%; }

.h100 {
  height: 100%; }

.ml-auto {
  margin-left: auto; }

.mr-auto {
  margin-right: auto; }

.right-0 {
  right: 0; }

.roboto-slab {
  font-family: 'Roboto Slab', serif; }

.josefin {
  font-family: "Josefin Sans", sans-serif; }

.float-none {
  float: none !important; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.text-right-i {
  text-align: right !important; }

.text-left-i {
  text-align: left !important; }

.text-center-i {
  text-align: center !important; }

.dis-block {
  display: block !important; }

.po-bgc-trans-1 {
  background-color: rgba(198, 217, 198, 0.7); }

.po-bgc-trans-2 {
  background-color: rgba(217, 216, 193, 0.7); }

.button-primary {
  color: #444444;
  border: 1px solid;
  line-height: 1.8;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  padding: 5px 25px 5px 25px;
  transition: all 0.5s;
  outline: none; }
  .button-primary:hover {
    background-color: #84C348;
    color: #fff;
    border-color: #84C348; }
    .button-primary:hover a {
      color: white; }
  .button-primary a {
    display: block;
    width: 100%;
    height: 100%;
    color: #444444; }

.btn-transparent {
  background-color: transparent;
  padding: 10px 35px 10px 35px;
  border: 1px solid;
  outline: none;
  font-size: 12px;
  text-transform: uppercase; }

.btn-green {
  background-color: #84C348;
  color: white;
  border: none; }
  .btn-green:hover {
    background-color: #333333;
    border-color: #333333; }

.btn-white {
  background-color: #fff;
  color: #0f0f0f;
  border: none; }
  .btn-white:hover {
    background-color: #84C348;
    color: white;
    border-color: #84C348; }

.btn-dark {
  background-color: #444444;
  color: #fff; }

.heading {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  letter-spacing: 1.6px;
  color: #444444;
  font-weight: 400; }
  .heading:after {
    border-top: 1px solid;
    margin-left: auto;
    margin-right: auto;
    content: " ";
    width: 30px;
    display: block;
    height: 0px;
    margin-top: 15px; }

.heading-no-line {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1.6px;
  color: #444444;
  font-size: 16px; }

.banner-frame {
  padding: 10px;
  margin-top: 120px;
  margin-bottom: 70px;
  border: 1px solid #aaaaaa;
  display: block; }

.banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 30px 0px 20px;
  color: #444444; }
  .banner h1 {
    margin: 0;
    font-size: 46px;
    font-family: 'Roboto Slab', serif; }
  .banner .banner-blur {
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6); }

.staff {
  color: #444444; }
  .staff h5 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    letter-spacing: 1.6px;
    font-size: 16px; }
  .staff i {
    color: #84C348;
    font-size: 16px;
    font-weight: 300; }
  .staff ul li {
    display: inline; }
    .staff ul li i {
      transition: all 0.5s;
      color: #444444;
      margin-left: 3px;
      margin-right: 3px; }
    .staff ul li a:hover i {
      color: #84C348; }

.staff-container {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none; }

ul {
  list-style: none; }

body {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: #444444; }

hr {
  height: 1px;
  border: none;
  background-color: #AAAAAA; }

.animate-div1 {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  border: none; }
  .animate-div1 h4, .animate-div1 button, .animate-div1 h1 {
    opacity: 0;
    transition: all 0.2s; }
  .animate-div1 h4 {
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px); }
  .animate-div1 button {
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px); }

.onepage-shop-contain-div {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }
  .onepage-shop-contain-div:hover .animate-div1 {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #aaaaaa; }
    .onepage-shop-contain-div:hover .animate-div1 h4, .onepage-shop-contain-div:hover .animate-div1 button, .onepage-shop-contain-div:hover .animate-div1 h1 {
      opacity: 1;
      transition: all 0.4s; }
    .onepage-shop-contain-div:hover .animate-div1 h4, .onepage-shop-contain-div:hover .animate-div1 button {
      -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
      transform: translateY(0px); }

.overlay-membership {
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  transition: all 0.4s; }
  .overlay-membership h1 {
    font-weight: 400; }
    .overlay-membership h1 span {
      font-size: 18px; }
  .overlay-membership h5 {
    font-weight: 400 !important; }

.onepage-membership-div-contain {
  border: 1px solid #aaaaaa;
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }
  .onepage-membership-div-contain button a {
    color: #444444; }
  .onepage-membership-div-contain:hover .overlay-membership {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #aaaaaa;
    opacity: 1; }
  .onepage-membership-div-contain:hover button {
    background-color: #84C348;
    border-color: #84C348;
    color: white;
    transition: all 0.4s; }
    .onepage-membership-div-contain:hover button a {
      color: #fff; }
  .onepage-membership-div-contain li {
    border-top: 1px solid #aaaaaa;
    padding-top: 15px;
    padding-bottom: 15px; }
    .onepage-membership-div-contain li:nth-child(1) {
      border-top: none; }

@media screen and (max-width: 991px) and (min-width: 769px) {
  .col-sm-6:nth-child(2n+1) .onepage-membership-div-contain {
    margin-left: 0px; } }

@media screen and (max-width: 991px) and (min-width: 769px) {
  .col-sm-6:nth-child(2n) .onepage-membership-div-contain {
    margin-right: 0px; } }

.homepage-shop-div-contain {
  max-width: 270px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto; }
  .homepage-shop-div-contain .homepage-shop-overlay {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #aaaaaa;
    opacity: 0;
    transition: all 0.4s; }
  .homepage-shop-div-contain:hover #cart {
    -webkit-transform: translate(-25px, -5px);
    -ms-transform: translate(-25px, -5px);
    transform: translate(-25px, -5px); }
  .homepage-shop-div-contain:hover #heart {
    -webkit-transform: translate(25px, 0px);
    -ms-transform: translate(25px, 0px);
    transform: translate(25px, 0px); }
  .homepage-shop-div-contain:hover .homepage-shop-overlay {
    opacity: 1; }
  .homepage-shop-div-contain a {
    border: 1px solid #444444;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 43px;
    font-size: 16px;
    display: inline-block;
    transition: all 0.4s; }
    .homepage-shop-div-contain a:hover {
      background-color: #444444; }
      .homepage-shop-div-contain a:hover i {
        color: white; }
    .homepage-shop-div-contain a i {
      line-height: 45px;
      font-size: 16px;
      color: #444444; }
  .homepage-shop-div-contain hr {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-top: 1px solid #444444;
    width: 60px;
    margin: 0px;
    margin-left: 80px; }
    @media screen and (max-width: 1200px) and (min-width: 992px) {
      .homepage-shop-div-contain hr {
        -webkit-transform: rotate(-45deg) translate(-15px, -20px) !important;
        -ms-transform: rotate(-45deg) translate(-15px, -20px) !important;
        transform: rotate(-45deg) translate(-15px, -20px) !important; } }

#cart {
  -webkit-transform: translate(-50px, 20px);
  -ms-transform: translate(-50px, 20px);
  transform: translate(-50px, 20px); }

#heart {
  -webkit-transform: translate(50px, -25px);
  -ms-transform: translate(50px, -25px);
  transform: translate(50px, -25px); }

.homepage-shop-item-contain p {
  color: #84C348;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-size: 24px; }
  .homepage-shop-item-contain p span {
    margin-right: 20px;
    color: #AAAAAA;
    text-decoration: line-through; }

.no-rate {
  color: white;
  text-shadow: 0px 0px 2px #444444; }

.shop-homepage-pages {
  margin-left: 0;
  padding-left: 0;
  display: inline-block;
  text-align: center;
  margin-bottom: 60px; }
  .shop-homepage-pages li {
    display: inline-block; }
    .shop-homepage-pages li a {
      padding-left: 10px;
      padding-right: 10px;
      width: 40px;
      height: 40px;
      margin-left: 2px;
      margin-right: 2px;
      border: 1px solid #AAAAAA;
      line-height: 45px;
      display: block;
      width: 40px;
      height: 40px;
      transition: all 0.4s;
      color: #444444; }
      .shop-homepage-pages li a:hover {
        color: #fff;
        background-color: #84C348; }
  .shop-homepage-pages .shop-arrow a {
    line-height: 44px;
    width: 50px; }

.categories-contain {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  text-align: center; }
  .categories-contain:before {
    content: " ";
    position: absolute;
    display: block;
    border-top: 1px solid #444444;
    width: 100%;
    top: 50%;
    z-index: -1;
    left: 0; }
  .categories-contain li {
    display: inline-block;
    padding: 5px 30px 0px 30px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
    background-color: #fff; }
    .categories-contain li a {
      color: #444444;
      transition: all 0.4s; }
      .categories-contain li a:hover {
        color: #84C348; }
  @media screen and (max-width: 612px) {
    .categories-contain:before {
      border-top: none; }
    .categories-contain li {
      display: block;
      padding-bottom: 25px; } }

.li-clicked {
  font-size: 24px !important; }

.heading-hover-underline {
  text-align: center; }
  .heading-hover-underline:after {
    content: " ";
    display: block;
    border-top: 1px solid #444444;
    width: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    transition: all 0.4s; }

.service45-contain {
  max-width: 360px; }
  .service45-contain a {
    color: #444444; }
  .service45-contain:hover .heading-hover-underline:after {
    width: 30px; }

.fullwidth-service5-contain {
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.4s;
  margin-left: auto;
  margin-right: auto; }
  .fullwidth-service5-contain h3 {
    font-size: 24px;
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;
    transition: all 0.4s; }
    .fullwidth-service5-contain h3:after {
      border-color: white; }
  .fullwidth-service5-contain .text-container {
    transition: all 0.4s;
    background-color: rgba(255, 255, 255, 0.6); }
    .fullwidth-service5-contain .text-container p {
      padding: 15px; }
  .fullwidth-service5-contain:hover {
    margin-bottom: 0;
    margin-top: 0; }
    .fullwidth-service5-contain:hover h3 {
      padding-bottom: 40px; }
    .fullwidth-service5-contain:hover .text-container {
      margin-bottom: 20px; }

.service7-heading {
  text-align: left;
  font-size: 24px;
  font-weight: 300; }
  @media screen and (max-width: 1300px) and (min-width: 992px) {
    .service7-heading {
      padding-bottom: 0 !important; } }
  .service7-heading:after {
    content: ' ';
    border-top: 1px solid #444444;
    display: block;
    width: 30px;
    margin-top: 15px; }

.service7-img-container {
  float: left;
  max-width: 50%; }
  @media screen and (max-width: 992px) and (min-width: 768px) {
    .service7-img-container {
      max-width: 100%; }
      .service7-img-container .div-background {
        background-color: rgba(255, 255, 255, 0.6); } }
  @media screen and (max-width: 767px) {
    .service7-img-container {
      max-width: 100%; } }

.service7-container {
  float: left;
  width: 50%;
  padding-left: 85px;
  padding-top: 40px;
  padding-right: 85px; }
  @media screen and (min-width: 1600px) {
    .service7-container {
      padding-top: 85px; } }
  @media screen and (max-width: 992px) and (min-width: 768px) {
    .service7-container {
      top: 0;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%; }
      .service7-container .absolute-container {
        display: table-cell;
        vertical-align: middle;
        padding-left: 80px;
        padding-right: 80px; } }
  @media screen and (max-width: 1200px) {
    .service7-container {
      padding-right: 40px; } }
  @media screen and (max-width: 767px) {
    .service7-container {
      width: 100%; } }

.service7-scroll {
  height: 200px;
  overflow: auto; }
  @media screen and (min-width: 1600px) {
    .service7-scroll {
      height: 250px; } }
  @media screen and (max-width: 1200px) and (min-width: 992px) {
    .service7-scroll {
      height: 150px; } }
  .service7-scroll ul {
    padding-left: 20px;
    list-style: disc; }
    .service7-scroll ul li {
      padding-bottom: 25px; }

.service7-seemore-button {
  background-color: #444444;
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  vertical-align: middle;
  padding: 6px 40px 6px 40px; }
  @media screen and (max-width: 768px) {
    .service7-seemore-button {
      margin-bottom: 40px; } }

.footer-section {
  padding-bottom: 50px; }
  .footer-section h4 {
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 20px;
    letter-spacing: 1.6px; }
  .footer-section p {
    line-height: 1.8;
    height: 100px; }
  .footer-section input {
    transition: all 0.4s;
    width: 100%;
    height: 40px;
    border: 1px solid;
    padding-left: 20px; }
    .footer-section input:focus {
      outline: none;
      border: 1px solid #84C348; }
  @media screen and (max-width: 1200px) {
    .footer-section {
      text-align: center; }
      .footer-section h4 {
        text-align: center; } }

#mail-icon {
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0;
  right: 0;
  background-color: #444444;
  color: #FFFFFF;
  font-size: 16px;
  padding-top: 10px;
  text-align: center;
  transition: all 0.4s; }
  #mail-icon:hover {
    background-color: #84C348;
    border: none; }

#open-time p {
  line-height: 2.5;
  margin-top: -5px; }

.separator {
  border-left: 1px solid #AAAAAA;
  display: block;
  height: 200px;
  width: 1px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 1200px) {
    .separator {
      visibility: hidden; } }

.footer-container {
  border-top: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA; }

.footer-icon-social {
  padding-top: 40px;
  text-align: right;
  margin-left: 0;
  padding-left: 0; }
  @media screen and (max-width: 1200px) {
    .footer-icon-social {
      text-align: center; } }
  .footer-icon-social li {
    margin-left: 5px;
    display: inline-block;
    font-family: "aqua"; }
  .footer-icon-social a {
    color: #444444;
    transition: all 0.4s; }
    .footer-icon-social a:hover {
      color: #84C348; }

.back-top {
  width: 40px;
  height: 40px;
  border: 1px solid #444444;
  background-color: #fff;
  color: #444444;
  position: fixed;
  right: 30px;
  bottom: 50px;
  line-height: 48px;
  font-size: 24px;
  z-index: 900;
  text-align: center;
  transition: all 0.4s; }
  .back-top:hover {
    background-color: #84C348;
    border: 1px solid #84C348;
    color: #fff; }

.testimonial-bgc {
  background-color: #E7E6E1; }

.comment-container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  height: 460px;
  overflow: scroll;
  overflow-x: hidden; }
  .comment-container .comment {
    padding: 50px 40px 20px 40px; }
    .comment-container .comment h4 {
      color: #444444;
      padding-bottom: 10px; }
    .comment-container .comment p {
      letter-spacing: 1.8;
      line-height: 1.6; }
    .comment-container .comment .testimonial-separator {
      height: 0px;
      border-top: 1px solid #AAAAAA;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px; }

.testimonial-img-container {
  height: 460px;
  padding-top: 60px;
  overflow: hidden; }

.fader {
  position: relative;
  padding-left: 0px;
  padding-right: 0px; }
  .fader:before {
    z-index: 10;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background: linear-gradient(to bottom, #f3f3f0 0%, rgba(243, 243, 240, 0.99) 1%, rgba(243, 243, 240, 0.5) 50%, rgba(243, 243, 240, 0) 100%); }
  .fader:after {
    z-index: 10;
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background: linear-gradient(to top, #f3f3f0 0%, rgba(243, 243, 240, 0.99) 1%, rgba(243, 243, 240, 0.5) 50%, rgba(243, 243, 240, 0) 100%); }

.onepage-comment-container {
  margin-bottom: 60px; }
  .onepage-comment-container .next-comment:before {
    content: "d";
    font-family: "aqua" !important;
    font-size: 16px; }
  .onepage-comment-container .previous-comment:before {
    content: "b";
    font-family: "aqua" !important;
    font-size: 16px; }
  .onepage-comment-container hr {
    width: 80%;
    margin-bottom: 60px; }
  .onepage-comment-container h4 {
    padding-bottom: 10px;
    transition: all 1s; }
  .onepage-comment-container .changed {
    transition: all 0.7s;
    opacity: 0; }
  .onepage-comment-container p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    transition: all 1s; }
  .onepage-comment-container a {
    font-weight: 600;
    color: #444444;
    margin-left: 10px;
    margin-right: 10px; }

.content {
  height: 120px; }

.fade-in {
  opacity: 1; }

.fade-out {
  opacity: 0; }

.update-testimonial-img {
  padding-bottom: 40px; }
  .update-testimonial-img img {
    border-radius: 50%; }

.update-testimonial-container {
  padding-top: 80px;
  padding-bottom: 80px; }

.update-testimonial-comment-container #comment-author {
  color: #84C348;
  text-align: center;
  position: relative;
  font-style: italic;
  margin-bottom: 40px; }
  .update-testimonial-comment-container #comment-author span {
    background-color: #FFFFFF;
    z-index: 1;
    padding-left: 20px;
    padding-right: 10px; }
  .update-testimonial-comment-container #comment-author:before {
    content: " ";
    display: block;
    width: 300px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid;
    top: 50%;
    left: 0;
    right: 0;
    z-index: -1; }

.update-testimonial-comment-container #comment-content {
  padding-left: 80px;
  padding-right: 80px;
  font-size: 18px;
  font-style: italic;
  font-weight: 400; }

.slick-slide:focus, .slick-slide a {
  outline: none; }

.onepage-advertise-container {
  background-color: #DEB6B6; }
  .onepage-advertise-container .onepage-advertise-text {
    padding-top: 150px;
    padding-left: 60px; }
    @media screen and (max-width: 891px) {
      .onepage-advertise-container .onepage-advertise-text {
        padding-top: 80px; } }
    @media screen and (max-width: 768px) {
      .onepage-advertise-container .onepage-advertise-text {
        padding-top: 40px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px; }
        .onepage-advertise-container .onepage-advertise-text button {
          margin-bottom: 40px; } }
    .onepage-advertise-container .onepage-advertise-text p {
      color: #fff;
      letter-spacing: 2px;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 1px; }
    .onepage-advertise-container .onepage-advertise-text button {
      font-size: 10px;
      padding: 10px 35px;
      margin-top: 30px;
      font-size: 14px; }

.specialize-bgc {
  background-color: #E7E6E1; }

.fullwidth-specialize-container {
  padding-top: 60px;
  padding-bottom: 60px; }

.fullwidth-specialize-services {
  background-color: #fff;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 20px; }
  .fullwidth-specialize-services ul {
    padding-left: 20px;
    list-style: disc; }
    .fullwidth-specialize-services ul li {
      padding-bottom: 35px; }

.onepage-blog {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  height: 100%;
  width: 50%;
  min-height: 500px; }
  .onepage-blog h6 {
    font-style: italic;
    text-align: right;
    padding-top: 150px;
    padding-bottom: 50px; }

.onepage-blog-footer-separator:after {
  content: "/";
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px; }

.onepage-blog1 {
  position: relative;
  background-color: #ABDCE1;
  margin-left: auto; }
  .onepage-blog1:before {
    content: " ";
    position: absolute;
    border-right: 26px solid #ABDCE1;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    left: 0;
    margin-left: -20px; }
  .onepage-blog1 h2 {
    color: #fff;
    text-align: left;
    padding-bottom: 30px; }
    .onepage-blog1 h2:after {
      margin-left: 0; }

.onepage-blog2 {
  background-color: #D9D8C1;
  padding-left: 50px;
  margin-left: 0; }
  .onepage-blog2:after {
    content: " ";
    position: absolute;
    border-left: 26px solid #D9D8C1;
    border-right: 0px; }
  .onepage-blog2 h2 {
    color: #fff;
    text-align: right;
    padding-bottom: 30px; }
    .onepage-blog2 h2:after {
      margin-right: 0; }

.onepage-blog1-img, .onepage-blog2-img {
  width: 50%; }

.onepage-blog1-img {
  left: 0;
  top: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center center; }

.onepage-blog2-img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center center; }

@media screen and (max-width: 992px) {
  .onepage-blog1-container .onepage-blog1 {
    width: 100%; }
  .onepage-blog1-container .onepage-blog1-img {
    z-index: -5; } }

@media screen and (max-width: 992px) {
  .onepage-blog2-container .onepage-blog2 {
    width: 100%; }
  .onepage-blog2-container .onepage-blog2-img {
    z-index: -5; } }

.slick-slide {
  margin: 0px 5px; }

.slider-img-container {
  width: 200px !important;
  height: 200px !important;
  float: left; }

.slider-img {
  padding-right: 2px;
  padding-left: 4px;
  width: 100%;
  height: 100%; }

.update2-slider-container {
  height: 200px; }
  .update2-slider-container ul {
    margin: 0;
    padding: 0; }
  .update2-slider-container .slick-next {
    top: 45%;
    height: 40px !important;
    background-color: rgba(255, 255, 255, 0.6) !important;
    border-radius: 5px;
    right: 15px !important; }
    @media screen and (max-width: 1390px) and (min-width: 403px) {
      .update2-slider-container .slick-next {
        top: 20%; } }
    .update2-slider-container .slick-next:before {
      font-family: "aqua" !important;
      content: "f" !important;
      font-size: 20px !important;
      color: #444444 !important; }
  .update2-slider-container .slick-prev {
    top: 45%;
    height: 40px !important;
    background-color: rgba(255, 255, 255, 0.6) !important;
    border-radius: 5px;
    left: 15px !important;
    z-index: 10; }
    @media screen and (max-width: 1390px) and (min-width: 403px) {
      .update2-slider-container .slick-prev {
        top: 20%; } }
    .update2-slider-container .slick-prev:before {
      font-family: "aqua" !important;
      content: "e" !important;
      font-size: 20px !important;
      color: #444444 !important; }

.reservation-container {
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 40px; }
  .reservation-container h4 {
    font-weight: 600; }
  @media screen and (max-width: 480px) {
    .reservation-container {
      margin-left: 20px;
      margin-right: 20px; } }
  .reservation-container input {
    width: 100%;
    height: 40px;
    border: 1px solid #000000;
    padding-left: 20px;
    transition: all 0.4s;
    outline: none; }
    .reservation-container input:focus {
      border: 1px solid #84C348; }
    .reservation-container input:-moz-placeholder {
      color: #0f0f0f; }
    .reservation-container input:-ms-input-placeholder {
      color: #0f0f0f; }
    .reservation-container input::-webkit-input-placeholder {
      color: #0f0f0f; }
  .reservation-container select {
    width: 100%;
    height: 40px;
    border: 1px solid #000000;
    background-color: #fff;
    transition: all 0.4s;
    outline: none;
    padding-left: 20px; }
    .reservation-container select:focus {
      border: 1px solid #84C348; }
  .reservation-container button {
    width: 100%;
    height: 40px;
    background-color: #444444;
    color: #fff;
    font-size: 16px;
    border-radius: 0;
    border: none !important; }

.reservation-welcome {
  font-size: 18px;
  font-style: italic;
  text-align: center; }

.reservation-bgc {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  margin-top: 60px;
  margin-bottom: 60px;
  border: 1px solid #AAAAAA; }
  .reservation-bgc:after {
    position: absolute;
    content: " ";
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; }

.update1-about-container {
  padding-left: 150px;
  padding-right: 150px; }
  @media screen and (max-width: 1200px) {
    .update1-about-container {
      padding-left: 30px;
      padding-right: 30px; } }

.update2-about-context {
  padding-left: 150px;
  padding-right: 150px; }
  @media screen and (max-width: 1200px) {
    .update2-about-context {
      padding-left: 30px;
      padding-right: 30px; } }

.update2-about-container {
  padding-top: 150px;
  margin-top: 40px; }
  .update2-about-container img {
    position: absolute;
    border-radius: 50%;
    border: 5px solid #FFFFFF;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -145px; }
    @media screen and (max-width: 992px) {
      .update2-about-container img {
        width: 220px;
        height: 220px; } }

.update2-about-content-container {
  padding-top: 180px; }
  @media screen and (max-width: 992px) {
    .update2-about-content-container {
      padding-top: 100px; } }

.page-404-container {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; }

.error-text-content {
  padding-top: 100px;
  padding-bottom: 100px; }
  @media screen and (max-width: 402px) {
    .error-text-content {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .error-text-content p {
    font-size: 72px;
    margin-bottom: 0; }
  .error-text-content h6 {
    font-size: 18px;
    font-style: italic;
    padding-bottom: 40px; }
  .error-text-content button {
    font-size: 12px;
    padding: 10px 40px 10px 40px; }

.seperator-404 hr {
  width: 90%;
  margin-top: 5px; }

.blog-homepage-single-article {
  padding-bottom: 40px;
  line-height: 29px; }
  @media screen and (max-width: 479px) {
    .blog-homepage-single-article h6 {
      text-align: left;
      line-height: 29px; } }
  .blog-homepage-single-article h1 {
    font-style: italic;
    font-weight: 700;
    text-align: left;
    padding-bottom: 40px; }
  .blog-homepage-single-article .blog-homepage-img {
    position: relative; }
    .blog-homepage-single-article .blog-homepage-img .blog-homepage-note {
      overflow: hidden;
      width: 250px;
      position: absolute;
      top: 35px;
      left: 35px;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 25px;
      border: 1px solid #AAAAAA; }
      @media screen and (max-width: 479px) {
        .blog-homepage-single-article .blog-homepage-img .blog-homepage-note {
          display: none; } }
      @media screen and (max-width: 768px) {
        .blog-homepage-single-article .blog-homepage-img .blog-homepage-note {
          max-height: 145px; }
          .blog-homepage-single-article .blog-homepage-img .blog-homepage-note span {
            font-size: 16px !important; } }
      .blog-homepage-single-article .blog-homepage-img .blog-homepage-note p {
        font-style: italic; }
      .blog-homepage-single-article .blog-homepage-img .blog-homepage-note span {
        font-size: 18px; }
      .blog-homepage-single-article .blog-homepage-img .blog-homepage-note a {
        color: #444444;
        position: absolute;
        right: 15px; }
      .blog-homepage-single-article .blog-homepage-img .blog-homepage-note #x-icon {
        top: 15px; }
      .blog-homepage-single-article .blog-homepage-img .blog-homepage-note #arrow {
        bottom: 10px; }
  .blog-homepage-single-article h6 {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 50px; }
    @media screen and (max-width: 480px) {
      .blog-homepage-single-article h6 {
        font-size: 14px; } }
    .blog-homepage-single-article h6 span {
      color: #84C348;
      padding-right: 35px; }
  .blog-homepage-single-article hr {
    background-color: #AAAAAA;
    height: 1px;
    border: none; }

.article-info {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 50px; }
  .article-info span {
    color: #84C348;
    padding-right: 35px; }

.blog-title {
  color: #444444; }
  .blog-title:hover {
    color: #444444; }

.load-more {
  font-weight: 700; }

.blog-article-relate {
  max-width: 200px; }

.blog-article .blog-homepage-single-article h1 {
  padding-bottom: 0; }

.blog-article .blog-homepage-single-article h6 {
  padding-bottom: 20px; }

.blog-article-content hr {
  height: 1px;
  border: none;
  background-color: #AAAAAA; }

.blog-article-tag h6 {
  color: #84C348;
  font-style: italic; }

.blog-article-tag a {
  font-size: 14px;
  color: #84C348;
  font-style: italic; }
  .blog-article-tag a:hover {
    color: #AAAAAA; }

.blog-article-tag button {
  border-radius: 20px;
  outline: none;
  height: 25px;
  vertical-align: middle;
  font-size: 10px; }

#like-button {
  background-color: #EEEEEE; }
  #like-button:hover {
    color: #fff;
    background-color: #84C348; }

.blog-article-comments {
  font-style: italic;
  position: relative;
  width: 100%; }
  .blog-article-comments a {
    font-size: 30px; }
    .blog-article-comments a i {
      line-height: 15px; }

#comment-icon {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  background-color: #EEEEEE;
  color: #444444;
  border: 1px solid #AAAAAA;
  display: table;
  transition: all 0.4s; }
  #comment-icon i {
    vertical-align: middle;
    display: table-cell; }
  #comment-icon:hover {
    color: #fff;
    background-color: #84C348; }

.blog-article-single-comment p {
  font-style: normal; }

.blog-article-single-comment h6 {
  font-size: 14px;
  color: #84C348;
  padding-bottom: 20px; }

.blog-article-single-comment a {
  color: #444444;
  transition: all 0.4s; }
  .blog-article-single-comment a:hover {
    color: #84C348; }

.article-avatar {
  width: 10%;
  min-width: 70px;
  position: absolute;
  left: 0; }

.article-text {
  width: 90%;
  padding-left: 20px;
  margin-left: auto; }
  @media screen and (max-width: 768px) {
    .article-text {
      width: 87%; } }
  @media screen and (max-width: 480px) {
    .article-text {
      width: 80%; } }

.blog-comment-form {
  padding-top: 5px;
  width: 100%;
  margin-top: 20px;
  width: 100%;
  resize: none;
  outline: none;
  border: 1px solid #000000;
  transition: all 0.4s;
  padding-left: 10px; }
  .blog-comment-form:focus {
    border: 1px solid #84C348; }
  .blog-comment-form::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #444444;
    font-size: 15px; }
  .blog-comment-form:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #444444; }
  .blog-comment-form::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #444444; }
  .blog-comment-form:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #444444; }

@media screen and (max-width: 768px) {
  .comment-send-button {
    text-align: center; } }

.comment-send-button button {
  padding: 10px 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700; }

.blog-sidebar-section {
  text-transform: uppercase;
  height: 40px;
  text-align: center;
  background-color: #EEEEEE;
  border: 1px solid #aaaaaa;
  padding-top: 10px;
  font-family: "Roboto Slab";
  color: #444444; }

.blog-sidebar-services {
  padding-top: 40px; }
  .blog-sidebar-services ul {
    list-style: none;
    padding-left: 0; }
  .blog-sidebar-services li {
    padding-bottom: 20px;
    font-size: 18px; }
    .blog-sidebar-services li:before {
      content: "+";
      padding-right: 10px;
      font-size: 24px; }

.blog-sidebar-lastestposts-img {
  width: 40%;
  position: absolute;
  transition: all 0.4s; }
  .blog-sidebar-lastestposts-img:hover {
    opacity: 0.7; }

.blog-sidebar-lastestposts-title {
  width: 60%;
  margin-left: auto;
  padding-left: 5px; }
  @media screen and (max-width: 1200px) {
    .blog-sidebar-lastestposts-title {
      padding-left: 15px; } }
  .blog-sidebar-lastestposts-title p {
    padding-top: 15px;
    color: #bdbdbd;
    font-style: italic; }
  .blog-sidebar-lastestposts-title a {
    color: #444444;
    transition: all 0.4s; }
    .blog-sidebar-lastestposts-title a:hover {
      color: #84C348; }

.blog-sidebar-contact {
  font-size: 16px; }
  .blog-sidebar-contact td {
    padding-left: 10px;
    padding-top: 20px; }

.service2-body-services {
  background-repeat: no-repeat;
  background-position: left; }

.service2-body-services-table-price-container {
  padding-top: 50px;
  float: right; }

.service2-body-services-table-price {
  background-color: rgba(231, 230, 225, 0.7);
  padding: 40px;
  font-style: italic; }

.list-underline {
  list-style: none;
  padding: 0;
  margin: 0; }
  .list-underline > li {
    margin: 0;
    padding-bottom: 20px;
    display: table; }
    .list-underline > li > * {
      display: table-cell;
      vertical-align: bottom; }
    .list-underline > li .title {
      width: 100%;
      position: relative;
      overflow: hidden; }
      .list-underline > li .title:after {
        margin-left: 30px;
        margin-right: 100px;
        content: "";
        display: inline-block;
        position: absolute;
        border-bottom: 1px solid #FFFFFF;
        bottom: 0.4em;
        width: 100%; }
        @media screen and (max-width: 480px) {
          .list-underline > li .title:after {
            visibility: hidden; } }

.service2-background-right {
  background-position: right; }
  .service2-background-right .service2-body-services-table-price-container {
    float: left; }
  .service2-background-right .service2-body-services-table-price {
    background-color: rgba(198, 217, 198, 0.7); }

.shop-menu-container {
  border-bottom: 1px solid #AAAAAA;
  border-top: 1px solid #AAAAAA;
  box-sizing: border-box;
  line-height: 20px;
  padding-top: 15px; }
  .shop-menu-container span {
    color: #84C348; }
  .shop-menu-container ul {
    vertical-align: middle;
    padding-left: 0;
    text-align: center;
    position: relative; }
    @media screen and (min-width: 992px) {
      .shop-menu-container ul {
        margin-left: -75px;
        margin-right: -75px;
        display: inline-block; } }
    .shop-menu-container ul li {
      display: inline-block;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 14px;
      margin: 0px 15px; }
      .shop-menu-container ul li a {
        outline: none;
        color: #444444;
        text-transform: uppercase;
        font-family: 'Roboto Slab', serif;
        text-align: center; }
        .shop-menu-container ul li a:after {
          content: " ";
          transition: all 0.4s;
          display: block;
          border-bottom: 1px solid #444444;
          width: 0;
          margin-left: auto;
          margin-right: auto; }
        .shop-menu-container ul li a:hover:after {
          width: 100%; }

.shop-menu-selector {
  background-color: transparent;
  margin-right: 20px;
  height: 30px;
  margin-top: -5px;
  outline: none;
  border: none;
  transition: all 0.4s;
  font-size: 14px; }
  .shop-menu-selector:hover {
    color: #84C348; }

.shop-product-share-button {
  position: absolute;
  width: 50%;
  height: 40px;
  font-size: 16px;
  top: 0;
  left: 0; }
  .shop-product-share-button button {
    width: 100%;
    height: 100%;
    border: none;
    text-transform: none;
    font-size: 16px;
    padding-top: 5px; }

.product-heading {
  font-family: "Roboto Slab";
  text-transform: uppercase;
  padding-bottom: 40px; }

.shop-product-add-button {
  width: 50%;
  margin-left: auto;
  height: 40px; }
  .shop-product-add-button button {
    width: 100%;
    height: 100%;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #444444; }
    .shop-product-add-button button a {
      line-height: 30px;
      color: #fff; }

.shop-product-img-wrapper {
  max-width: 470px;
  margin-left: auto;
  margin-right: auto; }

.product-color-img-container {
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0; }
  @media screen and (max-width: 768px) {
    .product-color-img-container {
      padding-top: 40px;
      padding-left: 15px;
      padding-right: 15px; } }

.product-color-img-wrapper img {
  transition: all 0.4s;
  margin-bottom: 20px; }

.product-color-img-wrapper a:hover img {
  opacity: 0.5; }

@media screen and (max-width: 992px) {
  .product-color-img-wrapper img {
    margin-left: 20px; } }

@media screen and (max-width: 768px) {
  .product-color-img-wrapper {
    max-width: 470px;
    height: 120px;
    overflow: scroll;
    overflow-x: hidden; }
    .product-color-img-wrapper img {
      padding-left: 40px;
      display: inline-block; } }

.product-info-container {
  padding-top: 20px;
  font-family: 'Roboto Slab', serif; }
  .product-info-container h4 {
    letter-spacing: 1.8px; }
  .product-info-container h1 {
    color: #84C348; }

.info-container {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.product-info-header {
  width: 30%;
  float: left; }
  @media screen and (max-width: 479px) {
    .product-info-header {
      width: 40%;
      width: 100px; } }

.product-specify-info {
  width: 35%;
  float: left; }
  @media screen and (max-width: 1200px) {
    .product-specify-info {
      width: 40%; } }
  @media screen and (max-width: 479px) {
    .product-specify-info {
      width: 100px; } }

.radio-color input {
  display: none; }

.radio-color span:before {
  transition: all 0.4s;
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  margin-right: 8px; }

.radio-color .radio-blue span:before {
  background-color: #ABDCE1; }

.radio-color .radio-black span:before {
  background-color: #444444; }

.radio-color .radio-pink span:before {
  background-color: #DEB6B6; }

.radio-chosen:before {
  box-shadow: 0 0 0 1px #AAAAAA; }

.product-size span {
  transition: all 0.4s;
  color: #444444;
  display: inline-block;
  width: 20px;
  margin-right: 5px; }

.product-size-selected {
  background-color: #84C348;
  color: #fff !important; }

.product-quantity {
  width: 50px;
  height: 25px;
  text-align: center;
  outline: none; }
  .product-quantity::-webkit-outer-spin-button, .product-quantity::-webkit-inner-spin-button {
    opacity: 1; }

@media screen and (max-width: 768px) {
  .cart-container {
    overflow: scroll; } }

.cart-table-products button {
  border: none; }
  .cart-table-products button a {
    color: #fff; }

.cart-table-products table {
  width: 100%; }
  @media screen and (max-width: 768px) {
    .cart-table-products table {
      width: 768px; } }
  .cart-table-products table a {
    color: #444444; }
  .cart-table-products table thead, .cart-table-products table tfoot {
    line-height: 60px;
    background-color: #EEEEEE;
    margin-bottom: 40px; }
  .cart-table-products table img {
    margin-left: 0;
    margin-right: 0; }
  .cart-table-products table th {
    text-align: center; }
  .cart-table-products table td {
    text-align: center; }

.table-product-header {
  width: 180px; }
  @media screen and (max-width: 1200px) {
    .table-product-header {
      width: 145px; } }
  @media screen and (max-width: 992px) {
    .table-product-header {
      width: 105px; } }

.table-product-name {
  text-align: left !important;
  width: 300px;
  height: 300px; }
  @media screen and (max-width: 992px) {
    .table-product-name {
      width: 200px;
      height: 200px; } }
  @media screen and (max-width: 768px) {
    .table-product-name {
      height: 150px; } }

.table-second-product {
  border-top: 1px solid #AAAAAA; }

.shop-checkout-process {
  padding-left: 40px;
  padding-right: 40px; }
  @media screen and (max-width: 991px) {
    .shop-checkout-process {
      padding-left: 40px;
      padding-right: 40px; } }
  .shop-checkout-process .process-line {
    width: 100%;
    border-top: 1px solid #444444;
    position: relative; }
    .shop-checkout-process .process-line span {
      position: absolute;
      width: 70px;
      top: 20px;
      left: 0;
      text-align: center;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
    .shop-checkout-process .process-line .process-address {
      position: absolute;
      left: 0;
      transition: all 0.4s;
      width: 20px;
      height: 20px;
      left: 0;
      border-radius: 50%;
      border: 1px solid #444444;
      background-color: #fff;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .shop-checkout-process .process-line .process-address:after {
        transition: all 0.4s;
        content: ' ';
        width: 14px;
        height: 14px;
        position: absolute;
        top: 46%;
        left: 48%;
        -webkit-transform: translate(-45%, -47%);
        -ms-transform: translate(-45%, -47%);
        transform: translate(-45%, -47%);
        border-radius: 50%; }
      .shop-checkout-process .process-line .process-address:hover:after {
        background-color: #84C348; }
    .shop-checkout-process .process-line .process-payment {
      left: 50%; }
    .shop-checkout-process .process-line .text-payment {
      left: 50% !important; }
  .shop-checkout-process .process-complete {
    left: 100% !important; }
  .shop-checkout-process .text-complete {
    left: 100% !important; }

.customer-info h4 {
  letter-spacing: 2px; }

.customer-info p span {
  padding-left: 20px;
  padding-right: 20px; }
  .customer-info p span a {
    color: #84C348; }
  .customer-info p span:after {
    transition: all 0.4s;
    content: ">";
    color: #84C348;
    padding-left: 10px; }

.customer-info input {
  width: 100%;
  padding-left: 10px;
  outline: none;
  height: 35px;
  border: 1px solid #aaa;
  color: #444444; }
  .customer-info input:focus {
    border: 1px solid #84C348; }

.checkout-radio label {
  display: block; }

.checkout-radio-option input {
  display: none; }

.checkout-radio-option a {
  color: #444444; }

.checkout-radio-option span:before {
  content: " ";
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #84C348;
  border: 1px solid #FFFFFF;
  margin-right: 10px; }

.checkout-chosen:before {
  background-color: #84C348; }

.shipping-form h4 {
  text-transform: uppercase; }

.shipping-form input {
  transition: all 0.4s;
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid #aaa; }
  .shipping-form input:focus {
    border: 1px solid #84C348; }

.step-done:after {
  font-family: "aqua";
  color: #84C348;
  content: "4" !important; }

.on-step:after {
  background-color: #84C348 !important; }

.checkout-summary-header {
  background-color: #F5F4F1; }
  .checkout-summary-header h4 {
    line-height: 60px; }

.checkout-item-1 img {
  width: 25%;
  float: left; }

.checkout-item-1 .checkout-item1-info {
  width: 75%; }
  .checkout-item-1 .checkout-item1-info .checkout-item-name {
    letter-spacing: 2px;
    width: 75%;
    float: left; }
    .checkout-item-1 .checkout-item1-info .checkout-item-name a {
      display: inline-block; }
    .checkout-item-1 .checkout-item1-info .checkout-item-name p {
      color: #84C348; }

.checkout-cart-radio:before {
  content: " ";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ABDCE1;
  margin-right: 10px; }

.checkout-cart-radio:after {
  transition: all 0.4s;
  content: ' ';
  display: block;
  width: 10px;
  margin-top: -3px; }

.checkout-cart-radio-selected:after {
  border-bottom: 1px solid #AAAAAA; }

.checkout-quantity {
  width: 25%;
  margin-left: auto;
  padding-top: 20px; }
  .checkout-quantity h5 {
    padding-left: 40px; }
  .checkout-quantity span {
    padding-left: 20px; }

.checkout-cart-container {
  border: 1px solid #AAAAAA;
  box-sizing: border-box;
  max-width: 456px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 992px) {
    .checkout-cart-container {
      margin-top: 40px; } }

.checkout-price {
  background-color: #F5F4F1; }

.checkout-total-price p {
  font-size: 14px; }

.checkout-total-price span {
  color: #84C348; }

.button-checkout a {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 45px;
  display: block;
  text-align: center;
  line-height: 45px;
  font-size: 14px;
  background-color: #444444;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.4s; }
  .button-checkout a:hover {
    background-color: #84C348; }

.payment-information h4 {
  text-transform: uppercase; }

.template-fade.ng-enter {
  transition: all 0.4s ease;
  opacity: 0; }

.template-fade.ng-enter-active {
  opacity: 1; }

.template-fade.ng-leave {
  transition: all 0.4s ease;
  opacity: 1; }

.template-fade.ng-leave-active {
  opacity: 0; }

.shipping-fee-detail {
  line-height: 50px;
  background-color: #F5F4F1; }
  .shipping-fee-detail h5 {
    top: 40%; }

.billing-payment h4 {
  text-transform: uppercase; }

.credit-info {
  line-height: 50px;
  background-color: #F5F4F1; }

@media screen and (max-width: 768px) {
  .nav-container {
    display: none; } }

.nav-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.nav-container {
  transition: all 0.4s; }

.horizontal-menu {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: table; }
  .horizontal-menu li {
    position: relative;
    display: table-cell;
    text-align: center;
    color: #444444; }
    .horizontal-menu li a {
      font-weight: 400;
      font-size: 90%; }

.nav-title-dropdown {
  position: absolute;
  width: 230px;
  z-index: 100;
  display: none;
  background-color: #111111;
  left: -50px; }
  .nav-title-dropdown a {
    transition: all 0.4s;
    display: block;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-size: 16px;
    font-family: "Roboto Slab";
    font-size: 12.6px; }
    .nav-title-dropdown a:hover {
      color: #84C348; }
    .nav-title-dropdown a:after {
      content: " ";
      display: block;
      border-bottom: 1px solid #444444;
      width: 150px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px; }

.nav-title-dropbtn {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  color: #444444;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif; }
  .nav-title-dropbtn:after {
    content: " ";
    display: block;
    width: 0px;
    transition: all 0.4s;
    border-top: 1px solid #444444;
    margin-left: auto;
    margin-right: auto; }
  .nav-title-dropbtn:hover {
    color: #444444; }
    .nav-title-dropbtn:hover:after {
      width: 100%; }

.nav-title:hover .nav-title-dropdown {
  display: block; }

.menu-last-item {
  padding-bottom: 0 !important; }
  .menu-last-item:after {
    border: none !important; }

.nav-mobile-container {
  transition: all 0.4s; }
  @media screen and (min-width: 767px) {
    .nav-mobile-container {
      display: none; } }
  .nav-mobile-container .nav-mobile-logo {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px; }
    .nav-mobile-container .nav-mobile-logo img {
      height: 100%; }

.nav-compact {
  right: 15px;
  position: relative;
  width: 22px;
  height: 14px;
  display: block;
  float: right;
  margin-top: 25px;
  z-index: 100;
  top: 0; }
  .nav-compact a {
    display: block;
    height: 20px;
    width: 20px; }
  .nav-compact span {
    position: absolute;
    width: 100%;
    top: 50%;
    height: 3px;
    background-color: #444444;
    transition: all 0.4s; }
    .nav-compact span:before {
      content: " ";
      border-top: 3px solid #444444;
      width: 22px;
      display: block;
      position: absolute;
      top: 7px;
      transition: all 0.4s;
      font-weight: 600; }
    .nav-compact span:after {
      content: " ";
      border-top: 3px solid #444444;
      width: 22px;
      display: block;
      position: absolute;
      top: -7px;
      transition: all 0.4s; }

.nav-compact-fixed {
  right: 15px !important;
  position: fixed; }

.nav-mobile-menu {
  transition: all 0.4s;
  width: 380px;
  height: 100vh;
  overflow: auto;
  background-color: #EEEEEE;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99; }
  .nav-mobile-menu ul {
    padding: 0;
    margin: 0; }
    .nav-mobile-menu ul li {
      font-family: "Roboto Slab";
      text-transform: uppercase;
      display: block; }
      .nav-mobile-menu ul li a {
        color: #444444;
        font-size: 20px; }
        .nav-mobile-menu ul li a:after {
          content: " ";
          display: block;
          border-bottom: 1px solid #AAAAAA;
          width: 200px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 20px;
          margin-bottom: 30px; }
        .nav-mobile-menu ul li a:hover:after {
          border-bottom: 1px solid #444444; }

.show-menu {
  -webkit-transform: translateX(150%);
  -ms-transform: translateX(150%);
  transform: translateX(150%); }

.compact-change-icon {
  width: 0 !important; }
  .compact-change-icon:before {
    -webkit-transform-origin: 11% -9%;
    -ms-transform-origin: 11% -9%;
    transform-origin: 11% -9%;
    -webkit-transform: rotate(-46deg);
    -ms-transform: rotate(-46deg);
    transform: rotate(-46deg); }
  .compact-change-icon:after {
    -webkit-transform-origin: 12% 145%;
    -ms-transform-origin: 12% 145%;
    transform-origin: 12% 145%;
    -webkit-transform: rotate(44deg);
    -ms-transform: rotate(44deg);
    transform: rotate(44deg); }

.nav-mobile-menu-hover:hover .nav-mobile-menu-item a {
  height: 70px; }

.nav-mobile-menu-item {
  transition: all 0.4s; }
  .nav-mobile-menu-item a {
    transition: all 0.4s;
    display: block;
    height: 0;
    overflow: hidden;
    text-transform: none; }

.white-compact span {
  background-color: #fff; }
  .white-compact span:before {
    border-top: 1px solid #fff; }
  .white-compact span:after {
    border-top: 1px solid #fff; }

.service3-img1 {
  float: left; }
  @media screen and (max-width: 479px) {
    .service3-img1 {
      display: none; } }
  @media screen and (max-width: 545px) {
    .service3-img1 {
      width: 70%; } }

.service3-container-1 {
  position: relative; }
  .service3-container-1 .service3-spa-text {
    width: 50%;
    position: absolute;
    top: 10%;
    right: 0;
    z-index: 5; }
    @media screen and (max-width: 767px) {
      .service3-container-1 .service3-spa-text {
        width: 70%; } }
    @media screen and (max-width: 479px) {
      .service3-container-1 .service3-spa-text {
        position: relative;
        width: 100%; } }

.service3-text-overlay {
  background-color: rgba(198, 217, 198, 0.7);
  text-align: center;
  line-height: 1.8;
  padding: 30px 30px; }

.service3-img2 {
  float: right; }
  @media screen and (max-width: 479px) {
    .service3-img2 {
      display: none; } }

.service3-container-2 {
  position: relative; }

.service3-spa-text2 {
  width: 50%;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 5; }
  @media screen and (max-width: 767px) {
    .service3-spa-text2 {
      width: 70%; } }
  @media screen and (max-width: 479px) {
    .service3-spa-text2 {
      position: relative;
      width: 100%; } }

.service3-img3 {
  float: left;
  padding-top: 150px; }
  @media screen and (max-width: 479px) {
    .service3-img3 {
      display: none; } }
  @media screen and (max-width: 1200px) {
    .service3-img3 {
      padding-top: 100px; } }

.service3-text-overlay3 {
  text-align: center;
  line-height: 1.8;
  padding: 30px 30px;
  background-color: rgba(231, 230, 225, 0.7);
  width: 70%;
  position: absolute;
  z-index: 5;
  right: 0;
  bottom: -20%; }
  @media screen and (max-width: 1200px) {
    .service3-text-overlay3 {
      position: relative; } }

.service3-spa-text3 h3 {
  width: 30%; }

@media screen and (max-width: 1200px) {
  .service3-spa-text3 {
    width: 50%;
    position: absolute;
    right: 0;
    top: 110px; }
    .service3-spa-text3 .service3-text-overlay3 {
      width: 100%; }
    .service3-spa-text3 h3 {
      width: 100%; } }

@media screen and (max-width: 767px) {
  .service3-spa-text3 {
    width: 70%; } }

@media screen and (max-width: 479px) {
  .service3-spa-text3 {
    position: relative;
    width: 100%; } }

.service3-container-3 {
  position: relative; }

.ui-corner-top {
  border: none !important; }

.ui-state-active {
  background: #ddd !important;
  outline: none !important; }
  .ui-state-active:before {
    content: "\e170" !important; }

.ui-state-default {
  background: #ddd !important;
  outline: none !important; }

.ui-accordion {
  border: none !important; }

.ui-corner-top {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important; }

.accordion-container h3 {
  color: #444444;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  text-transform: uppercase;
  font-family: "Roboto Slab";
  letter-spacing: 1.8px !important; }
  .accordion-container h3:before {
    position: relative;
    font-family: "aqua" !important;
    font-size: 24px;
    content: "\e177";
    display: inline-block;
    vertical-align: -20%;
    margin-right: 20px !important; }

.accordion-container p {
  font-family: "Josefin Sans", sans-serif;
  font-style: italic; }

.ui-widget-content {
  border: none !important;
  background-color: #F5F5F5 !important; }

.ui-icon {
  display: none !important; }

.accordion-content {
  position: relative;
  top: -30px;
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
  height: 200px; }

.home-basic-intro {
  text-align: center;
  padding: 0px 20% 5% 20%; }
  @media screen and (max-width: 1200px) {
    .home-basic-intro {
      padding-left: 40px;
      padding-right: 40px; } }
  @media screen and (max-width: 992px) {
    .home-basic-intro {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 480px) {
    .home-basic-intro {
      padding-left: 5px;
      padding-right: 5px; } }

.basic-slide-img {
  max-width: 450px; }
  .basic-slide-img img {
    float: left;
    height: auto !important; }

.basic-slider-container {
  background-repeat: no-repeat;
  background-size: 450px 400px;
  background-position: left;
  background-color: #D9D8C1; }

.basic-slide-text {
  position: absolute;
  left: 40%;
  top: 30%;
  font-weight: 500; }
  .basic-slide-text p {
    display: inline-block; }
  .basic-slide-text .basic-slide-img {
    display: inline-block;
    max-width: 150px;
    margin-bottom: -10px;
    margin-left: 35px; }
  .basic-slide-text button {
    font-size: 10px;
    margin-top: 25px;
    padding: 6px 20px; }

.basic-slider-container2 {
  background-size: 580px 400px;
  background-color: #DEB6B6; }

.basic-slider-bgc-img {
  height: 60vh; }
  .basic-slider-bgc-img img {
    float: left; }
  @media screen and (max-width: 1200px) {
    .basic-slider-bgc-img {
      height: 350px; } }
  @media screen and (max-width: 1200px) {
    .basic-slider-bgc-img {
      height: 300px; } }

.home-shopping-img2 {
  width: 100%; }
  @media screen and (max-width: 992px) {
    .home-shopping-img2 {
      width: 100%; } }
  .home-shopping-img2 img {
    float: right; }
    @media screen and (max-width: 992px) {
      .home-shopping-img2 img {
        padding-top: 40px;
        margin-left: auto;
        margin-right: auto;
        float: none; } }

.home-shopping-img-text {
  position: absolute;
  top: 10%;
  width: 70%;
  right: 80px;
  text-transform: uppercase; }
  .home-shopping-img-text hr {
    padding-top: 2px;
    background-color: #444444;
    width: 300px;
    margin-top: 10px;
    margin-left: 150px; }
  .home-shopping-img-text h1 {
    width: 100%;
    padding-left: 20%;
    font-size: 4vw; }
    @media screen and (max-width: 768px) {
      .home-shopping-img-text h1 {
        font-size: 6vw; } }
    .home-shopping-img-text h1 span {
      font-size: 7vw; }
      @media screen and (max-width: 768px) {
        .home-shopping-img-text h1 span {
          font-size: 9vw; } }
  .home-shopping-img-text h2 {
    font-style: italic;
    font-size: 2vw; }
    @media screen and (max-width: 992px) {
      .home-shopping-img-text h2 {
        font-size: 3vw; } }
    @media screen and (max-width: 768px) {
      .home-shopping-img-text h2 {
        font-size: 4vw; } }

.tool-yoga {
  padding-left: 45%;
  text-align: right; }
  .tool-yoga:before {
    content: " ";
    display: block;
    width: 100%;
    border-top: 1px solid #444444;
    margin-bottom: 10px; }

.hot-soap {
  position: absolute;
  bottom: 35px;
  width: 100%; }
  .hot-soap h4 {
    font-style: italic;
    text-transform: uppercase; }

.home-basic-slide-container {
  height: 100vh;
  position: relative; }
  @media screen and (max-width: 767px) {
    .home-basic-slide-container {
      display: none; } }
  .home-basic-slide-container img {
    -webkit-backface-visibility: hidden;
    position: absolute;
    z-index: 7;
    left: 100px;
    top: 10%;
    max-width: 650px; }

.slick-list,
.slick-track,
.slick-slide img {
  height: 100%; }

.home-basic-slide-bg {
  height: 80%;
  position: relative; }
  .home-basic-slide-bg:after {
    content: " ";
    width: 99%;
    height: 98%;
    background-color: #D9D8C1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6; }
  .home-basic-slide-bg:before {
    content: " ";
    width: 99%;
    height: 98%;
    background-color: #C6D9C6;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5; }

.home-basic-slide-text {
  position: absolute;
  z-index: 7;
  top: 40%;
  left: 40%; }
  .home-basic-slide-text p {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px; }
  .home-basic-slide-text button {
    margin-top: 30px;
    font-size: 10px;
    font-weight: 700; }

.aqua-span {
  padding-left: 60px;
  text-transform: uppercase;
  font-size: 40px; }

.spa-span {
  color: #84C348;
  font-size: 30px; }

.home-basic-slider {
  position: relative; }

@media screen and (min-width: 768px) {
  .display-none-768 {
    display: none; } }

.home-header {
  background-color: #D9D8C1;
  text-align: center; }
  .home-header img {
    margin-top: 15%; }
  .home-header h3 {
    font-family: "Roboto Slab";
    color: #FFFFFF;
    letter-spacing: 2.0px;
    text-transform: uppercase;
    margin-top: 30px;
    padding-bottom: 60px; }

@media screen and (max-width: 767px) {
  .fullheight-big {
    display: none; } }

.fullheight-header-container {
  width: 100%; }

.fullheight-header-bgc {
  background-color: #dab2b0; }

.fullheight-header-height {
  clear: both;
  height: 100vh;
  padding-top: 150px; }
  .fullheight-header-height img {
    display: block; }

.fullheight-header-height1 img {
  display: block; }
  @media screen and (max-width: 1200px) {
    .fullheight-header-height1 img {
      max-height: 80%;
      position: relative;
      top: 160px; } }
  @media screen and (max-width: 992px) {
    .fullheight-header-height1 img {
      max-height: 70%;
      position: relative;
      top: 250px; } }

.fullheight-navbar-container {
  position: absolute;
  width: 100%;
  top: 50px;
  z-index: 900; }

.fullheight-navbar .horizontal-menu {
  margin-top: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(255, 255, 255, 0.5); }
  @media screen and (max-width: 1200px) {
    .fullheight-navbar .horizontal-menu {
      margin-top: 10px; } }

@media screen and (max-width: 992px) {
  .fullheight-header-height2 img {
    position: relative;
    top: -100px; } }

.slick-slide {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.fullheight-header-bgc2 {
  background-color: #ABDCE1; }

.fullheight-header-img2 {
  width: 50%;
  margin-right: auto;
  padding-left: 40px; }
  .fullheight-header-img2 img {
    margin-top: 120px; }
  @media screen and (max-width: 1200px) {
    .fullheight-header-img2 img {
      height: 700px; } }
  @media screen and (max-width: 992px) {
    .fullheight-header-img2 img {
      padding-top: 150px;
      top: 0px; } }

.fullheight-header-text2 {
  position: absolute;
  left: 62%;
  top: 30%;
  z-index: 10; }
  @media screen and (max-width: 1200px) {
    .fullheight-header-text2 {
      font-size: 2vw;
      padding-top: 60px; } }
  @media screen and (max-width: 992px) {
    .fullheight-header-text2 {
      padding-top: 150px; } }
  .fullheight-header-text2 h2 {
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    font-size: 36px; }
    @media screen and (max-width: 1200px) {
      .fullheight-header-text2 h2 {
        font-size: 3vw; } }
  .fullheight-header-text2 ul {
    padding-top: 10px;
    margin: 0;
    list-style: disc; }
    .fullheight-header-text2 ul li {
      font-weight: 300;
      font-size: 20px;
      padding-bottom: 10px; }
      @media screen and (max-width: 1200px) {
        .fullheight-header-text2 ul li {
          font-size: 2vw; } }
  .fullheight-header-text2 button {
    margin-top: 30px; }

.fullheight-small {
  background-color: #C6D9C6;
  padding-bottom: 50px;
  letter-spacing: 2px; }
  @media screen and (min-width: 768px) {
    .fullheight-small {
      display: none; } }
  .fullheight-small .nav-compact {
    margin-top: 35px; }
  .fullheight-small img {
    display: block; }
  .fullheight-small h3 {
    color: #fff;
    padding-top: 30px;
    text-align: center;
    font-family: "Roboto Slab"; }
  .fullheight-small .small-logo {
    position: relative; }
    .fullheight-small .small-logo img {
      position: absolute;
      top: 15px;
      left: 20px;
      height: 70px;
      width: 120px; }

@media screen and (max-width: 767px) {
  .fullwidth-big {
    display: none; } }

.home-fullwidth-header .fullheight-small {
  background-color: #D9D8C1; }

.home-fullwidth .banner-frame {
  margin-top: 60px; }

.home-fullwidth .nav-logo {
  text-align: center; }
  .home-fullwidth .nav-logo img {
    display: inline-block; }

.home-fullwidth .footer-container-dark {
  background-color: #2b2b2b; }
  .home-fullwidth .footer-container-dark .footer-container {
    color: #aaa; }
    .home-fullwidth .footer-container-dark .footer-container h4 {
      color: #fff; }
    .home-fullwidth .footer-container-dark .footer-container button {
      color: #fff;
      border: 1px solid #aaa; }
      .home-fullwidth .footer-container-dark .footer-container button:hover {
        background-color: #444444;
        color: #FFFFFF; }
  .home-fullwidth .footer-container-dark .footer-icon-social a {
    color: #666666;
    transition: all 0.4s; }
    .home-fullwidth .footer-container-dark .footer-icon-social a:hover {
      color: #84C348; }
  .home-fullwidth .footer-container-dark .signature h5 {
    color: #aaa;
    letter-spacing: 2.2px;
    font-size: 16px; }

.fullheight-welcome {
  padding-top: 60px; }
  .fullheight-welcome h3 {
    padding-bottom: 40px; }

.home-fullheight .nav-compact {
  right: 15px; }

.home-fullheight hr {
  width: 50%; }

.home-fullheight .testimonial-bgc {
  margin-top: 40px; }

.home-fullheight .footer-container-dark {
  background-color: #2b2b2b; }
  .home-fullheight .footer-container-dark .footer-container {
    color: #aaa; }
    .home-fullheight .footer-container-dark .footer-container h4 {
      color: #fff; }
    .home-fullheight .footer-container-dark .footer-container button {
      color: #fff;
      border: 1px solid #aaa; }
      .home-fullheight .footer-container-dark .footer-container button:hover {
        background-color: #444444;
        color: #FFFFFF; }
  .home-fullheight .footer-container-dark .footer-icon-social a {
    color: #666666;
    transition: all 0.4s; }
    .home-fullheight .footer-container-dark .footer-icon-social a:hover {
      color: #84C348; }
  .home-fullheight .footer-container-dark .signature h5 {
    color: #aaa;
    letter-spacing: 2.2px;
    font-size: 16px; }

.home-onepage-service {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ABDCE1; }
  .home-onepage-service .home-onepage-service-img {
    padding: 45px 20px 45px 20px; }
  .home-onepage-service .home-onepage-service-accordion {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px; }
    .home-onepage-service .home-onepage-service-accordion .ui-state-default {
      background-color: #c9e9ec !important;
      border: 1px solid #fff !important; }
    .home-onepage-service .home-onepage-service-accordion .ui-state-active {
      background-color: #fff !important; }
    .home-onepage-service .home-onepage-service-accordion h3 {
      margin-bottom: 30px;
      transition: all 0.4s; }

.home-onepage hr {
  height: 1px; }

.home-onepage .accordion-content {
  background-color: #c9e9ec !important; }

.home-onepage .onepage-welcome {
  padding-top: 250px !important; }
  @media screen and (max-width: 768px) {
    .home-onepage .onepage-welcome {
      padding-top: 50px !important; } }

.home-onepage .basic-slider {
  top: 180px; }

.home-onepage .fullheight-navbar-container {
  top: 50px; }

.home-onepage hr {
  width: 80%;
  margin-bottom: 60px; }

.home-onepage .nav-logo {
  text-align: center; }
  .home-onepage .nav-logo img {
    display: inline-block; }

.home-onepage .footer-container-dark {
  background-color: #2b2b2b; }
  .home-onepage .footer-container-dark .footer-container {
    color: #aaa; }
    .home-onepage .footer-container-dark .footer-container h4 {
      color: #fff; }
    .home-onepage .footer-container-dark .footer-container button {
      color: #fff;
      border: 1px solid #aaa; }
      .home-onepage .footer-container-dark .footer-container button:hover {
        background-color: #444444;
        color: #FFFFFF; }
  .home-onepage .footer-container-dark .footer-icon-social a {
    color: #666666;
    transition: all 0.4s; }
    .home-onepage .footer-container-dark .footer-icon-social a:hover {
      color: #84C348; }
  .home-onepage .footer-container-dark .signature h5 {
    color: #aaa;
    letter-spacing: 2.2px;
    font-size: 16px; }

.home-onepage .horizontal-menu {
  margin-top: 15px;
  padding-left: 45px;
  padding-right: 45px; }
  @media screen and (max-width: 992px) {
    .home-onepage .horizontal-menu {
      margin-top: 0;
      padding-left: 0;
      padding-right: 0; } }
  .home-onepage .horizontal-menu li {
    font-size: 14px; }

.home-onepage .nav-compact {
  right: 0 !important;
  margin-right: 25px !important; }

@media screen and (max-width: 992px) {
  .onepage-brand-img img {
    max-height: 60px !important; } }

.home-shopping-brand {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #444444;
  display: inline-block;
  padding: 10px; }
  .home-shopping-brand img {
    max-height: 60px; }

.home-update1 {
  background-color: #EEEEEE; }
  .home-update1 .home-update1-service4 {
    margin-top: -80px; }
    @media screen and (max-width: 992px) {
      .home-update1 .home-update1-service4 {
        margin-top: 40px; } }
  .home-update1 .nav-compact {
    right: 0px; }
  .home-update1 .update1-about-container {
    position: relative !important;
    top: -150px !important;
    background-color: #fff; }
    @media screen and (max-width: 992px) {
      .home-update1 .update1-about-container {
        top: 0 !important; } }
  .home-update1 .service45-contain {
    background-color: #fff; }
  .home-update1 .home-update1-service7 {
    background-color: #fff; }
  .home-update1 .home-onepage-service {
    background-color: #fff; }
    .home-update1 .home-onepage-service h3 {
      margin-bottom: 30px; }
  .home-update1 .onepage-advertise-container {
    background-color: #9DCF67; }
  .home-update1 .update1-testimonial {
    background-color: #fff; }
  .home-update1 .update1-relate-posts {
    padding-bottom: 100px;
    text-align: left;
    padding-top: 100px; }
    .home-update1 .update1-relate-posts h3 {
      text-align: left; }
      .home-update1 .update1-relate-posts h3:after {
        margin-left: 0 !important; }
    .home-update1 .update1-relate-posts .update1-relate-single-post {
      max-width: 370px;
      margin-left: auto;
      margin-right: auto;
      background-color: #fff;
      padding-top: 40px;
      margin-bottom: 30px;
      padding-left: 30px;
      padding-right: 30px; }
      .home-update1 .update1-relate-posts .update1-relate-single-post .update1-relate-single-post-img {
        overflow: hidden;
        position: relative; }
        .home-update1 .update1-relate-posts .update1-relate-single-post .update1-relate-single-post-img img {
          transition: all 0.4s; }
        .home-update1 .update1-relate-posts .update1-relate-single-post .update1-relate-single-post-img a:hover img {
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1); }
        .home-update1 .update1-relate-posts .update1-relate-single-post .update1-relate-single-post-img a:hover:after {
          opacity: 1; }
        .home-update1 .update1-relate-posts .update1-relate-single-post .update1-relate-single-post-img a:after {
          content: ' ';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0;
          background-color: rgba(255, 255, 255, 0.6);
          transition: all 0.4s; }
      .home-update1 .update1-relate-posts .update1-relate-single-post .update1-relate-single-post-content {
        padding-bottom: 50px; }
        .home-update1 .update1-relate-posts .update1-relate-single-post .update1-relate-single-post-content h4 {
          padding-top: 40px;
          font-family: "Roboto Slab";
          letter-spacing: 2.2px; }
        .home-update1 .update1-relate-posts .update1-relate-single-post .update1-relate-single-post-content h5 {
          font-style: italic;
          padding-bottom: 10px; }
  .home-update1 .update1-membership {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px; }
  .home-update1 .footer-container-dark {
    background-color: #2b2b2b; }
    .home-update1 .footer-container-dark .footer-container {
      color: #aaa; }
      .home-update1 .footer-container-dark .footer-container h4 {
        color: #fff; }
      .home-update1 .footer-container-dark .footer-container button {
        color: #fff;
        border: 1px solid #aaa; }
        .home-update1 .footer-container-dark .footer-container button:hover {
          background-color: #444444;
          color: #FFFFFF; }
    .home-update1 .footer-container-dark .footer-icon-social a {
      color: #666666;
      transition: all 0.4s; }
      .home-update1 .footer-container-dark .footer-icon-social a:hover {
        color: #84C348; }
    .home-update1 .footer-container-dark .signature h5 {
      color: #aaa;
      letter-spacing: 2.2px;
      font-size: 16px; }

.blog-link {
  color: #444444; }
  .blog-link:hover {
    color: #444444; }

.update1-header .fullheight-header-bgc {
  background-color: transparent; }

.update1-header .fullheight-header-height {
  padding-top: 0;
  height: 100vh !important; }
  @media screen and (max-width: 992px) {
    .update1-header .fullheight-header-height {
      height: auto !important; } }
  .update1-header .fullheight-header-height img {
    height: auto;
    width: 100%; }

@media screen and (max-width: 767px) {
  .update1-header .fullheight-big {
    display: block !important; } }

.update1-header .fullheight-small {
  display: none !important; }

@media screen and (max-width: 768px) {
  .update1-header .update1-header-brand img {
    height: 70px;
    width: auto;
    padding: 10px 0;
    float: left; } }

@media screen and (max-width: 768px) {
  .update1-header .fullheight-navbar-container {
    top: 0 !important;
    right: 0 !important; } }

.update1-team-member .update1-team-member-img {
  transition: all 0.4s; }
  .update1-team-member .update1-team-member-img img {
    transition: all 0.4s;
    opacity: 0.9;
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97); }
  .update1-team-member .update1-team-member-img:hover img {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.home-update2 {
  background-color: #eee; }
  .home-update2 .home-onepage-service {
    padding-top: 40px; }
  .home-update2 .nav-compact {
    right: 0px; }
    .home-update2 .nav-compact span {
      color: #fff; }
  @media screen and (max-width: 768px) {
    .home-update2 .home-update2-brand img {
      height: 70px;
      width: auto;
      float: left;
      padding: 10px 0; } }
  .home-update2 .nav-mobile-menu {
    margin-right: -15px; }
  @media screen and (max-width: 767px) {
    .home-update2 .fullheight-big {
      display: block !important; } }
  @media screen and (max-width: 992px) {
    .home-update2 .home-update2-navbar-large-container {
      display: none !important; } }
  @media (max-width: 991px) and (min-width: 768px) {
    .home-update2 .home-update2-navbar-small-container {
      margin-top: 40px; } }
  @media screen and (min-width: 993px) {
    .home-update2 .home-update2-navbar-small-container {
      display: none !important; } }
  .home-update2 .fullheight-header-height {
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative; }
    @media screen and (max-width: 767px) {
      .home-update2 .fullheight-header-height {
        height: auto !important; } }
  .home-update2 .fullheight-navbar-container {
    top: 0 !important; }
  .home-update2 .home-update2-header-content {
    display: table;
    width: 100%;
    height: 100%; }
    .home-update2 .home-update2-header-content .table-row-div {
      display: table-cell;
      width: 100%;
      vertical-align: middle; }
      .home-update2 .home-update2-header-content .table-row-div img {
        opacity: 0.8;
        transition: all 0.4s; }
        @media (max-width: 991px) {
          .home-update2 .home-update2-header-content .table-row-div img {
            width: 80px; } }
        .home-update2 .home-update2-header-content .table-row-div img:hover {
          opacity: 1; }
    @media screen and (max-width: 992px) {
      .home-update2 .home-update2-header-content {
        padding-top: 130px;
        padding-bottom: 50px; } }
    @media screen and (max-width: 768px) {
      .home-update2 .home-update2-header-content {
        padding-top: 60px;
        padding-bottom: 50px; } }
    .home-update2 .home-update2-header-content a {
      display: block; }
    .home-update2 .home-update2-header-content p {
      padding-bottom: 40px;
      padding-top: 50px;
      font-size: 60px;
      color: #fff;
      text-align: center; }
      @media screen and (max-width: 992px) {
        .home-update2 .home-update2-header-content p {
          font-size: 30px; } }
      @media screen and (max-width: 768px) {
        .home-update2 .home-update2-header-content p {
          font-size: 20px; } }
  .home-update2 .horizontal-menu {
    background-color: transparent; }
    @media (max-width: 991px) and (min-width: 768px) {
      .home-update2 .horizontal-menu {
        background-color: rgba(255, 255, 255, 0.5) !important; } }
  .home-update2 .down-arrow {
    position: absolute;
    display: block;
    left: 0;
    bottom: 40px;
    width: 100%; }
    .home-update2 .down-arrow a {
      width: 40px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      border: 1px solid #fff;
      height: 40px;
      display: block;
      line-height: 40px; }
      .home-update2 .down-arrow a:before {
        font-family: "aqua" !important;
        content: "a";
        transition: all 0.4s;
        font-size: 25px;
        color: #fff;
        margin-left: 7px; }
  .home-update2 .update2-about-content-container {
    background-color: #fff; }
  .home-update2 .update2-service4 {
    background-color: #fff; }
    .home-update2 .update2-service4 h4 {
      transition: all 0.4s; }
      .home-update2 .update2-service4 h4:hover {
        color: #84C348; }
  .home-update2 .home-onepage-service {
    background-color: transparent; }
    .home-update2 .home-onepage-service h3 {
      margin-bottom: 30px; }
  .home-update2 .onepage-advertise-container {
    background-color: #fff; }
    .home-update2 .onepage-advertise-container p {
      color: #444444 !important; }
    .home-update2 .onepage-advertise-container button {
      border: 1px solid #000000; }
      .home-update2 .onepage-advertise-container button:hover {
        border: 1px solid #84C348; }
  .home-update2 .white-bgc {
    background-color: #fff; }

.about-us .nav-compact {
  right: 0px; }

.about-us hr {
  width: 90%;
  margin-top: 5px; }

.about-us .about-seperator {
  width: 50%; }

.about-us .banner-frame {
  margin-top: 50px; }

.menu-hr {
  width: 90%;
  margin-top: 5px; }
  @media screen and (max-width: 768px) {
    .menu-hr {
      display: none; } }

.service .nav-compact {
  right: 0px; }

.service hr {
  width: 90%;
  margin-top: 5px; }

.service-quote {
  margin-bottom: 30px; }
  .service-quote h4 {
    color: #84C348;
    text-align: right;
    padding-top: 30px; }
  .service-quote p {
    padding-top: 30px;
    font-style: italic;
    line-height: 25px; }
    .service-quote p:before {
      content: open-quote;
      font-style: italic;
      font-size: 30px;
      line-height: 16px; }
    .service-quote p:after {
      content: close-quote;
      font-style: italic;
      font-size: 30px; }

.checkout-like hr {
  height: 2px;
  background-color: #84C348; }

.contact .map {
  width: 100%;
  height: 450px;
  padding: 10px;
  border: 1px solid #AAAAAA; }

.contact .contact-location {
  position: relative;
  line-height: 40px !important; }
  .contact .contact-location:before {
    content: "\e0df";
    font-family: "aqua";
    position: absolute;
    top: -2px;
    left: -25px; }

.contact .contact-web {
  position: relative; }
  .contact .contact-web:before {
    content: "\e0dd";
    font-family: "aqua";
    position: absolute;
    top: -2px;
    left: -25px; }

.contact .contact-phone {
  position: relative; }
  .contact .contact-phone:before {
    content: "\e066";
    font-family: "aqua";
    position: absolute;
    top: -2px;
    left: -25px; }

.contact .contact-fax {
  position: relative; }
  .contact .contact-fax:before {
    content: "\e04f";
    font-family: "aqua";
    position: absolute;
    top: -2px;
    left: -25px; }

.contact .contact-email {
  position: relative; }
  .contact .contact-email:before {
    content: "\e105";
    font-family: "aqua";
    position: absolute;
    top: -2px;
    left: -25px; }

.contact .contact-info {
  line-height: 30px;
  margin-bottom: 20px; }
  .contact .contact-info a {
    color: #84C348; }

.contact .contact-form h4 {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px; }
  .contact .contact-form h4:after {
    margin-left: 0; }

.contact .contact-form input {
  width: 100%;
  outline: none;
  color: #444444;
  margin-bottom: 20px;
  height: 40px;
  border: 1px solid #444444;
  padding-left: 10px;
  transition: all 0.4s; }
  .contact .contact-form input:focus {
    border: 1px solid #84C348; }

.contact .contact-form textarea {
  width: 100%;
  outline: none;
  color: #444444;
  border: 1px solid #444444;
  padding-left: 10px;
  width: 100%;
  margin-bottom: 15px; }

.contact .contact-form button {
  background-color: #84C348;
  border: 1px solid #84C348;
  color: #fff;
  padding: 5px 35px;
  font-size: 14px; }
  .contact .contact-form button:hover {
    background-color: #444444; }

.checkout-like .item-container {
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .checkout-like .item-container:nth-child(2n) .like-item img {
      float: right; }
    .checkout-like .item-container:nth-child(2n+1) .like-item img {
      float: left; } }

.checkout-like h4 {
  padding-left: 15px;
  text-transform: uppercase;
  font-family: "Roboto Slab";
  padding-top: 40px;
  padding-bottom: 40px; }

.checkout-like .like-item {
  overflow: hidden;
  position: relative;
  transition: all 0.4s; }
  .checkout-like .like-item img {
    transition: all 0.4s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .checkout-like .like-item:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.4s;
    opacity: 0; }

.checkout-like a:hover .like-item img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.checkout-like a:hover .like-item:after {
  opacity: 1; }

.undercontruction span {
  text-align: center; }

.undercontruction .construction-container {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px; }

.undercontruction h1 {
  font-family: "Roboto Slab"; }

.undercontruction h3 {
  font-style: italic; }

.undercontruction .clock-icon {
  font-size: 52px;
  margin-bottom: 15px;
  text-align: center; }
  .undercontruction .clock-icon:before {
    content: "\e1cc";
    font-family: "aqua";
    margin-left: auto;
    margin-right: auto; }

.undercontruction .countdown {
  width: 100px !important; }

.undercontruction .countdown-clock {
  padding-top: 40px;
  text-align: center;
  padding-bottom: 150px; }

.undercontruction .countdown-row {
  margin-left: auto;
  margin-right: auto; }

.undercontruction .is-countdown {
  border: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center; }

.undercontruction .countdown-period {
  padding-top: 10px;
  color: #444444;
  font-size: 18px; }

.undercontruction .countdown-section {
  background-color: #84C348;
  color: #fff;
  margin-top: 30px;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 90px !important;
  height: 80px !important; }

.home .home-container {
  height: 380px; }

.home .home-bgc {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #ABDCE1; }
  .home .home-bgc .home-img-container {
    padding-top: 120px; }
    .home .home-bgc .home-img-container img {
      width: 200px; }
    .home .home-bgc .home-img-container h3 {
      font-family: "Roboto Slab";
      color: #fff;
      letter-spacing: 2px;
      padding-top: 40px; }
  .home .home-bgc .home-absolute-img {
    position: absolute;
    top: 30px; }
    .home .home-bgc .home-absolute-img img {
      max-width: 100%; }

.home .home-main {
  text-align: center;
  margin-top: 150px; }
  .home .home-main h4 {
    font-family: "Roboto Slab";
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px; }
  .home .home-main a:hover .home-overlay {
    opacity: 1; }
  .home .home-main button {
    background-color: #fff; }
    .home .home-main button:hover {
      background-color: #84C348;
      color: #fff; }

.home .home-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  background-color: rgba(171, 220, 225, 0.7);
  opacity: 0; }
  .home .home-overlay .button-mod {
    width: 120px;
    height: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }

.home .home-portfolio {
  background-color: #EEEEEE;
  border: 1px solid #AAAAAA;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto; }

.home .comming-soon .home-overlay {
  background-color: transparent !important;
  opacity: 1 !important;
  color: #444444; }

.home .inlove .inlove-bgc {
  background-position: 95% 50%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ABDCE1; }
  .home .inlove .inlove-bgc h3 {
    font-family: "Roboto Slab";
    text-transform: uppercase;
    letter-spacing: 1.8px; }
  .home .inlove .inlove-bgc button {
    background-color: #fff;
    transition: all 0.4s;
    padding: 7px 25px;
    font-size: 14px;
    margin-top: 20px; }
    .home .inlove .inlove-bgc button:hover {
      background-color: #84C348; }

.signature {
  padding-top: 30px;
  padding-bottom: 30px; }
  .signature h5 {
    margin-bottom: 0 !important;
    font-family: "Roboto Slab";
    letter-spacing: 1.8px; }

.update2-slide .update2-slide-bgc {
  background-color: #9DCF67;
  padding-top: 70px;
  padding-bottom: 70px; }

@media screen and (max-width: 992px) {
  .update2-slide .update2-avatar-container {
    float: none !important; } }

.update2-slide .update2-comment {
  padding-top: 10px;
  color: #fff;
  font-style: italic;
  font-weight: 200;
  line-height: 28px;
  font-size: 18px; }
  @media screen and (max-width: 992px) {
    .update2-slide .update2-comment {
      text-align: center !important;
      padding-left: 30px;
      padding-right: 30px; } }
  @media screen and (max-width: 480px) {
    .update2-slide .update2-comment {
      padding-left: 15px;
      padding-right: 15px; } }

.update2-slide .update2-author {
  position: relative;
  width: 230px;
  text-align: center;
  float: right;
  color: #fff;
  font-style: italic; }
  @media screen and (max-width: 992px) {
    .update2-slide .update2-author {
      float: none !important;
      margin-left: auto;
      margin-right: auto; } }
  .update2-slide .update2-author p {
    width: 60%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 15;
    position: relative;
    background-color: #9DCF67; }
  .update2-slide .update2-author:before {
    content: " ";
    display: block;
    position: absolute;
    border-top: 1px solid #fff;
    top: 40%;
    width: 100%;
    z-index: 10; }

.update2-slide .update2-avatar {
  padding-top: 20px; }
  .update2-slide .update2-avatar img {
    border-radius: 50%; }

.update2-slide .slick-next:before {
  transition: all 0.4s;
  display: inline-block !important;
  font-family: "aqua" !important;
  content: "f" !important;
  opacity: 1 !important; }

.update2-slide .slick-next, .update2-slide .slick-prev {
  transition: all 0.4s;
  opacity: 0 !important; }

.update2-slide .slick-prev:before {
  transition: all 0.4s;
  display: inline-block !important;
  font-family: "aqua" !important;
  content: "e" !important;
  opacity: 1 !important; }

.update2-slide .update2-slick-content .slick-prev {
  -webkit-transform: translateX(-50px) !important;
  -ms-transform: translateX(-50px) !important;
  transform: translateX(-50px) !important;
  opacity: 1 !important;
  z-index: 10 !important; }
  @media screen and (max-width: 992px) {
    .update2-slide .update2-slick-content .slick-prev {
      -webkit-transform: translateX(50px) !important;
      -ms-transform: translateX(50px) !important;
      transform: translateX(50px) !important; } }

.update2-slide .update2-slick-content .slick-next {
  -webkit-transform: translateX(50px) !important;
  -ms-transform: translateX(50px) !important;
  transform: translateX(50px) !important;
  opacity: 1 !important;
  z-index: 10 !important; }
  @media screen and (max-width: 992px) {
    .update2-slide .update2-slick-content .slick-next {
      -webkit-transform: translateX(-50px) !important;
      -ms-transform: translateX(-50px) !important;
      transform: translateX(-50px) !important; } }

.home-basic .nav-compact {
  right: 0; }

.home-basic .home-basic-text {
  margin-top: -100px; }
  @media screen and (max-width: 768px) {
    .home-basic .home-basic-text {
      margin-top: 40px; } }

.home-basic .onepage-comment-container hr {
  height: 0; }

.home-basic-hr {
  width: 60%;
  height: 1px; }

/*# sourceMappingURL=main.css.map */