
    <div class="onepage-advertise-container clearfix">
        <div class="col-md-3 col-sm-3 col-xs-3 hidden-xs">
            <img src="app/images/advertise3.png" alt="img" class="img-responsive mr0">
        </div>
        <div class="col-md-9 col-sm-9 onepage-advertise-text">
            <p>Like what you see?<br>
                Start now with this demo or check out our other demos to find what you need.</p>
            <button class="button-primary btn-white mt40">buy now</button>
        </div>
    </div>