<div class="specialize-bgc">
    <div class="container">
        <div class="row">
            <div class="fullwidth-specialize-container clearfix">
                <div class="col-md-5">
                    <img src="app/images/specialize.jpg" alt="img" class="img-responsive">
                </div>
                <div class="col-md-7">
                    <h3 class="heading pb20">we specialize in</h3>
                    <div class="fullwidth-specialize-services">
                        <ul>
                            <li>Created from natural herbs – Ginseng roots extract</li>
                            <li>100% safe for your skin</li>
                            <li>Quality product from SpaLab</li>
                            <li>Special gifts & offers for you</li>
                            <li>Created by Medical Professionals of AQUA Spa</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>