<div class="container">
    <div class="row pb30">
       <div class="col-md-4 text-center mb40" ng-repeat="dataitem in datablock">
           <div class="ml-auto mr-auto service45-contain pt20" >
           <a href="">
                <img src="{{dataitem.image}}" alt="img" class="img-responsive pb30">
                <h4 class="heading-no-line pb15 heading-hover-underline">{{dataitem.name}}</h4>
                <p>{{dataitem.description}}</p>
           </a>
           </div>
       </div>
    </div>
</div>