<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <div class="service3-container-1 pb80 clearfix">
                <div class="service3-img1">
                    <img src="app/images/service1.jpg" alt="img" class="img-responsive">
                </div>
                <div class="service3-spa-text">
                    <h3 class="heading pb20">spa</h3>
                    <div class="service3-text-overlay">
                        <p>
                            Aqua is your go-to massage headquarters. With endless modalities and customizations, we have
                            thousands of spa and wellness locations for your next massage.
                        </p>
                        <div class="text-right">
                            <a href="">
                                <i class="icon-right106"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service3-container-2 clearfix">
                <div class="service3-img2">
                    <img src="app/images/service2.jpg" alt="img" class="img-responsive">
                </div>
                <div class="service3-spa-text2">
                    <h3 class="heading pb20">yoga</h3>
                    <div class="service3-text-overlay">
                        <p>
                            Through various yoga modalities ranging from bikram yoga (also known as hot yoga), to power
                            yoga, ashtanga yoga, and prenatal yoga, yoga has many healthy benefits for the mind, body,
                            and spirit. Originating in ancient India, the word yoga means to unite or to join, and in
                            yoga, we unite our minds and our bodies through breath.
                        </p>
                        <div class="text-right">
                            <a href="">
                                <i class="icon-right106"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="service3-container-3 clearfix">
                <div class="service3-img3">
                    <img src="app/images/service3.jpg" alt="img" class="img-responsive">
                </div>
                <div class="service3-spa-text3">
                    <h3 class="heading pt20">beauty</h3>
                    <div class="service3-text-overlay3">
                        <p>Known for its ability to remove toxins from the body and increase energy, oil pulling also
                            has tremendous beauty benefits! Routinely pulling oil can help to clear skin and more
                            notably, remove bacteria from the mouth and even whiten teeth</p>
                        <div class="text-right">
                            <a href="">
                                <i class="icon-right106"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>