<div class="container">
    <div class="row">
        <div class="pb80">
            <div class="service2-body-services pb20 mt80 clearfix"
                 style="background-image: url(app/images/service-fullwidth1.jpg)">
                <div class="service2-body-services-table-price-container col-md-8">
                    <h4 class="heading pt20 pb40 ">body services</h4>
                    <div class="service2-body-services-table-price">
                        <ul class="list-underline">
                            <li ng-repeat="dataitem in datablock">
                                <div class="title">{{dataitem.service}}</div>
                                <div class="value pl20">{{dataitem.price}}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="service2-body-services service2-background-right clearfix pb20 mt80"
                 style="background-image: url(app/images/service-fullwidth2.jpg)">
                <div class="service2-body-services-table-price-container col-md-8">
                    <h4 class="heading pt20 pb40 ">Facial treatment</h4>
                    <div class="service2-body-services-table-price">
                        <ul class="list-underline">
                            <li ng-repeat="dataitem in datablock">
                                <div class="title">{{dataitem.service}}</div>
                                <div class="value pl20">{{dataitem.price}}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="service2-body-services pb20 mt80 clearfix"
                 style="background-image: url(app/images/service-fullwidth3.jpg)">
                <div class="service2-body-services-table-price-container col-md-8">
                    <h4 class="heading pt20 pb40 ">Hands and feet</h4>
                    <div class="service2-body-services-table-price">
                        <ul class="list-underline">
                            <li ng-repeat="dataitem in datablock">
                                <div class="title">{{dataitem.service}}</div>
                                <div class="value pl20">{{dataitem.price}}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>