<div class="container">
    <div class="row">
        <div class="col-md-4 mb60" ng-repeat="dataitem in datablock">
            <div class="service45-contain fullwidth-service5-contain" ng-style="{'background-color' : dataitem.color}">
                <h3 class="heading-no-line heading-hover-underline pb25">{{dataitem.name}}</h3>
                <div class="text-container text-center">
                    <p>{{dataitem.description}}</p>
                </div>
                <img src="{{dataitem.image}}" alt="img" class="img-responsive">
            </div>
        </div>
    </div>
</div>