<div class="pos-relative clearfix">
    <div class="service7-img-container pos-relative">
        <img src="app/images/service-spec2.jpg" alt="img" class="img-responsive">
        <div class="pos-absolute div-background w100 h100 top-0 left-0"></div>
    </div>
    <div class="service7-container">
        <div class="dis-table w100 h100">
        <div class="absolute-container">
            <h1 class="heading-no-line service7-heading pb40">we specialize in</h1>
            <div class="service7-scroll">
                <ul>
                    <li>Created from natural herbs – Ginseng roots extract</li>
                    <li>100% safe for your skin</li>
                    <li>Quality product from SpaLab</li>
                    <li>Special gifts & offers for you</li>
                    <li>Created by Medical Professionals of AQUA Spa</li>
                </ul>
            </div>
            <div class="text-center pt40">
                <button class="button-primary service7-seemore-button">see more</button>
            </div>
        </div>
        </div>
    </div>
</div>