<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-4 text-center pb30" ng-repeat="dataitem in datablock">
                <div class="ml-auto mr-auto service45-contain pt30">
                    <a href="">
                        <h4 class="heading-no-line pb25 mt10">{{dataitem.name}}</h4>
                        <img src="{{dataitem.image}}" alt="img" class="img-responsive pb30">

                        <p class="pl25 pr25 pt40 pb40">{{dataitem.description}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>