<div class="container">
    <div class="row pb30">
        <div class="col-md-4 text-center" ng-repeat="dataitem in datablock">
            <div class="ml-auto mr-auto service45-contain pt20" >
                <a href="">
                    <img src="{{dataitem.image}}" alt="img" class="img-responsive pb30">
                    <h4 class="heading-no-line pb15">{{dataitem.name}}</h4>
                    <p class="pb40">{{dataitem.description}}</p>
                </a>
            </div>
        </div>
    </div>
</div>