.basic-slide-container {
  width: 1520px;
  height: 700px; }
  .basic-slide-container .basic-slide-background {
    width: 1520px;
    height: 620px; }
    .basic-slide-container .basic-slide-background:before {
      width: 1500px;
      height: 600px;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #C6D9C6; }
