.overlay-membership{
  transform: scale(0.1);
  transition: all 0.4s;
  h1 {
    font-weight: 400;
    span {
      font-size: 18px;
    }
  }

  h5 {
    font-weight: 400 !important;
  }

}

.onepage-membership-div-contain {
  button {
    a {
      color: $main-color5;
    }
  }

  border: 1px solid #aaaaaa;
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  &:hover {
    .overlay-membership {
      transform: scale(1.0);
      background-color: rgba(255, 255, 255, 0.9);
      border: 1px solid #aaaaaa;
      opacity: 1;

    }

    button {
      background-color: $main-color1;
      border-color: $main-color1;
      color: white;
      transition: all 0.4s;
      a {
        color: #fff;
      }
    }
  }

  li {
    border-top: 1px solid #aaaaaa;
    padding-top: 15px;
    padding-bottom: 15px;
    &:nth-child(1) {
      border-top: none;
    }
  }
}

.col-sm-6 {
  &:nth-child(2n+1){
    .onepage-membership-div-contain{
    @media screen and (max-width: $screen-md - 1) and (min-width: $screen-sm + 1) {
      margin-left: 0px;
    }
    }
  }

  &:nth-child(2n){
    .onepage-membership-div-contain {
      @media screen and (max-width: $screen-md - 1) and (min-width: $screen-sm + 1) {
        margin-right: 0px;
      }
    }
  }
}
