.animate-div1 {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  border: none;
  h4, button, h1 {
    opacity: 0;
    transition: all 0.2s;
  }

  h4 {
    transform: translateY(-100px);
  }

  button {
    transform: translateY(100px);
  }

}


.onepage-shop-contain-div {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  &:hover {
    .animate-div1 {
      background-color: rgba(255, 255, 255, 0.9);
      border: 1px solid #aaaaaa;
      h4, button, h1 {
        opacity: 1;
        transition: all 0.4s;
      }
      h4, button {
        transform: translateY(0px);
      }
    }
  }
}
