.shop-menu-container {
  border-bottom: 1px solid $main-color6;
  border-top: 1px solid $main-color6;
  box-sizing: border-box;
  line-height: 20px;
  padding-top: 15px;
  span {
    color: $main-color1;
  }

  ul {
    vertical-align: middle;
    padding-left: 0;
    text-align: center;


    position: relative;
    @media screen and (min-width: $screen-md) {
      margin-left: -75px;
      margin-right: -75px;
      display: inline-block;
    }
    li {
      display: inline-block;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 14px;
      margin: 0px 15px;
      a {
        outline: none;
        color: $main-color5;
        text-transform: uppercase;
        font-family: 'Roboto Slab', serif;
        text-align: center;
        &:after {
          content: " ";
          transition: all 0.4s;
          display: block;
          border-bottom: 1px solid $main-color5;
          width: 0;
          margin-left: auto;
          margin-right: auto;
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}

.shop-menu-selector {
  background-color: transparent;
  margin-right: 20px;
  height: 30px;
  margin-top: -5px;
  outline: none;
  border: none;
  transition: all 0.4s;
  font-size: 14px;
  &:hover {
    color: $main-color1;
  }
}
