.homepage-shop-div-contain {
  max-width: 270px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;

  .homepage-shop-overlay{
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #aaaaaa;
    opacity: 0;
    transition: all 0.4s;
  }

  &:hover {
    #cart {
      transform: translate(-25px, -5px);
    }

    #heart {
      transform: translate(25px,0px);
    }

    .homepage-shop-overlay {
      opacity: 1;
    }
  }

  a {
    border: 1px solid $main-color5;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 43px;
    font-size: 16px;
    display: inline-block;
    transition: all 0.4s;

    &:hover {
      background-color: $main-color5;
      i {
        color: white;
      }
    }
    i {
      line-height: 45px;
      font-size: 16px;
      color: $main-color5;
    }
  }

  hr {
    transform: rotate(-45deg);
    border-top: 1px solid $main-color5;
    width: 60px;
    margin: 0px;
    margin-left: 80px;
    @media screen and (max-width: $screen-lg) and (min-width: $screen-md) {
      transform: rotate(-45deg) translate(-15px, -20px) !important;
    }
  }
}

#cart{
  transform: translate(-50px, 20px);
}

#heart{
  transform: translate(50px, -25px);
}

.homepage-shop-item-contain {

  p {
    color: $main-color1;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: $font-size-2;
    span {
      margin-right: 20px;
      color: $main-color6;
      text-decoration: line-through;
    }
  }
}

.no-rate {
  color: white;
  text-shadow: 0px 0px 2px $main-color5;
}

.shop-homepage-pages {
  margin-left: 0;
  padding-left: 0;
  display: inline-block;
  text-align: center;
  margin-bottom: 60px;

  li {
    display: inline-block;
    a {

      padding-left: 10px;
      padding-right: 10px;
      width: 40px;
      height: 40px;
      margin-left: 2px;
      margin-right: 2px;
      border: 1px solid $main-color6;

      line-height: 45px;
      display: block;
      width: 40px;
      height: 40px;
      transition: all 0.4s;
      color: $main-color5;
      &:hover {
        color: #fff;
        background-color: $main-color1;
      }
    }
  }

  .shop-arrow {
    a {
      line-height: 44px;
      width: 50px;
    }
  }
}
