.shop-checkout-process {
  padding-left: 40px;
  padding-right: 40px;
  @media screen and (max-width: 991px){
    padding-left: 40px;
    padding-right: 40px;
  }
  .process-line {
    width: 100%;
    border-top: 1px solid $main-color5;
    position: relative;



    span {
      position: absolute;
      width: 70px;
      top: 20px;
      left: 0;
      text-align: center;
      transform: translate(-50%, 0);
    }

    .process-address {
      position: absolute;
      left: 0;
      transition: all 0.4s;
      width: 20px;
      height: 20px;
      left: 0;
      border-radius: 50%;
      border: 1px solid $main-color5;
      background-color: #fff;
      transform: translate(-50%, -50%);



      &:after {
        transition: all 0.4s;
        content: ' ';
        width: 14px;
        height: 14px;
        position: absolute;
        top: 46%;
        left: 48%;
        transform: translate(-45%, -47%);
        border-radius: 50%;
      }

      &:hover {
        &:after {
          background-color: $main-color1;
        }
      }
    }

    .process-payment {
      left: 50%;
    }

    .text-payment {
      left: 50% !important;
    }
  }

  .process-complete {
    left: 100% !important;
  }

  .text-complete {
    left: 100% !important;
  }
}

.customer-info {


  h4 {
    letter-spacing: 2px;
  }

  p {
    span {
      padding-left: 20px;
      padding-right: 20px;
      a {
        color: $main-color1;
      }
      &:after {
        transition: all 0.4s;
        content: ">";
        color: $main-color1;
        padding-left: 10px;
      }
    }
  }

  input {
    width: 100%;
    padding-left: 10px;
    outline: none;
    height: 35px;
    border: 1px solid #aaa;
    color: $main-color5;
    &:focus {
      border: 1px solid $main-color1;
    }
  }
}

.checkout-radio {
  label {
    display: block;
  }
}

.checkout-radio-option {
  input {
    display: none;
  }
  a {
    color: $main-color5;
  }
  span:before {

    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    border-radius: 50%;
    box-shadow: 0 0 0 1px $main-color1;
    border: 1px solid #FFFFFF;
    margin-right: 10px;
  }
}

.checkout-chosen {
  &:before {
    background-color: $main-color1;
  }
}

.shipping-form {
  h4 {
    text-transform: uppercase;
  }
  input {
    transition: all 0.4s;
    outline: none;
    width: 100%;
    height: 40px;
    border: 1px solid #aaa;
    &:focus {
      border: 1px solid $main-color1;
    }
  }
}

.step-done {
  &:after {
    font-family: "aqua";
    color: $main-color1;
    content: "4" !important;
  }
}

.on-step {
  &:after {
    background-color: $main-color1 !important;
  }
}

.checkout-summary-header {
  h4 {line-height: 60px;}
  background-color: #F5F4F1;
}

.checkout-item-1 {
  img {
    width: 25%;
    float: left;
  }
  .checkout-item1-info {
    width: 75%;
    .checkout-item-name {
      letter-spacing: 2px;
      width: 75%;
      float: left;
      a {
        display: inline-block;
      }

      p {
        color: $main-color1;
      }
    }
  }
}

.checkout-cart-radio {
  &:before {
    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $main-color3;
    margin-right: 10px;
  }

  &:after {
    transition: all 0.4s;
    content: ' ';
    display: block;
    width: 10px;
    margin-top: -3px;
  }
}

.checkout-cart-radio-selected {
  &:after {
    border-bottom: 1px solid $main-color6;
  }
}

.checkout-quantity {
  width:25%;
  margin-left: auto;

  padding-top: 20px;
  h5 {
    padding-left: 40px;
  }
  span {
    padding-left: 20px;
  }
}

.checkout-cart-container {
  border: 1px solid $main-color6;
  box-sizing: border-box;
  max-width: 456px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: $screen-md) {
    margin-top: 40px;
  }
}

.checkout-price {
  background-color: #F5F4F1;

}

.checkout-total-price {
  p {
    font-size: 14px;
  }
 span { color: $main-color1;}
}

.button-checkout {
  a {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 45px;
    display: block;
    text-align: center;
    line-height: 45px;
    font-size: 14px;
    background-color: $main-color5;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.4s;

    &:hover {
      background-color: $main-color1;
    }

  }
}
