.categories-contain {
  &:before {
    content: " ";
    position: absolute;
    display: block;
    border-top: 1px solid $main-color5;
    width: 100%;
    top: 50%;
    z-index: -1;
    left:0;

  }
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  text-align: center;
  li {
    display: inline-block;
    padding: 5px 30px 0px 30px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
    background-color: #fff;
    a {
      color: $main-color5;
      transition: all 0.4s;
      &:hover {
        color: $main-color1;
      }
    }

  }

  @media screen and (max-width: 612px) {
    &:before {
      border-top: none;
    }
    li {
      display: block;
      padding-bottom: 25px;
    }
  }
}

.li-clicked {
    font-size: $font-size-2 !important;
}