.shop-product-share-button {
  position: absolute;
  width: 50%;
  height: 40px;
  font-size: 16px;
  top: 0;
  left: 0;
  button {
    width: 100%;
    height: 100%;
    border: none;
    text-transform: none;
    font-size: 16px;
    padding-top: 5px;
  }
}

.product-heading {
  font-family: "Roboto Slab";
  text-transform: uppercase;
  padding-bottom: 40px;
}

.shop-product-add-button {
  width: 50%;
  margin-left: auto;
  height: 40px;


  button {
    width: 100%;
    height: 100%;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    background-color: $main-color5;
    a {
      line-height: 30px;
      color: #fff;
    }
  }

}

.shop-product-img-wrapper {
  max-width: 470px;
  margin-left: auto;
  margin-right: auto;
}

.product-color-img-container {
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
  @media screen and (max-width: $screen-sm) {
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }

  }

.product-color-img-wrapper {

  img {
    transition: all 0.4s;
    margin-bottom: 20px;
  }

  a:hover {
    img {
      opacity: 0.5;
    }
  }

  @media screen and (max-width: $screen-md){
    img {
      margin-left: 20px;
    }
  }

  @media screen and (max-width: $screen-sm){
    max-width: 470px;
    img  {
      padding-left: 40px;
      display: inline-block;
    }
    height: 120px;
    overflow: scroll;
    overflow-x: hidden;
  }
}

.product-info-container {
  h4 {
    letter-spacing: 1.8px;
  }
  padding-top: 20px;
  font-family: 'Roboto Slab', serif;
  h1 {
    color: $main-color1;
  }
}

.info-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.product-info-header {
  width: 30%;
  float: left;
  @media screen and (max-width: 479px) {
    width: 40%;
    width: 100px;
  }
}

.product-specify-info {
  width: 35%;
  float: left;
  @media screen and (max-width: 1200px) {
    width: 40%;
  }
  @media screen and (max-width: 479px) {
    width: 100px;
  }
}

.radio-color {
  input {display: none}
    span:before {
      transition: all 0.4s;
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      vertical-align: middle;
      border-radius: 50%;
      border: 2px solid #FFFFFF;
      margin-right: 8px;
    }

  .radio-blue {
    span:before {
      background-color: #ABDCE1;
      //box-shadow: 0 0 0 1px #AAAAAA;
    }
  }

  .radio-black {
    span:before {
      background-color: $main-color5;
      //box-shadow: 0 0 0 1px #AAAAAA;
    }
  }

  .radio-pink {
    span:before {
      background-color: $main-color2;
      //box-shadow: 0 0 0 1px #AAAAAA;
    }
  }
}

.radio-chosen {
  &:before {
    box-shadow: 0 0 0 1px #AAAAAA;
  }
}

.product-size {
  span {
    transition: all 0.4s;
    color: $main-color5;
    display: inline-block;
    width: 20px;
    margin-right: 5px;
  }
}

.product-size-selected {
  background-color: $main-color1;
  color: #fff !important;
}

.product-quantity {
  width: 50px;
  height: 25px;
  text-align: center;
  outline: none;
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    opacity: 1;
  }
}