.cart-container {
  @media screen and (max-width: $screen-sm) {
    overflow: scroll;
  }


}

.cart-table-products {

  button {
    border: none;
    a {
      color: #fff;
    }
  }

  table {


    @media screen and (max-width: $screen-sm) {
      width: $screen-sm;
    }

    a {
      color: $main-color5;
    }
    thead, tfoot {
      line-height: 60px;
      background-color: #EEEEEE;
      margin-bottom: 40px;
    }
    img {
      margin-left: 0;
      margin-right: 0;
    }
    width: 100%;
    th {
      text-align: center;
    }

    td {
      text-align: center;
    }
  }
}

.table-product-header {
  width: 180px;
  @media screen and (max-width: $screen-lg) {
    width: 145px;
  }

  @media screen and (max-width: $screen-md) {
    width: 105px;
  }
}

.table-product-name {
  text-align: left !important;
  width: 300px;
  height: 300px;
  @media screen and (max-width: $screen-md){
    width: 200px;
    height: 200px;
  }

  @media screen and (max-width: $screen-sm) {
    height: 150px;
  }
}

.table-second-product {
  border-top: 1px solid $main-color6;
}
