.payment-information {
  h4 {
    text-transform: uppercase;
  }
}

.template-fade.ng-enter {
  transition: all 0.4s ease;
  opacity: 0;
}

.template-fade.ng-enter-active {
  opacity: 1;
}

.template-fade.ng-leave {
  transition: all 0.4s ease;
  opacity: 1;
}

.template-fade.ng-leave-active {
  opacity: 0;
}

.shipping-fee-detail {
  line-height: 50px;
  background-color: #F5F4F1;
  h5 {
    top: 40%;
  }
}

.billing-payment {
  h4 {
    text-transform: uppercase;
  }
}

.credit-info {
  line-height: 50px;
  background-color: #F5F4F1;
}