.update2-about-context {

  padding-left: 150px;
  padding-right: 150px;

  @media screen and (max-width: $screen-lg) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.update2-about-container {
  padding-top: 150px;
  margin-top: 40px;

  img {
    position: absolute;
    border-radius: 50%;
    border: 5px solid #FFFFFF;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -145px;
    
    @media screen and (max-width: $screen-md) {
      width: 220px;
      height: 220px;
    }
  }
}

.update2-about-content-container{
  padding-top: 180px;
  @media screen and (max-width: $screen-md) {
    padding-top: 100px;
  }
}